@use '../abstracts' as *;

// 背景上下的黑邊框
%body-pseudo-element {
  position: absolute;
  z-index: -1;

  width: 100%;
  background: $black;

  content: "";
}

body {
  position: relative;

  background: $bg-wood;

  // font-family: $font-family;

  &::before {
    @extend %body-pseudo-element;
    top: 0;
    height: px2rem(120);
  }

  &::after {
    @extend %body-pseudo-element;
    bottom: 0;
    height: px2rem(400);

    @include breakpoint-up(tablet) {
      height: px2rem(270);
    }
  }
}