@use '../abstracts' as *;

footer {
  margin-top: 1rem;

  @include breakpoint(mobile) {
    margin-top: 5rem;
  }

  .social {
    display: grid;
    padding: $gap-outer;
    gap: 2rem;

    background: $bg-notes;
    @include normalShadow;


    @include breakpoint(tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint(PC) {
      grid-template-columns: repeat(4, 1fr);
    }

    background-color: $white;

    .heading {
      margin-bottom: $gap-inner;

      text-transform: uppercase;
    }

    .bg_gray {
      background-color: #e7e7e7;
    }
  }

  .contacts {
    margin-top: px2rem(16);
  }

  .bottom_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    @include breakpoint(PC) {
      flex-direction: row;
      gap: 0;
    }

    padding-block: $gap-inner;

    color: $gray-500;

    .contacts {
      order: -2;
    }

    .bottom_nav {
      order: -1;

      @include breakpoint(PC) {
        order: 1;
      }
    }

    .copyright {

      span {
        text-transform: uppercase;
      }

      a {
        color: $green;
      }
    }
  }
}