@use '../abstracts/' as *;

@use '../components/contacts';

header {
  display: flex;
  justify-content: center;
  padding: 36px 40px;
  margin-block: 8px 20px;
  background: $bg-notes;

  @include breakpoint(tablet) {
    justify-content: space-between;
  }
}