@use '../abstracts/' as *;

header {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 36px 40px;
  margin-block: 8px 20px;

  background: $bg-notes;
  @include normalShadow;

  @include breakpoint-up(tablet) {
    justify-content: space-between;
  }

  h1 {
    img {
      vertical-align: bottom;
    }
  }
}
