@use '../abstracts/' as *;

@use '../components/service';
@use '../components/welcome';
@use '../components/choose_us';
@use '../components/news_and_events';
@use '../components/featured';

main {
  .main_content {
    position: relative;

    padding-inline: $gap-outer;

    background: $bg-notes;

    box-shadow: 0 0 3px;

    .service_list {
      $shift: $gap_inner;
      $bottom-space: 50px;

      display: grid;
      gap: $shift;

      position: relative;

      // 在小螢幕時，向跑馬燈突出
      margin-bottom: calc($bottom-space + $shift);
      top: $shift;

      @include breakpoint(tablet) {
        grid-template-columns: repeat(2, 1fr);

        // 在小螢幕時，遠離跑馬燈
        top: -$shift;
        margin-bottom: calc($bottom-space - $shift);
      }

      @include breakpoint(PC) {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    .more_info {
      display: grid;
      gap: $gap-inner;

      @include breakpoint(PC) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .component {
      .heading {
        margin-bottom: $gap-inner;

        font-size: 2rem;
        text-transform: uppercase;
      }

      p {
        color: $gray-400;

        font-weight: 500;
      }

      .more_link {
        color: $black;
        &:hover {
          color: $white;
          background-color: $green;
        }
      }
    }
    
    .block_separator {
      margin-block: 4rem;
    }
  }
}