@use '../abstracts/' as *;

main {
  .main_content {
    position: relative;

    padding-inline: $gap-outer;
    padding-bottom: 4rem;

    background: $bg-notes;

    @include normalShadow;


    .service_list {
      $shift: $gap_inner;
      $bottom-space: 50px;

      display: grid;
      gap: $shift;

      position: relative;

      // 在小螢幕時，向跑馬燈突出
      margin-bottom: calc($bottom-space + $shift);
      top: $shift;

      @include breakpoint-up(tablet) {
        grid-template-columns: repeat(2, 1fr);

        // 在小螢幕時，遠離跑馬燈
        top: -$shift;
        margin-bottom: calc($bottom-space - $shift);
      }

      @include breakpoint-up(PC) {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    .more_info {
      display: grid;
      gap: $gap-inner;

      @include breakpoint-up(PC) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .heading {
      margin-bottom: $gap-inner;

      font-size: 2rem;
      text-transform: uppercase;
    }

    .p_gray {
      color: $gray-400;

      font-weight: 500;
    }

    .more_link {
      color: $black;

      &:hover {
        color: $white;
        background-color: $green;
      }
    }

    .block_separator {
      margin-block: 4rem;
    }
  }
}