body {
  background-image: url(../images/background.jpg);
  box-shadow: inset 0 92px #161616, inset 0 -220px #161616;
}

h1, h2, h3, p, ul, li {
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  text-transform: uppercase;
}

h3 {
  margin-bottom: 30px;
}

header {
  background: url(../images/subbg.gif);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
  outline: 1px solid #9E9E9E;
}
@media (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
header h1 {
  width: 300px;
}
header h1 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header_contact {
  display: none;
}
@media (min-width: 768px) {
  .header_contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
.header_contact p {
  font-size: 14px;
}
.header_contact p a {
  text-decoration: none;
  color: #000;
}
.header_contact p a:hover {
  color: orange;
}

.contact_social_media a {
  display: inline-block;
  width: 27px;
  height: 27px;
}
.contact_social_media a:nth-child(1) {
  background: url(../images/social.png) no-repeat 0 0;
}
.contact_social_media a:nth-child(1):hover {
  background: url(../images/social.png) no-repeat 0 -27px;
}
.contact_social_media a:nth-child(2) {
  background: url(../images/social.png) no-repeat -37px 0;
}
.contact_social_media a:nth-child(2):hover {
  background: url(../images/social.png) no-repeat -37px -27px;
}
.contact_social_media a:nth-child(3) {
  background: url(../images/social.png) no-repeat -74px 0;
}
.contact_social_media a:nth-child(3):hover {
  background: url(../images/social.png) no-repeat -74px -27px;
}
.contact_social_media a:nth-child(4) {
  background: url(../images/social.png) no-repeat -111px 0;
}
.contact_social_media a:nth-child(4):hover {
  background: url(../images/social.png) no-repeat -111px -27px;
}
.contact_social_media a:nth-child(5) {
  background: url(../images/social.png) no-repeat -150px 0;
}
.contact_social_media a:nth-child(5):hover {
  background: url(../images/social.png) no-repeat -150px -27px;
}

.navbar_search {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .navbar_search {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .nav_box {
    flex-grow: 1;
    margin-right: 10px;
  }
}

.nav_box_list {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 200%;
}

.navbar {
  padding: 0;
}
.navbar .navbar-collapse .nav-item, .navbar .navbar-collapse .dropdown-item {
  padding: 8px 10px;
  outline: 1px solid #e8e8e8;
}
.navbar .navbar-collapse .nav-item:hover, .navbar .navbar-collapse .dropdown-item:hover {
  background-color: #7fb503;
}
.navbar .navbar-collapse .nav-item a:hover, .navbar .navbar-collapse .dropdown-item a:hover {
  color: #fff;
}

.dropdown .dropdown-menu {
  padding: 0;
}

.search_box {
  outline: 1px solid #cbc2c2;
  display: flex;
  width: 300px;
  height: 35px;
  background-color: #e8e8e8;
  padding: 5px 10px;
}

.little_form {
  display: flex;
  padding: 10px;
}
.little_form .search_box {
  outline: 1px solid #cbc2c2;
  display: flex;
  width: 150px;
  height: 38px;
  background-color: #e8e8e8;
  padding: 5px 10px;
}
.little_form input {
  background-color: #e8e8e8;
  border: none;
  width: 80%;
}
.little_form button {
  background: url(../images/search.png) no-repeat 0 5px;
  background-color: #e8e8e8;
  border: none;
  width: 20%;
}
@media (min-width: 768px) {
  .little_form {
    display: none;
  }
}

.big_form {
  display: none;
}
@media (min-width: 992px) {
  .big_form {
    display: flex;
    padding: 10px 20px;
    background-color: #fff;
  }
}
.big_form .search_box {
  outline: 1px solid #cbc2c2;
  display: flex;
  width: 200px;
  height: 35px;
  background-color: #e8e8e8;
  padding: 5px 10px;
}
.big_form input {
  background-color: #e8e8e8;
  border: none;
  width: 90%;
}
.big_form button {
  background: url(../images/search.png) no-repeat 0 5px;
  background-color: #e8e8e8;
  border: none;
  width: 10%;
}

main {
  background: url(../images/subbg.gif);
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next {
  width: 40px;
  height: 130px;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: #343333;
}
.carousel .carousel-control-prev:hover,
.carousel .carousel-control-next:hover {
  background-color: #7fb503;
}

.service {
  position: relative;
  top: 0px;
}
@media (min-width: 576px) {
  .service {
    top: -45px;
  }
}
@media (min-width: 576px) {
  .service .row {
    margin: 0;
  }
}
.service p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.card_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e8e8e8;
  padding: 30px;
  outline: 1px solid #b3b3b3;
  height: 100%;
}
.card_item:hover {
  background-color: rgba(98, 98, 98, 0.8);
  color: #fff;
}
.card_item .card_item_img {
  margin-top: 20px;
  width: 70px;
  height: 70px;
}
.card_item .card_item_img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card_item h2 {
  font-size: 20px;
  flex: 1 1 0;
}
.card_item h2,
.card_item p {
  text-align: center;
  margin-top: 20px;
}
.card_item a {
  text-decoration: none;
  color: #000;
  background-color: #cdcdcd;
  display: inline-block;
  padding: 5px 10px;
  margin-top: 20px;
}
.card_item a:hover {
  background-color: #7fb503;
  color: #ffffff;
}

.introduce {
  border-bottom: 1px solid #cfcfcf;
}

.introduce_welcome {
  width: 100%;
}
.introduce_welcome p {
  margin-top: 30px;
}
.introduce_welcome .introduce_welcome_img {
  width: 100%;
}
.introduce_welcome .introduce_welcome_img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.text_more {
  text-decoration: none;
  color: #000;
  font-weight: 700;
}
.text_more:hover {
  color: #eb5611;
}

.reason {
  display: flex;
  border-bottom: 1px solid #e7e7e7;
  gap: 10px;
  margin: 10px 10px;
  padding-bottom: 20px;
}
.reason p {
  margin: auto 0;
}
.reason .reason_icon {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  width: 60px;
  height: 60px;
  background: #dadada;
  border-radius: 50%;
}
.reason .reason_icon:hover {
  background: #7fb503;
  transform: rotate(90deg);
}
.reason .reason_icon .fa-solid {
  margin: 0 auto;
  color: #fff;
}

.news_event {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.event_box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
@media (min-width: 576px) {
  .event_box {
    display: flex;
    flex-wrap: nowrap;
  }
}

.event_box_img {
  width: 100%;
}
@media (min-width: 576px) {
  .event_box_img {
    width: 40%;
  }
}
.event_box_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.event_box_text {
  margin-left: 20px;
  flex-basis: 0;
  flex-grow: 1;
}

.date {
  background: #81b700;
  color: #fff;
  width: 120px;
  font-size: 24px;
  font-weight: 700;
  padding: 5px 10px;
  text-align: center;
}

.text {
  margin-top: 10px;
}

.featured_works {
  padding-bottom: 50px;
}
.featured_works .featured_works_box {
  display: flex;
  justify-content: space-between;
}

.swiper_button_prev,
.swiper_button_next {
  background-color: transparent;
  font-size: 30px;
  color: #9E9E9E;
  border: transparent;
}

.swiper {
  width: 100%;
  height: 200px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}
.swiper-slide img {
  width: 100%;
}

.swiper-slide img:hover {
  background-color: #343333;
}

footer {
  margin-top: 50px;
}

.footer_box {
  background: url(../images/subbg.gif);
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer_box {
    display: flex;
    flex-direction: row;
  }
}

.quote {
  padding: 30px 20px 30px 30px;
  border-radius: 4px;
  background-color: #e7e7e7;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 20% 90%, 0 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 20% 90%, 0 100%);
  margin-bottom: 10px;
}
.quote p {
  padding-bottom: 40px;
}

.people {
  display: flex;
  gap: 20px;
}
.people .people_info a {
  text-decoration: none;
  color: #8BC34A;
  font-weight: 700;
}

.input_box input {
  margin-bottom: 10px;
}

textarea {
  margin-bottom: 20px;
}

.button_reset {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border: none;
}
.button_reset:hover {
  color: #eb5611;
}

.button_send {
  background-color: #7fb400;
  color: #fff;
  padding: 10px;
  border: none;
}
.button_send:hover {
  color: #eb5611;
}

.flickr_box {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.flickr_img {
  width: 65px;
}
.flickr_img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer_nav {
  display: flex;
  flex-direction: column-reverse;
  background-color: #000;
  padding: 10px 0;
}
@media (min-width: 576px) {
  .footer_nav {
    justify-content: space-between;
    flex-direction: row;
  }
}

.copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.copyright p {
  color: #cbc2c2;
  text-align: center;
}
.copyright p a {
  color: #7fb503;
  text-decoration: none;
}
.copyright p a:hover {
  color: #fff;
}

.footer_navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 576px) {
  .footer_navbar {
    display: flex;
    flex-direction: row;
  }
}
.footer_navbar > li {
  margin: 0 10px;
}
.footer_navbar > li a {
  color: #cbc2c2;
}
.footer_navbar > li a:hover {
  color: #7fb400;
}/*# sourceMappingURL=style copy.css.map */