body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(black 3%, transparent 3%, transparent 90%, black 90%), url(../images/bg.jpg);
}
body {
  margin: 0;
  min-width: 100%;
}

* {
  font-family: "Open Sans", sans-serif;
}

section,
p,
ol,
ul,
li,
a,
h1,
h2,
h3,
button,
figure,
input,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  list-style: none;
}

a {
  color: black;
  display: flex;
}

.container {
  margin: 0 auto;
  padding: 0;
}
@media (min-width: 576px) {
  .container {
    padding: 0 65px;
  }
}
@media (min-width: 992px) {
  .container {
    padding: 0 125px;
  }
}

main .news .event img, main .news .figure__body img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

main .news .event a, main .news .event__top, main .news .event__bottom, main .news .hgroup .hypergroup .symbol, main .news .hgroup .hypergroup .group, main .news .hgroup .hypergroup, main .news .hgroup, main .news .figure__body img {
  display: flex;
}

main .news {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(none, none);
  gap: 30px 30px;
  padding: 40px;
}
@media (min-width: 768px) {
  main .news {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(none, none);
    gap: 30px 30px;
  }
}
@media (min-width: 1250px) {
  main .news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(none, none);
    gap: 0 30px;
  }
}
main .news .figure {
  grid-column: 1/1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 768px) {
  main .news .figure {
    grid-column: 1/2;
  }
}
main .news .figure figcaption {
  min-width: 0;
  position: relative;
}
main .news .figure figcaption p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  font-size: 16px;
}
@media (min-width: 768px) {
  main .news .figure figcaption p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}
@media (min-width: 992px) {
  main .news .figure figcaption p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
}
@media (min-width: 1250px) {
  main .news .figure figcaption p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
  }
}
main .news .figure figcaption p span {
  background: url(../images/subbg.gif);
  background-attachment: scroll;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
}
main .news .figure figcaption p span a {
  font-weight: bold;
}
main .news .figure figcaption p span a:hover {
  color: #80B600;
}
@media (min-width: 1250px) {
  main .news .figure figcaption p span {
    display: none;
  }
}
main .news h2 {
  white-space: nowrap;
  text-transform: uppercase;
}
main .news .hgroup {
  min-width: 0;
  grid-column: 1/1;
  flex-direction: column;
  gap: 30px 0;
}
@media (min-width: 768px) {
  main .news .hgroup {
    grid-column: 2/3;
  }
}
main .news .hgroup .hypergroup {
  flex-direction: column;
  gap: 30px;
}
main .news .hgroup .hypergroup .group {
  align-items: center;
  gap: 10px;
}
main .news .hgroup .hypergroup .symbol {
  flex: 0 0 auto;
  position: relative;
  vertical-align: middle;
  width: 47px;
  height: 47px;
  background-color: #E7E7E7;
  color: white;
  border-radius: 50%;
}
main .news .hgroup .hypergroup i {
  position: absolute;
  right: 36%;
  bottom: 30%;
}
main .news .hgroup .hypergroup p {
  display: inline-block;
  font-size: 16px;
}
main .news .event {
  grid-column: 1/1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 768px) {
  main .news .event {
    grid-column: 1/3;
  }
}
@media (min-width: 1250px) {
  main .news .event {
    grid-column: 3/4;
  }
}
main .news .event img {
  flex: 0;
}
main .news .event p {
  font-size: 16px;
}
main .news .event p::before {
  margin: 0 0 30px 0;
  text-align: center;
  color: white;
  content: "12.12.12";
  font-size: 18px;
  width: 90px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #80B600;
}
main .news .event .ellipsis {
  min-width: 0;
  position: relative;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  font-size: 16px;
}
@media (min-width: 768px) {
  main .news .event .ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}
@media (min-width: 992px) {
  main .news .event .ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
}
@media (min-width: 1250px) {
  main .news .event .ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
  }
}
main .news .event span {
  background: url(../images/subbg.gif);
  background-attachment: scroll;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
}
main .news .event span a {
  font-weight: bold;
}
main .news .event span a:hover {
  color: #80B600;
}
@media (min-width: 1250px) {
  main .news .event span {
    display: none;
  }
}
main .news .event__top, main .news .event__bottom {
  gap: 30px;
}
main .news .event__both {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 992px) {
  main .news .event__both {
    flex-direction: row;
  }
}
@media (min-width: 1250px) {
  main .news .event__both {
    flex-direction: column;
  }
}

.icon {
  display: none;
  text-align: end;
}
.icon > a {
  font-size: 16px;
}
@media (min-width: 992px) {
  .icon {
    display: inline-block;
  }
}
.icon__alpha > a {
  display: inline-block;
  background-image: url(../images/social.png);
  width: 27px;
  height: 27px;
}
.icon__alpha > a:nth-child(1) {
  background-position: 0 0;
}
.icon__alpha > a:nth-child(1):hover {
  background-position: 0 100%;
}
.icon__alpha > a:nth-child(2) {
  background-position: -37.2px 0;
}
.icon__alpha > a:nth-child(2):hover {
  background-position: -37.2px 100%;
}
.icon__alpha > a:nth-child(3) {
  background-position: -74.4px 0;
}
.icon__alpha > a:nth-child(3):hover {
  background-position: -74.4px 100%;
}
.icon__alpha > a:nth-child(4) {
  background-position: -111.6px 0;
}
.icon__alpha > a:nth-child(4):hover {
  background-position: -111.6px 100%;
}
.icon__alpha > a:nth-child(5) {
  background-position: -150px 0;
}
.icon__alpha > a:nth-child(5):hover {
  background-position: -150px 100%;
}
.icon .tel:hover {
  color: #80B600;
  font-size: 18px;
}

.hamberger:hover nav ul {
  display: flex;
}

main .Manipulation h2 .swiper__button .swiper-button-next::after, main .Manipulation h2 .swiper__button .swiper-button-prev::after {
  font-size: 16px;
  color: #9C9C9C;
}

main .Manipulation {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
main .Manipulation h2 {
  position: relative;
}
main .Manipulation h2 .swiper__button {
  position: relative;
  top: -20px;
}
main .Manipulation h2 .swiper__button .swiper-button-prev {
  justify-content: start;
  position: absolute;
  left: auto;
  right: 0;
  width: 12px;
  right: 12px;
}
main .Manipulation h2 .swiper__button .swiper-button-next {
  justify-content: end;
  position: absolute;
  left: auto;
  right: 0;
  width: 12px;
}
main .Manipulation .swiper-slide {
  overflow: hidden;
  position: relative;
}
main .Manipulation .swiper-slide .swiper-text {
  color: white;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transform: translateY(-300px);
  z-index: 1;
  opacity: 0;
  transition: all 0.4s 0.3s;
}
main .Manipulation .swiper-slide .swiper-text .swiper-link {
  text-align: center;
  margin-top: 12px;
}
main .Manipulation .swiper-slide .swiper-text .swiper-link .swiper-link-button {
  display: inline-block;
  width: 37px;
  height: 37px;
  cursor: pointer;
}
main .Manipulation .swiper-slide:hover .swiper-text {
  opacity: 1;
  transform: rotate(0);
}
main .Manipulation .swiper-slide::before {
  content: "";
  display: block;
  width: 100%;
  height: 250px;
  border-bottom: 2px solid #80B600;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 90px;
  margin: auto;
  opacity: 0;
  transform: rotate(270deg) translate(-300px, -150px);
  transition: 0.4s 0.2s;
}
main .Manipulation .swiper-slide:hover::before {
  opacity: 1;
  transform: rotate(270deg) translate(0, -150px);
}
main .Manipulation .swiper-slide::after {
  content: "";
  display: block;
  width: 100%;
  height: 250px;
  border-bottom: 2px solid #80B600;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: -350px;
  right: 0;
  bottom: 0;
  left: 70%;
  margin: auto;
  opacity: 0;
  transform: rotate(90deg) translate(-400px, 180px);
  transition: all 0.4s 0.2s;
}
main .Manipulation .swiper-slide:hover::after {
  opacity: 1;
  transform: rotate(90deg) translate(200px, 180px);
}

.carousel {
  position: relative;
}
.carousel .swiper-button-next {
  position: absolute;
  content: "";
  font-size: 0;
  background: url(../images/slider_next.gif);
  background-position: -5px 0;
  width: 40px;
  height: 119px;
  top: 40%;
  right: -10px;
}
.carousel .swiper-button-next::after {
  content: "";
}
.carousel .swiper-button-next:hover {
  background-position: -5px -100%;
}
.carousel .swiper-button-prev {
  position: absolute;
  content: "";
  font-size: 0;
  background: url(../images/slider_prev.gif);
  background-position: 5px 0;
  width: 40px;
  height: 119px;
  top: 40%;
  left: -10px;
}
.carousel .swiper-button-prev::after {
  content: "";
}
.carousel .swiper-button-prev:hover {
  background-position: 5px -100%;
}

header {
  margin-top: 10px;
}
header h1 {
  padding: 33.7px;
  background: url(../images/subbg.gif);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 img {
  display: none;
}
@media (min-width: 576px) {
  header h1 img {
    display: inline-block;
  }
}
header h1 .header__left a {
  background: url(../images/logo.png) no-repeat;
  width: 56px;
  height: 52px;
}
@media (min-width: 576px) {
  header h1 .header__left a {
    width: auto;
    height: auto;
  }
}
header .hamburger #burger:checked + .ham {
  display: block;
}
header .hamburger .ham {
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.5);
  width: 150px;
  font-size: 16px;
  display: none;
  position: absolute;
  z-index: 3;
}
header .hamburger .ham li a {
  justify-content: center;
  color: white;
  padding: 10px;
}
header .phone #phone:checked + .phone__icon {
  display: block;
}
header .phone__icon {
  text-align: end;
  padding: 10px;
  position: absolute;
  display: none;
  font-size: 16px;
  z-index: 3;
  width: 250px;
  background-color: rgba(0, 0, 0, 0.3);
  transform: translateX(-220px);
}
header .hamburger,
header .phone {
  display: inline-block;
}
header .hamburger input,
header .phone input {
  display: none;
}
header .hamburger:hover,
header .phone:hover {
  color: #80B600;
}
@media (min-width: 992px) {
  header .hamburger,
  header .phone {
    display: none;
  }
}
header nav {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  text-transform: uppercase;
  justify-content: space-between;
}
@media (min-width: 1250px) {
  header nav {
    flex-direction: row;
  }
}
header nav ul {
  display: none;
  background-color: white;
  width: 100%;
}
@media (min-width: 992px) {
  header nav ul {
    display: flex;
  }
}
header nav ul .active, header nav ul li:hover {
  color: white;
  background-color: #80B600;
}
header nav ul .active a:hover, header nav ul li:hover a:hover {
  color: white;
}
header nav ul li {
  min-width: 0;
  flex: 1 1 auto;
}
@media (min-width: 1250px) {
  header nav ul li {
    flex: 0 0 auto;
  }
}
header nav ul, header nav a {
  align-items: center;
}
header nav a {
  border-right: 1px solid #E7E7E7;
  justify-content: center;
  font-size: 16px;
  padding: 15px 25px;
}
header nav a > i {
  margin-left: 10px;
}
header nav .dropdown {
  z-index: 2;
  position: relative;
  display: inline-block;
}
header nav .item {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header nav .item a:hover {
  background-color: #80B600;
}
header nav .dropdown:hover .item {
  display: block;
}

nav .search {
  background-color: white;
  padding: 10px 15px;
  margin-left: 0;
}
@media (min-width: 1250px) {
  nav .search {
    margin-left: 10px;
    width: 33%;
  }
}
nav input {
  position: relative;
  width: 100%;
  min-width: 0;
  background-color: #E7E7E7;
  border: 1px solid #9C9C9C;
  background: url(../images/search.png) no-repeat;
  background-position: 98% 50%;
}
@media (min-width: 1250px) {
  nav input {
    background-position: 99% 50%;
  }
}

main {
  background-color: white;
}
main .card {
  width: fit-content;
  padding: 0 40px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 30px 30px;
}
@media (min-width: 576px) {
  main .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(none, none);
    gap: 30px 30px;
  }
}
@media (min-width: 1250px) {
  main .card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(none, none);
    gap: 0 30px;
  }
}
main .card__alpha, main .card__beta, main .card__gamma, main .card__delta {
  z-index: 2;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  min-height: 0;
  text-align: center;
  background-color: #E7E7E7;
  gap: 30px 0;
  transition: 0.3s ease-in-out;
}
main .card__alpha:hover, main .card__beta:hover, main .card__gamma:hover, main .card__delta:hover {
  background-color: rgba(0, 0, 0, 0.7);
  border: 0.5px solid #000000;
  color: white;
  transform: translateY(-30px);
  transition: 0.3s ease-in-out;
}
main .card__alpha img, main .card__beta img, main .card__gamma img, main .card__delta img {
  display: flex;
  margin: 0 auto 30px auto;
}
main .card__alpha p, main .card__beta p, main .card__gamma p, main .card__delta p {
  font-size: 12px;
}
main .card__header {
  font-size: 16px;
  white-space: nowrap;
}
main .card__footer {
  display: flex;
  justify-content: center;
  background-color: #CDCDCD;
}
main .card__footer a {
  padding: 2px 15px;
}
main .card__footer a:hover {
  background-color: #80B600;
  color: white;
}

main {
  background: url(../images/subbg.gif);
}

footer .below .infor__right a, footer .community > div {
  min-width: 0;
}

footer {
  margin: 70px 0 0 0;
}
footer .community {
  background: url(../images/subbg.gif);
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(none, none);
  gap: 30px 30px;
}
@media (min-width: 768px) {
  footer .community {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 30px 30px;
  }
}
@media (min-width: 1250px) {
  footer .community {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(none, none);
    gap: 0 30px;
  }
}
footer .community__alpha {
  display: flex;
  flex-direction: column;
  gap: 30px 0;
}
footer .community__alpha p {
  font-size: 16px;
}
footer .community__beta .TESTIMONIALS {
  display: flex;
  flex-direction: column;
  gap: 30px 0;
}
footer .community__beta .TESTIMONIALS__body {
  position: relative;
  border: 1px solid #9C9C9C;
  background-color: #E7E7E7;
  border-radius: 3px;
}
footer .community__beta .TESTIMONIALS__body .chatbox {
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 3px;
  filter: drop-shadow(-0.5px 1.5px 0px #9C9C9C);
  border-top: 7px solid #E7E7E7;
  border-left: 12px solid #E7E7E7;
  border-right: 7px solid transparent;
  border-bottom: 12px solid transparent;
}
footer .community__beta .TESTIMONIALS__body p {
  padding: 30px;
  font-size: 16px;
}
footer .community__beta .TESTIMONIALS__footer {
  display: flex;
  flex-direction: row;
  gap: 0 30px;
}
footer .community__beta .TESTIMONIALS__footer img {
  flex: 0 0 auto;
}
footer .community__beta .TESTIMONIALS__footer a {
  font-size: 16px;
}
footer .community__beta .TESTIMONIALS__footer a:hover {
  color: #80B600;
}
footer .community__gamma .form {
  display: flex;
  flex-direction: column;
  gap: 30px 0;
}
footer .community__gamma .form__header {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
}
footer .community__gamma .form__header input,
footer .community__gamma .form__header textarea {
  background-color: #E7E7E7;
  border: 1px solid #9C9C9C;
}
footer .community__gamma .form__body {
  display: flex;
  flex-direction: row;
  gap: 0 5px;
}
footer .community__gamma .form__body button {
  padding: 10px;
  color: white;
  background-color: #1C1C1C;
}
footer .community__gamma .form__body button:not(:first-child) {
  background-color: #80B600;
}
footer .community__delta {
  display: flex;
  flex-direction: column;
  gap: 30px 0;
}
footer .below .infor {
  font-size: 16px;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 30px 0;
  justify-content: center;
}
@media (min-width: 1250px) {
  footer .below .infor {
    display: flex;
    flex-direction: row;
    gap: 0 0;
    justify-content: space-between;
  }
}
footer .below .infor__left,
footer .below .infor p {
  color: #9C9C9C;
  display: flex;
  flex-direction: row;
  gap: 0 0;
  justify-content: center;
}
@media (min-width: 1250px) {
  footer .below .infor__left,
  footer .below .infor p {
    justify-content: space-between;
  }
}
footer .below .infor__left {
  order: 2;
  font-size: 16px;
}
@media (min-width: 768px) {
  footer .below .infor__left {
    font-size: 26px;
  }
}
@media (min-width: 1250px) {
  footer .below .infor__left {
    font-size: 16px;
    order: 1;
  }
}
footer .below .infor__left a {
  color: #80B600;
}
footer .below .infor__right {
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  color: #9C9C9C;
  gap: 15px;
}
@media (min-width: 576px) {
  footer .below .infor__right {
    display: flex;
    flex-direction: row;
    gap: 0 20px;
  }
}
@media (min-width: 1250px) {
  footer .below .infor__right {
    order: 2;
  }
}
footer .below .infor__right a {
  justify-content: center;
  color: #9C9C9C;
}
@media (min-width: 576px) {
  footer .below .infor__right a {
    justify-content: none;
  }
}
footer .below .infor__right a:hover {
  color: #80B600;
}
footer .below .infor__right a + a {
  position: relative;
}
footer .below .infor__right a + a::before {
  position: absolute;
  left: -9px;
  top: 0;
  content: "";
  width: 2px;
  height: 100%;
  display: block;
  background-color: #9C9C9C;
}

/*# sourceMappingURL=sass.css.map */
