* {
    // outline:lightgreen 0.5px solid;
}

a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  h1,
  h2,
  h4 {
    margin: 0;
  }
  
body {
    background: url(../img/bg.jpg),black;
    background-repeat: repeat-x, repeat;
    background-position: top 5rem center, center;
    background-size: 277px 85%, 100%;  
}
