
  
body {
    background: url(../img/bg.jpg),black;
    background-repeat: repeat-x, repeat;
    background-position: top 5rem center, center;
    background-size: 277px 85%, 100%;  
    max-width: 1440px;
    margin: 0 auto;
}
