* {
    // outline:lightgreen 0.5px solid;
}

a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  h1,
  h2,
  h4 {
    margin: 0;
  }
  
body {
    background: url(../img/bg.jpg),black;
}