body {
  min-width: 375px;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a,
a:visited,
a:checked {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  width: 100%;
}

button {
  border: none;
}

body::after, body::before {
  position: absolute;
  z-index: -1;
  width: 100%;
  background: #1d1d1d;
  content: "";
}

body {
  position: relative;
  background: url("../image/bg.jpg");
}
body::before {
  top: 0;
  height: 7.5rem;
}
body::after {
  bottom: 0;
  height: 25rem;
}
@media (min-width: 768px) {
  body::after {
    height: 16.875rem;
  }
}

.contacts .sns {
  display: flex;
  gap: 5px;
}
.contacts .sns a {
  display: block;
  height: 27px;
  width: 28px;
  background-image: url("../image/social.png");
  background-repeat: no-repeat;
}
.contacts .sns .facebook {
  background-position-x: 0%;
}
.contacts .sns .twitter {
  background-position-x: 25%;
}
.contacts .sns .reddit {
  background-position-x: 50%;
}
.contacts .sns .network {
  background-position-x: 75%;
}
.contacts .sns .rss {
  background-position-x: 100%;
}
.contacts .phone {
  text-align-last: right;
  text-transform: capitalize;
}
.contacts.header {
  display: none;
}
@media (min-width: 768px) {
  .contacts.header {
    display: block;
  }
}
.contacts.header .sns {
  justify-content: end;
}
.contacts.header .sns a {
  background-position-y: 0%;
}
.contacts.header .sns a:hover {
  background-position-y: 100%;
}
.contacts.header .phone {
  color: #1d1d1d;
}
.contacts.header .phone a:hover {
  color: #80b701;
  text-decoration: underline;
}
.contacts.footer {
  display: block;
}
@media (min-width: 768px) {
  .contacts.footer {
    display: none;
  }
}
.contacts.footer .sns {
  justify-content: center;
}
.contacts.footer .sns a {
  background-position-y: 100%;
}
.contacts.footer .sns a:hover {
  transform: scale(1.2);
}
.contacts.footer .phone {
  color: #cccccc;
  text-align: center;
}
.contacts.footer .phone a {
  color: #80b701;
}
.contacts.footer .phone a:hover {
  font-weight: bold;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 36px 40px;
  margin-block: 8px 20px;
  background: url("../image/subbg.gif");
}
@media (min-width: 768px) {
  header {
    justify-content: space-between;
  }
}
header h1 img {
  vertical-align: bottom;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 28px;
  background-color: #e8e8e8;
  border: 1px solid #d9d9d9;
  text-align: center;
  cursor: pointer;
}
.service:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  border: 1px solid black;
}
.service:hover a {
  background-color: #80b701;
  color: #ffffff;
}
.service > * {
  margin-bottom: 35px;
}
.service > *:first-child {
  margin-top: 35px;
}
.service h4 {
  text-transform: uppercase;
  font-size: 1.25rem;
}
.service img {
  display: block;
  width: 60px;
}
.service p {
  flex-grow: 1;
  line-height: 1.2rem;
}
.service a {
  display: block;
  width: 63px;
  height: 30px;
  line-height: 30px;
  background-color: #d9d9d9;
  color: #1d1d1d;
}
.service a:hover {
  background-color: #80b701;
  color: #ffffff;
}

.welcome .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  font-size: 0.9rem;
}
@media (min-width: 576px) {
  .welcome .content {
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .welcome .content {
    flex-direction: column;
  }
}
@media (min-width: 576px) {
  .welcome .content .img_container {
    flex: 1 0 40%;
  }
}

.choose_us .info {
  display: flex;
  gap: 16px;
}
.choose_us .info:first-child {
  margin-bottom: 12px;
}
.choose_us .info:not(first-child) {
  margin-block: 12px;
}
.choose_us a {
  align-self: center;
  flex-shrink: 0;
  margin: 0 12px 12px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #d9d9d9;
}
.choose_us a:hover {
  background: #80b701;
}
.choose_us a i {
  color: #ffffff;
}
.choose_us p {
  align-self: center;
}
.choose_us hr {
  margin-block: 0;
  border-top: 2px solid #cccccc;
}

.news_and_events article {
  display: flex;
  gap: 1.8rem;
}
.news_and_events article:not(first-child) {
  margin-top: 1.8rem;
}
.news_and_events article .img_container {
  width: 145px;
  height: 142px;
}
.news_and_events article .img_container img {
  object-fit: cover;
}
.news_and_events article .details {
  font-size: 0.9rem;
  flex: 1 0 50%;
}
.news_and_events article .details time {
  margin-bottom: 16px;
  display: block;
  width: fit-content;
  padding: 6px 12px;
  background-color: #80b701;
  color: white;
  font-weight: 600;
}

.featured {
  padding-bottom: 4rem;
}
.featured .swiper_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .main_content {
  position: relative;
  padding-inline: 2.5rem;
  background: url("../image/subbg.gif");
  box-shadow: 0 0 3px;
}
main .main_content .service_list {
  display: grid;
  gap: 1.8rem;
  position: relative;
  margin-bottom: calc(50px + 1.8rem);
  top: 1.8rem;
}
@media (min-width: 768px) {
  main .main_content .service_list {
    grid-template-columns: repeat(2, 1fr);
    top: -1.8rem;
    margin-bottom: calc(50px - 1.8rem);
  }
}
@media (min-width: 1200px) {
  main .main_content .service_list {
    grid-template-columns: repeat(4, 1fr);
  }
}
main .main_content .more_info {
  display: grid;
  gap: 1.8rem;
}
@media (min-width: 1200px) {
  main .main_content .more_info {
    grid-template-columns: repeat(3, 1fr);
  }
}
main .main_content .component .heading {
  margin-bottom: 1.8rem;
  font-size: 2rem;
  text-transform: uppercase;
}
main .main_content .component p {
  color: #838383;
  font-weight: 500;
}
main .main_content .component .more_link {
  color: #1d1d1d;
}
main .main_content .component .more_link:hover {
  color: #ffffff;
  background-color: #80b701;
}
main .main_content .block_separator {
  margin-block: 4rem;
}

.testimonials .dialog_container {
  margin-bottom: 1.8rem;
  padding: 1.5px;
  background-color: #d9d9d9;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  clip-path: polygon(0% 0%, 100% 0, 100% 85%, 8.5% 85%, 0 100%);
}
.testimonials .dialog_container p {
  padding: 1.125rem 0.75rem 2.375rem 1.625rem;
  font-size: 0.875rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  clip-path: polygon(0% 0%, 100% 0, 100% 85%, 8% 85%, 0 100%);
}
.testimonials .user {
  display: flex;
  gap: 16px;
}
.testimonials .user .img_container {
  flex-grow: 0;
  width: 4rem;
}
.testimonials .user .img_container img {
  object-fit: cover;
}
.testimonials .user .user_text a {
  color: #80b701;
  font-style: italic;
  font-weight: 700;
}

.get_in_touch form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.get_in_touch form .input {
  border: 2px solid #d9d9d9;
  border-radius: 2px;
  padding: 4px;
  font-size: 0.8rem;
}
.get_in_touch form .input:focus {
  outline: 0;
  box-shadow: 0 0 0 0.1rem #80b701;
}
.get_in_touch form textArea {
  resize: none;
}
.get_in_touch .button_set {
  margin-top: 1.8rem;
}
.get_in_touch .button_set button {
  padding: 8px 15px;
  color: #ffffff;
  text-transform: uppercase;
}
.get_in_touch .button_set button[type=reset] {
  background-color: #1d1d1d;
}
.get_in_touch .button_set button[type=submit] {
  background-color: #80b701;
}

.flickr .gallery {
  display: grid;
  gap: 6px;
  grid-template-columns: repeat(6, 1fr);
}
@media (min-width: 768px) {
  .flickr .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}
.flickr .gallery > * {
  cursor: pointer;
}
.flickr .gallery > *:hover {
  transform: scale(1.2);
  border: 3px solid #80b701;
}

.bottom_nav {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .bottom_nav {
    flex-direction: row;
    gap: 0;
  }
}
.bottom_nav a {
  display: block;
  text-align: center;
  padding-inline: 0.6rem;
  line-height: 2ex;
}
.bottom_nav a:hover, .bottom_nav a.active {
  font-weight: bolder;
  color: #80b701;
}
@media (min-width: 768px) {
  .bottom_nav a + a {
    border-left: 1px solid #d9d9d9;
  }
}

footer {
  margin-top: 5rem;
}
footer .social {
  display: grid;
  padding: 2.5rem;
  gap: 2rem;
  background: url("../image/subbg.gif");
  box-shadow: 0 0 3px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  footer .social {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  footer .social {
    grid-template-columns: repeat(4, 1fr);
  }
}
footer .social > * .heading {
  margin-bottom: 1.8rem;
  text-transform: uppercase;
}
footer .social .bg_gray {
  background-color: #e7e7e7;
}
footer .contacts {
  margin-top: 1rem;
}
footer .bottom_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-block: 1.8rem;
  color: #5c5c5c;
}
@media (min-width: 1200px) {
  footer .bottom_info {
    flex-direction: row;
    gap: 0;
  }
}
footer .bottom_info .contacts {
  order: -2;
}
footer .bottom_info .bottom_nav {
  order: -1;
}
@media (min-width: 1200px) {
  footer .bottom_info .bottom_nav {
    order: 1;
  }
}
footer .bottom_info .copyright span {
  text-transform: uppercase;
}
footer .bottom_info .copyright a {
  color: #80b701;
}

.navbar {
  padding: 0;
}
.navbar .container-fluid {
  align-items: stretch;
  gap: 8px;
}
.navbar .navbar-nav {
  flex-grow: 1;
  box-shadow: 0 0 3px;
  background-color: #ffffff;
}
.navbar .navbar-nav .nav-link {
  border-right: 0.2px solid #eeeeee;
  padding: 20px;
  color: black;
  text-transform: uppercase;
}
.navbar .navbar-nav .nav-link.active, .navbar .navbar-nav .nav-link:hover {
  color: #ffffff;
  background-color: #80b701;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover {
  background-color: #d9d9d9;
}
.navbar .navbar-toggler {
  padding: 1px 6px;
  margin: 10px;
}
.navbar .search_container {
  padding: 10px 15px;
  margin: 0;
  background-color: #ffffff;
  box-shadow: 0 0 3px;
  gap: 12px;
}
.navbar .search_container form {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding-inline: 15px;
  outline: 1px solid #d9d9d9;
  background-color: #f3f3f3;
}
@media (min-width: 992px) {
  .navbar .search_container form {
    min-width: 180px;
  }
}
.navbar .search_container form input {
  flex-grow: 1;
  padding-inline: 0;
  border: none;
  background-color: #f3f3f3;
}
.navbar .search_container form input:focus {
  outline: 0;
  box-shadow: 0 0 0 0.1rem #80b701;
}
.navbar .search_container form button {
  width: 20px;
  height: 20px;
  border: none;
  background: url("../image/search.png");
}

.carousel .control-next, .carousel .control-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 115px;
}
.carousel .control-next:hover, .carousel .control-prev:hover {
  background-position: 0 -120px;
}

.carousel {
  position: relative;
}
.carousel .control-prev {
  left: 0;
  background: url("../image/slider_prev.gif");
}
.carousel .control-next {
  right: 0;
  background: url("../image/slider_next.gif");
}

.swiper-button {
  display: flex;
}
.swiper-button-prev, .swiper-button-next {
  position: initial;
  width: 1.5rem;
  color: #cccccc;
}
.swiper-button-prev::after, .swiper-button-next::after {
  font-size: 1rem;
  font-weight: 700;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}
.swiper-slide:hover::before,
.swiper-slide:hover .slide_cover {
  display: flex;
  animation: 0.6s animation-direction ease-in-out;
}
@keyframes animation-direction {
  from {
    top: 100%;
  }
  to {
    top: 0;
  }
}
.swiper-slide::before {
  display: none;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(150deg, rgba(0, 0, 0, 0.5) 0 20%, rgba(255, 255, 255, 0) 20% 30%, rgba(0, 0, 0, 0.5) 30% 80%, #80b701 80% 80.5%, rgba(255, 255, 255, 0) 80.5% 100%);
}
.swiper-slide .slide_cover {
  display: none;
  position: absolute;
  top: 0%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotate(-30deg);
}
.swiper-slide .slide_cover .cover_title {
  padding: 8px 40px;
  text-transform: uppercase;
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
  font-size: 1.25rem;
}
@media (min-width: 576px) {
  .swiper-slide .slide_cover .cover_title {
    font-size: 0.875rem;
  }
}
.swiper-slide .slide_cover .click_icon_links {
  text-align: center;
  padding-block: 8px;
}
.swiper-slide .slide_cover .click_icon_links a {
  display: inline-block;
  padding: 0 5px;
}
.swiper-slide .slide_cover .click_icon_links a:hover {
  transform: scale(1.1);
}

/*# sourceMappingURL=style.css.map */
