//font
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap");
$font-noto: "Noto Sans", sans-serif;
$font_base: 1rem;
$font_middle: $font_base * 1.2;
$font_lg: $font_base * 2;
$font_xl: $font_base * 3;

//color
$primary: #d9d9d9;
$secondary: #646464;
$highlight: #80b601;
$dark: #1c1c1c;
$deco: #cdcccd;
$deco_light: #f3f3f3;
$white: #fff;

//spacing
$margin_base: 0.75rem;
$padding_base: 0.75rem;
