html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 23.4375rem;
  background: linear-gradient(#000 0% 0.5%, transparent 0.5% 90%, #000 90% 100%), url("../image/bg.jpg");
}
@media (min-width: 75rem) {
  body {
    background: linear-gradient(#000 0% 4%, transparent 4% 91%, #000 91% 100%), url("../image/bg.jpg");
  }
}

.container-fluid {
  max-width: 78.5rem;
}

:root {
  --white: white;
  --green: #80b600;
  --text-color: black;
  --gray0:#eeeeee;
  --gray1:#e6e6e6;
  --gray2:#cdcdcd;
  --gray3:#d9d9d9;
  --gray4:#818181;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 1.875rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.25rem;
}

a, a:visited, a:checked {
  text-decoration: none;
}

.social_media {
  margin-bottom: 0.75rem;
}
.social_media a {
  display: block;
  width: 1.75rem;
  height: 1.75rem;
  background: url(../../image/social.png) no-repeat;
}
.social_media a + a {
  margin-left: 0.4375rem;
}
.social_media a:nth-child(1) {
  background-position: 0 0;
}
.social_media a:nth-child(1):hover {
  background-position: 0 100;
}
.social_media a:nth-child(2) {
  background-position: 25% 0;
}
.social_media a:nth-child(2):hover {
  background-position: 25% 100;
}
.social_media a:nth-child(3) {
  background-position: 50% 0;
}
.social_media a:nth-child(3):hover {
  background-position: 50% 100;
}
.social_media a:nth-child(4) {
  background-position: 75% 0;
}
.social_media a:nth-child(4):hover {
  background-position: 75% 100;
}
.social_media a:nth-child(5) {
  background-position: 100% 0;
}
.social_media a:nth-child(5):hover {
  background-position: 100% 100;
}

.navbar > div {
  gap: 0.5625rem;
}
.navbar .navbar-collapse {
  background-color: var(--white);
  box-shadow: 3px -1px 3px 0 var(--gray4);
}
.navbar .navbar-nav .nav-link {
  position: relative;
  text-transform: uppercase;
  padding-top: 1.25rem;
  padding-right: 1.875rem;
  padding-bottom: 1.25rem;
  padding-left: 1.875rem;
  border-right: 1px solid var(--gray0);
  color: var(--text-color);
}
.navbar .navbar-nav .nav-link:hover {
  background-color: var(--green);
  color: var(--white);
}
.navbar .navbar-nav .nav-link i {
  position: absolute;
  top: 50%;
  margin-left: 5px;
}

.search_container {
  background-color: var(--white);
  box-shadow: -3px -1px 3px 0 var(--gray4);
}
.search_container .search_form {
  position: relative;
  background-color: var(--gray0);
  border: 1px solid var(--gray3);
  margin-top: 0.6875rem;
  margin-right: 1.0625rem;
  margin-bottom: 0.6875rem;
  margin-left: 1.0625rem;
}
.search_container .search_form input {
  border: none;
  background-color: var(--gray0);
}
.search_container .search_form button {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  background: url(../../image/search.png) no-repeat;
  width: 1.25rem;
  height: 1.25rem;
  border: none;
}

.header {
  margin: 0.625rem auto 0;
}
.header_box {
  background: url(../../image/subbg.gif);
  padding-top: 2.375rem;
  padding-right: 2.625rem;
  padding-bottom: 0rem;
  padding-left: 2.625rem;
  margin-bottom: 1.875rem;
  box-shadow: 0 0 0.3125rem 0;
}
.header .phone a {
  color: var(--text-color);
}

.perspective {
  text-align: center;
  background-color: var(--gray1);
  padding-top: 2.125rem;
  padding-right: 2.25rem;
  padding-bottom: 1.375rem;
  padding-left: 2.25rem;
  display: flex;
  flex-direction: column;
}
.perspective h4 {
  font-size: 1rem;
}
.perspective div {
  margin-top: 0rem;
  margin-right: 4.125rem;
  margin-bottom: 1.375rem;
  margin-left: 4.125rem;
}
.perspective a {
  display: block;
  width: 3.9375rem;
  height: 1.875rem;
  margin: auto auto 0;
  color: var(--text-color);
  background-color: var(--gray2);
}

.about_item p {
  color: var(--gray4);
}
.about_item p a {
  color: var(--text-color);
}
.about_item:nth-child(1) > div {
  margin-bottom: 1.6875rem;
}
.about_item:nth-child(2) > div div {
  padding-top: 0.8125rem;
  padding-right: 0rem;
  padding-bottom: 1.25rem;
  padding-left: 0rem;
  border-bottom: 2px solid var(--gray0);
  gap: 10px;
  align-items: baseline;
}
.about_item:nth-child(2) > div a {
  display: block;
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 48px;
  background-color: var(--gray3);
  border-radius: 50%;
}
.about_item:nth-child(2) > div i {
  color: var(--white);
}
.about_item:nth-child(3) > div {
  gap: 1.875rem;
}
.about_item:nth-child(3) > div div:nth-child(1) {
  max-width: 9rem;
}
.about_item:nth-child(3) > div time {
  background-color: var(--green);
  color: var(--white);
  display: inline-block;
  padding-top: 0.4375rem;
  padding-right: 0.875rem;
  padding-bottom: 0.4375rem;
  padding-left: 0.875rem;
  font-weight: 700;
  margin-bottom: 1.875rem;
}

.featured_works::before {
  content: "";
  display: block;
  width: 100%;
  height: 0.125rem;
  background-color: var(--gray3);
  transform: translateY(-3.125rem);
}

.swiper-slide {
  position: relative;
  width: 16.875rem;
}
.swiper-slide img {
  width: 100%;
}
.swiper-slide .hover_cover {
  position: absolute;
}

.main_info {
  background: url(../../image/subbg.gif);
  margin-top: -2.125rem;
  margin-right: 0rem;
  margin-bottom: 4.375rem;
  margin-left: 0rem;
  box-shadow: 0 0 0.3125rem 0;
}
.main .business_perspectives {
  position: relative;
  margin-top: 0rem;
  margin-right: 2.5rem;
  margin-bottom: 0rem;
  margin-left: 2.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 1.875rem;
}
.main .about_items {
  padding-top: 3.125rem;
  padding-right: 2.5rem;
  padding-bottom: 5rem;
  padding-left: 2.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 1.875rem;
}
.main .featured_works {
  padding-top: 3.125rem;
  padding-right: 2.5rem;
  padding-bottom: 4.75rem;
  padding-left: 2.5rem;
}

.testimonials_text {
  background-color: var(--gray1);
  padding-top: 1.125rem;
  padding-right: 0.75rem;
  padding-bottom: 1.125rem;
  padding-left: 1.625rem;
  font-size: 0.875rem;
  margin-bottom: 1.25rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.commenter {
  gap: 0.875rem;
}
.commenter a {
  color: var(--green);
}
.commenter p {
  margin-bottom: 0;
}

input,
textarea {
  width: 100%;
  font-size: 0.875rem;
  background-color: var(--gray1);
  border: 1px solid var(--gray3);
  border-radius: 3px;
  margin-bottom: 5px;
}

textarea {
  resize: none;
}

.btn_box button {
  text-transform: uppercase;
  color: var(--white);
  border: none;
  padding-top: 0.625rem;
  padding-right: 0.9375rem;
  padding-bottom: 0.625rem;
  padding-left: 0.9375rem;
}
.btn_box button:nth-child(1) {
  background-color: var(--text-color);
}
.btn_box button:nth-child(2) {
  background-color: var(--green);
}

.flickr_thumbnail {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 0.3125rem;
}

.bottom_nav a {
  text-transform: uppercase;
  color: var(--gray4);
  padding-top: 0rem;
  padding-right: 0.75rem;
  padding-bottom: 0rem;
  padding-left: 0.75rem;
}
.bottom_nav a:hover {
  color: var(--green);
}
.bottom_nav a + a {
  border-left: 1px solid var(--gray4);
}

footer .social_interactions {
  background: url(../../image/subbg.gif);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 1.875rem;
  padding-top: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 2.5rem;
  box-shadow: 0 0 0.3125rem 0;
}
footer .copyright_box {
  justify-content: space-between;
  padding-top: 1rem;
  padding-right: 0rem;
  padding-bottom: 0.625rem;
  padding-left: 0rem;
}
footer .copyright_box .copyright {
  color: var(--gray4);
}
footer .copyright_box .copyright a {
  color: var(--green);
}

/*# sourceMappingURL=all.css.map */
