html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 23.4375rem;
  background: linear-gradient(#000 0% 0.5%, transparent 0.5% 90%, #000 90% 100%), url("../image/bg.jpg");
}
@media (min-width: 75rem) {
  body {
    background: linear-gradient(#000 0% 4%, transparent 4% 91%, #000 91% 100%), url("../image/bg.jpg");
  }
}

.container-fluid {
  max-width: 78.5rem;
}

:root {
  --text-color: black;
  --perspective-bg-color: #e6e6e6;
  --perspective-a-bg-color: #cdcdcd;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
  line-height: 1.1;
  margin-top: 0;
}

a, a:visited, a:checked {
  text-decoration: none;
}

.social_media {
  margin-bottom: 0.75rem;
}
.social_media a {
  display: block;
  width: 1.75rem;
  height: 1.75rem;
  background: url(../../image/social.png) no-repeat;
}
.social_media a + a {
  margin-left: 0.4375rem;
}
.social_media a:nth-child(1) {
  background-position: 0 0;
}
.social_media a:nth-child(1):hover {
  background-position: 0 100;
}
.social_media a:nth-child(2) {
  background-position: 25% 0;
}
.social_media a:nth-child(2):hover {
  background-position: 25% 100;
}
.social_media a:nth-child(3) {
  background-position: 50% 0;
}
.social_media a:nth-child(3):hover {
  background-position: 50% 100;
}
.social_media a:nth-child(4) {
  background-position: 75% 0;
}
.social_media a:nth-child(4):hover {
  background-position: 75% 100;
}
.social_media a:nth-child(5) {
  background-position: 100% 0;
}
.social_media a:nth-child(5):hover {
  background-position: 100% 100;
}

.header {
  margin: 0.625rem auto 0;
}
.header_box {
  background: url(../../image/subbg.gif);
  padding-top: 2.375rem;
  padding-right: 1.625rem;
  padding-bottom: 1.625rem;
  padding-left: 2.125rem;
  margin-bottom: 1.875rem;
  box-shadow: 0 0 0.3125rem 0;
}
.header .phone a {
  color: var(--text-color);
}

.navbar .nav-link {
  text-transform: uppercase;
}

.perspective {
  text-align: center;
  background-color: var(--perspective-bg-color);
  padding: 2.125rem 2.25rem 1.375rem 2.25rem;
}
.perspective h4 {
  font-size: 1rem;
}
.perspective div {
  margin: 1.375rem 4.125rem;
}
.perspective a {
  display: block;
  margin: auto auto 0;
  color: var(--text-color);
  background-color: var(--perspective-a-bg-color);
  width: 3.9375rem;
  height: 1.875rem;
}

.about_item h2 {
  margin-bottom: 1.875rem;
}

.main_info {
  background: url(../../image/subbg.gif);
  margin-top: -1.875rem;
}
.main .business_perspectives {
  position: relative;
  margin-top: 0rem;
  margin-right: 1.875rem;
  margin-bottom: 0rem;
  margin-left: 1.875rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  column-gap: 1.875rem;
}
.main .about_items {
  padding-top: 3.125rem;
  padding-right: 3.125rem;
  padding-bottom: 5rem;
  padding-left: 3.125rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  column-gap: 1.875rem;
}

footer .social_interactions {
  background: url(../../image/subbg.gif);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  column-gap: 1.875rem;
}

/*# sourceMappingURL=all.css.map */
