html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
  min-width: 23.4375rem;
  max-width: 87.5rem;
  background: linear-gradient(#000 0% 0.5%, transparent 0.5% 90%, #000 90% 100%), url("../image/bg.jpg");
}

.container-fluid {
  max-width: 78.5rem;
}

:root {
  --white: white;
  --green: #80b600;
  --text-color: black;
  --gray0:#eeeeee;
  --gray1:#e6e6e6;
  --gray2:#cdcdcd;
  --gray3:#d9d9d9;
  --gray4:#818181;
  --gray5:#636363;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 1.875rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.25rem;
}

a, a:visited, a:checked {
  text-decoration: none;
}

.social_media {
  margin-bottom: 0.75rem;
}
.social_media a {
  display: block;
  width: 1.75rem;
  height: 1.6875rem;
  background: url(../../image/social.png) no-repeat;
}
.social_media a:nth-child(1) {
  background-position: 0% 0%;
}
.social_media a:nth-child(1):hover {
  background-position: 0% 100%;
}
.social_media a:nth-child(2) {
  background-position: 25% 0%;
}
.social_media a:nth-child(2):hover {
  background-position: 25% 100%;
}
.social_media a:nth-child(3) {
  background-position: 50% 0%;
}
.social_media a:nth-child(3):hover {
  background-position: 50% 100%;
}
.social_media a:nth-child(4) {
  background-position: 75% 0%;
}
.social_media a:nth-child(4):hover {
  background-position: 75% 100%;
}
.social_media a:nth-child(5) {
  background-position: 100% 0%;
}
.social_media a:nth-child(5):hover {
  background-position: 100% 100%;
}
.social_media a + a {
  margin-left: 0.4375rem;
}

.bottom_social_media {
  margin-bottom: 0.75rem;
}
.bottom_social_media a {
  display: block;
  width: 1.75rem;
  height: 1.6875rem;
  background: url(../../image/social.png) no-repeat;
}
.bottom_social_media a:nth-child(1) {
  background-position: 0% 100%;
}
.bottom_social_media a:nth-child(1):hover {
  transform: scale(1.1);
}
.bottom_social_media a:nth-child(2) {
  background-position: 25% 100%;
}
.bottom_social_media a:nth-child(2):hover {
  transform: scale(1.1);
}
.bottom_social_media a:nth-child(3) {
  background-position: 50% 100%;
}
.bottom_social_media a:nth-child(3):hover {
  transform: scale(1.1);
}
.bottom_social_media a:nth-child(4) {
  background-position: 75% 100%;
}
.bottom_social_media a:nth-child(4):hover {
  transform: scale(1.1);
}
.bottom_social_media a:nth-child(5) {
  background-position: 100% 100%;
}
.bottom_social_media a:nth-child(5):hover {
  transform: scale(1.1);
}
.bottom_social_media a + a {
  margin-left: 0.4375rem;
}

.navbar > div {
  gap: 0.5625rem;
}
.navbar .navbar-collapse {
  background-color: var(--white);
  box-shadow: 3px -1px 3px 0 var(--gray4);
}
.navbar .navbar-nav .nav-link {
  position: relative;
  text-transform: uppercase;
  padding-top: 1.25rem;
  padding-right: 1.875rem;
  padding-bottom: 1.25rem;
  padding-left: 1.875rem;
  border-right: 1px solid var(--gray0);
  color: var(--text-color);
}
.navbar .navbar-nav .nav-link:hover {
  background-color: var(--green);
  color: var(--white);
}
.navbar .navbar-nav .nav-link i {
  position: absolute;
  top: 50%;
  margin-left: 5px;
}

.search_container {
  flex-grow: 1;
  background-color: var(--white);
  box-shadow: -3px -1px 3px 0 var(--gray4);
}
.search_container .search_form {
  position: relative;
  flex-grow: 1;
  background-color: var(--gray0);
  border: 1px solid var(--gray3);
  margin-top: 0.875rem;
  margin-right: 1.0625rem;
  margin-bottom: 0.75rem;
  margin-left: 1.0625rem;
}
.search_container .search_form input {
  border: none;
  background-color: var(--gray0);
  width: 85%;
}
.search_container .search_form button {
  position: absolute;
  top: 0.625rem;
  right: 0.3125rem;
  background: url(../../image/search.png) no-repeat;
  width: 1.25rem;
  height: 1.25rem;
  border: none;
}

.carousel-item img {
  height: 18.75rem;
  object-fit: cover;
}
@media (min-width: 36rem) {
  .carousel-item img {
    height: 25rem;
  }
}
@media (min-width: 48rem) {
  .carousel-item img {
    height: unset;
  }
}

.header {
  margin: 0.625rem auto 0;
}
.header_box {
  background: url(../../image/subbg.gif);
  padding-top: 2.375rem;
  padding-right: 2.625rem;
  padding-bottom: 0rem;
  padding-left: 2.625rem;
  margin-bottom: 1.875rem;
  box-shadow: 0 0 0.3125rem 0;
  justify-content: center;
}
@media (min-width: 48rem) {
  .header_box {
    justify-content: space-between;
  }
}
.header_box img {
  width: 100%;
}
.header .contact {
  display: none;
}
@media (min-width: 48rem) {
  .header .contact {
    display: block;
  }
}
.header .phone a {
  color: var(--text-color);
}
.header .phone a:hover {
  color: var(--green);
}

.perspective {
  text-align: center;
  background-color: var(--gray1);
  padding-top: 2.125rem;
  padding-right: 2.25rem;
  padding-bottom: 1.375rem;
  padding-left: 2.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.perspective:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--white);
}
.perspective h4 {
  font-size: 1rem;
}
.perspective div {
  margin-top: 0rem;
  margin-right: 4.125rem;
  margin-bottom: 1.375rem;
  margin-left: 4.125rem;
}
.perspective a {
  display: block;
  width: 3.9375rem;
  height: 1.875rem;
  margin: auto auto 0;
  color: var(--text-color);
  background-color: var(--gray2);
}
.perspective a:hover {
  background-color: var(--green);
  color: var(--white);
}

.about_item p {
  color: var(--gray4);
}
.about_item p a {
  color: var(--text-color);
}
.about_item p a:hover {
  color: var(--green);
}
.about_item:nth-child(1) > div {
  display: block;
}
@media (min-width: 36rem) {
  .about_item:nth-child(1) > div {
    display: flex;
  }
}
@media (min-width: 75rem) {
  .about_item:nth-child(1) > div {
    display: block;
  }
}
.about_item:nth-child(1) > div div {
  margin-bottom: 1.6875rem;
}
@media (min-width: 36rem) {
  .about_item:nth-child(1) > div div {
    margin-right: 1.6875rem;
  }
}
@media (min-width: 75rem) {
  .about_item:nth-child(1) > div div {
    margin-bottom: 1.6875rem;
  }
}
.about_item:nth-child(2) > div div {
  padding-top: 0.8125rem;
  padding-right: 0rem;
  padding-bottom: 1.25rem;
  padding-left: 0rem;
  border-bottom: 2px solid var(--gray0);
  gap: 10px;
  align-items: baseline;
}
.about_item:nth-child(2) > div a {
  display: block;
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 48px;
  background-color: var(--gray3);
  border-radius: 50%;
}
.about_item:nth-child(2) > div i {
  color: var(--white);
}
.about_item:nth-child(3) > div {
  gap: 1.875rem;
  margin-bottom: 2.25rem;
}
.about_item:nth-child(3) > div div:nth-child(1) {
  max-width: 9rem;
}
.about_item:nth-child(3) > div time {
  background-color: var(--green);
  color: var(--white);
  display: inline-block;
  padding-top: 0.4375rem;
  padding-right: 0.875rem;
  padding-bottom: 0.4375rem;
  padding-left: 0.875rem;
  font-weight: 700;
  margin-bottom: 1.875rem;
}

.featured_works::before {
  content: "";
  display: block;
  width: 100%;
  height: 0.125rem;
  background-color: var(--gray3);
  transform: translateY(-3.125rem);
}

.swiper-button {
  gap: 0.5rem;
}
.swiper-button-prev, .swiper-button-next {
  position: initial;
  width: fit-content;
  margin-top: 0;
  color: var(--gray4);
}
.swiper-button-prev::after, .swiper-button-next::after {
  font-size: 1.125rem;
}

.swiper-slide {
  position: relative;
  width: 16.875rem;
  display: flex;
  justify-content: center;
}
.swiper-slide img {
  width: 100%;
}
.swiper-slide::before {
  position: absolute;
  display: none;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(150deg, rgba(0, 0, 0, 0.5) 0 20%, rgba(255, 255, 255, 0) 20% 30%, rgba(0, 0, 0, 0.5) 30% 80%, rgb(113, 183, 0) 80% 81%, rgba(255, 255, 255, 0) 81% 100%);
}
.swiper-slide:hover::before,
.swiper-slide:hover .swiper-slide_click {
  display: flex;
  animation: 1s animation-direction ease-in-out;
}
@keyframes animation-direction {
  from {
    top: 100%;
  }
  to {
    top: 0;
  }
}
.swiper-slide_click {
  position: absolute;
  top: 0%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotate(-30deg);
}
.swiper-slide_click p {
  padding-top: 0.5rem;
  padding-right: 2.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2.5rem;
  text-transform: uppercase;
  color: var(--white);
  border-bottom: 2px solid var(--white);
  font-size: 1.25rem;
}
@media (min-width: 36rem) {
  .swiper-slide_click p {
    font-size: 0.875rem;
  }
}
.swiper-slide_click .click_icon_links {
  text-align: center;
}
.swiper-slide_click .click_icon_links a {
  display: inline-block;
  padding-top: 0rem;
  padding-right: 0.3125rem;
  padding-bottom: 0rem;
  padding-left: 0.3125rem;
}
.swiper-slide_click .click_icon_links a:hover {
  transform: scale(1.1);
}

.main_info {
  background: url(../../image/subbg.gif);
  margin-top: -2.125rem;
  margin-right: 0rem;
  margin-bottom: 4.375rem;
  margin-left: 0rem;
  box-shadow: 0 0 0.3125rem 0;
}
.main .business_perspectives {
  position: relative;
  margin-top: 0rem;
  margin-right: 2.5rem;
  margin-bottom: 0rem;
  margin-left: 2.5rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.875rem;
}
@media (min-width: 36rem) {
  .main .business_perspectives {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 75rem) {
  .main .business_perspectives {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
.main .about_items {
  padding-top: 3.125rem;
  padding-right: 2.5rem;
  padding-bottom: 5rem;
  padding-left: 2.5rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.875rem;
}
@media (min-width: 75rem) {
  .main .about_items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem;
  }
}
.main .featured_works {
  padding-top: 3.125rem;
  padding-right: 2.5rem;
  padding-bottom: 4.75rem;
  padding-left: 2.5rem;
}

.testimonials_text {
  background-color: var(--gray1);
  padding-top: 1.125rem;
  padding-right: 0.75rem;
  padding-bottom: 2.375rem;
  padding-left: 1.625rem;
  font-size: 0.875rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  clip-path: polygon(0% 0%, 100% 0, 100% 85%, 10% 85%, 0 100%);
}

.commenter {
  gap: 0.875rem;
}
.commenter a {
  color: var(--green);
}
.commenter p {
  margin-bottom: 0;
}

input,
textarea {
  width: 100%;
  font-size: 0.875rem;
  background-color: var(--gray1);
  border: 1px solid var(--gray3);
  border-radius: 3px;
  margin-bottom: 5px;
}

textarea {
  resize: none;
}

.btn_box button {
  text-transform: uppercase;
  color: var(--white);
  border: none;
  padding-top: 0.625rem;
  padding-right: 0.9375rem;
  padding-bottom: 0.625rem;
  padding-left: 0.9375rem;
}
.btn_box button:nth-child(1) {
  background-color: var(--text-color);
}
.btn_box button:nth-child(2) {
  background-color: var(--green);
}

.flickr_thumbnail {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.3125rem;
}
@media (min-width: 36rem) {
  .flickr_thumbnail {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.3125rem;
  }
}
.flickr_thumbnail a:hover {
  transform: scale(1.1);
}
.flickr_thumbnail a img {
  width: 100%;
}

.bottom_nav a {
  text-transform: uppercase;
  color: var(--gray4);
  display: block;
  text-align: center;
}
.bottom_nav a:hover {
  color: var(--green);
}
@media (min-width: 48rem) {
  .bottom_nav a {
    display: inline;
    padding-top: 0rem;
    padding-right: 0.75rem;
    padding-bottom: 0rem;
    padding-left: 0.75rem;
  }
}
@media (min-width: 48rem) {
  .bottom_nav a + a {
    border-left: 1px solid var(--gray4);
  }
}

footer .social_interactions {
  background: url(../../image/subbg.gif);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.875rem;
  padding-top: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 2.5rem;
  box-shadow: 0 0 0.3125rem 0;
}
@media (min-width: 36rem) {
  footer .social_interactions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.875rem;
  }
}
@media (min-width: 75rem) {
  footer .social_interactions {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.875rem;
  }
}
footer .copyright_box {
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-right: 0rem;
  padding-bottom: 0.625rem;
  padding-left: 0rem;
}
@media (min-width: 75rem) {
  footer .copyright_box {
    flex-direction: row;
    justify-content: space-between;
  }
}
footer .copyright_box .copyright {
  order: 2;
  color: var(--gray4);
}
@media (min-width: 75rem) {
  footer .copyright_box .copyright {
    order: unset;
  }
}
footer .copyright_box .copyright a {
  color: var(--green);
}
footer .copyright_box .bottom_contact {
  margin: 0.1875rem;
}
@media (min-width: 48rem) {
  footer .copyright_box .bottom_contact {
    display: none;
  }
}
footer .copyright_box .bottom_contact .phone span {
  color: var(--gray4);
}
footer .copyright_box .bottom_contact .phone a {
  color: var(--gray4);
}
footer .copyright_box .bottom_contact .phone a:hover {
  color: var(--green);
}

/*# sourceMappingURL=all.css.map */
