@use "../utilities/breakpoints";
@use "../utilities/color";

footer {
    @include breakpoints.sm {
        margin-top: 60px;
    }
    .socialmedia {
        @include breakpoints.sm {
            box-shadow: 0px 0px 5px -1px;
        }
    }

    .copyrights {
        padding-left: 1rem;
        @include breakpoints.sm {
            padding:0 1rem;
        }
    }
}