@use "../utilities/breakpoints";
@use "../utilities/color";


main {
    @include breakpoints.sm {
        padding: 0 6rem;
    }
}

// sections (common)
.information, .featured, .socialmedia {
    background: url("../img/subbg.gif");
}

// sections
.services {
    @include breakpoints.sm {
      background: url("../img/subbg.gif");
      .row {
        margin-top: -76px;
        position: relative;
      }
    }
  }

.information {
    h3 {
        text-transform: uppercase;
    }
}

.socialmedia {
    h4 {
        text-transform: uppercase;
    }
}