@use "../utilities/breakpoints";
@use "../utilities/color";


body {
    @include breakpoints.sm {
        padding: 0 6rem;
    }
}

// sections (common)
.information, .featured, .socialmedia {
    background: url("../img/subbg.gif");
}

// sections
.services {
    @include breakpoints.sm {
      background: url("../img/subbg.gif");
      .row {
        margin-top: -76px;
        position: relative;
      }
    }
  }

.information {
    h3 {
        text-transform: uppercase;
    }
}

.socialmedia {
    h4 {
        text-transform: uppercase;
    }
}

.featured {
    h3 {
        text-transform: uppercase;
    }
}

// featured
.featured {
    @include breakpoints.md {
        padding:3rem 0 4rem;
    }
}

// featured divider
@include breakpoints.sm {
.featured::before {
    content: "";
    top:0;
    position: absolute;
    display: block;
    width: calc(100% - 3rem); 
    height: 1.5px;
    background-color: color.$theme-tertiary-300; 
}
}


