// objects 
$theme-primary:#80b600;
$theme-secondary:#FFFFFF;
$theme-tertiary-100:#FAFAFA;
$theme-tertiary-200:#E7E7E7;
$theme-tertiary-300:#CDCDCD;
$theme-tertiary-400:#646464;
$accent:#1C1C1C;

// font 
$font-color-primary:#484848;
$font-color-secondary:$accent;
$font-color-tertiary:$theme-secondary;

