@use "../abstracts/breakpoint" as *;
@use "../base/color" as *;

.footer_block {
  background-image: url("/images/subbg.gif");
  padding: 38px;
  h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 25px;
  }
}

.footer_link {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  @include breakpoint($ipad) {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
}

.footer_copyright {
  display: flex;
  justify-content: center;
  p {
    color: $color-dark-gray;
  }
  a {
    color: $color-green;
  }
}

.footer_nav {
  display: flex;
  justify-content: center;
  @include breakpoint($sm) {
    display: none;
  }
  &_item {
    padding: 0 8px;
    text-transform: uppercase;
    color: $color-dark-gray;
    &:hover {
      color: $color-green;
    }
    &:not(:last-child) {
      border-right: 1px solid $color-dark-gray;
    }
  }
}

/* .testimonials_block {
    //三角形區域
    position: relative;
    background-color: $color-light-gray;
    border: 1px solid $color-gray;
    .arrow {
      width: 0;
      height: 0;
      border-top: 22px solid $color-gray;
      border-bottom: 22px solid transparent;
      border-right: 23px solid transparent;
      position: absolute;
      left: -1px;
      &:after {
        content: "";
        width: 0;
        height: 0;
        border-top: 21px solid $color-light-gray;
        border-bottom: 21px solid transparent;
        border-right: 21px solid transparent;
        position: absolute;
        top: -24px;
        left: 1px;
      }
    }
  }
  
  .man {
    padding-top: 40px;
    display: flex;
    gap: 15px;
    &_content {
      a {
        font-style: italic;
        color: $color-green;
        &:hover {
          color: $color-black;
        }
      }
    }
  }
 */