@use "../abstracts/breakpoint" as *;
@use "../base/color" as *;
@use "../component/flickr";
@use "../component/form";
@use "../component/testimonials";

.footer {
  .footer_block {
    background-image: url("/images/subbg.gif");
    padding: 38px;
    box-shadow: 0 0 10px $color-dark-gray;
    h3 {
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 900;
      margin-bottom: 25px;
    }
  }

  .footer_link {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    @include breakpoint($ipad) {
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
    }

    .footer_copyright {
      display: flex;
      justify-content: center;
      @include breakpoint($ipad) {
        order: 1;
      }
      p {
        color: $color-dark-gray;
      }
      a {
        color: $color-primary;
      }
      @include breakpoint($sm) {
        margin-top: 10px;
      }
    }

    .footer_nav {
      display: flex;
      justify-content: center;
      @include breakpoint($sm) {
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }

      &_item {
        padding: 0 8px;
        text-transform: uppercase;
        color: $color-dark-gray;
        &:hover {
          color: $color-primary;
        }
        &:not(:last-child) {
          border-right: 1px solid $color-dark-gray;
          @include breakpoint($sm) {
            border-right: none;
          }
        }
      }
    }
  }
}
