@use '../abstracts/' as *;

.bottom_nav {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  @include breakpoint-up(tablet) {
    flex-direction: row;
    gap: 0;
  }

  text-transform: uppercase;

  a {
    display: block;
    text-align: center;

    padding-inline: 0.6rem;

    line-height: 2ex;

    &:hover,
    &[aria-current="page"] {
      color: $green;
    }

    &+a {
      @include breakpoint-up(tablet) {
        border-left: 1px solid $gray-200;
      }
    }
  }
}