@use '../abstracts/' as *;

.choose_us {
  .info {
    display: flex;
    gap: 8px;
    align-items: start;

    &:first-child {
      margin-bottom: 12px;
    }

    &:not(first-child) {
      margin-block: 12px;
    }
  }

  // 圓形按鈕
  a {
    flex-shrink: 0;

    margin: 0 12px 12px;

    width: 48px;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background: $gray-200;

    &:hover {
      background: $green;
    }

    i {
      color: $white;
    }
  }

  p {
    padding-top: 14px;

    line-height: 1.2rem;
  }

  hr {
    margin-block: 0;
    border-top: 2px solid $gray-300;
  }
}