@use '../abstracts/' as *;

// 依螢幕大小，出現在 header 和 footer 的元件
.contacts {

  .sns {
    display: flex;
    gap: 5px;

    a {
      display: block;
      height: 27px;
      width: 28px;
      background-image: url('../image/social.png');
      background-repeat: no-repeat;
    }

    .facebook {
      background-position-x: 0%;
    }

    .twitter {
      background-position-x: 25%;
    }

    .reddit {
      background-position-x: 50%;
    }

    .network {
      background-position-x: 75%;
    }

    .rss {
      background-position-x: 100%;
    }
  }

  .phone {
    text-align-last: right;
    text-transform: capitalize;
  }

  // 在平板以上才出現在 header
  &.header {

    display: none;

    @include breakpoint-up(tablet) {
      display: block;
    }

    .sns {
      justify-content: end;
      a {
        background-position-y: 0%;
      }

      a:hover {
        background-position-y: 100%;
      }
    }

    .phone {
      color: $black;

      a {
        &:hover {
          color: $green;
          text-decoration: underline;
        }
      }
    }
  }

  // 在平板以下才出現在 footer
  &.footer {
    display: block;

    @include breakpoint-up(tablet) {
      display: none;
    }

    .sns {
      justify-content: center;
      a {
        background-position-y: 100%;
      }

      a:hover {
        transform: scale(1.2);
      }
    }

    .phone {
      color: $gray-300;
      text-align: center;

      a {
        color: $green;

        &:hover {
          font-weight: bold;
        }
      }
    }
  }
}