@use '../abstracts/' as *;

.testimonials {

  // 為對話繪製外框
  .dialog_container {
    margin-bottom: $gap-inner;
    padding: 1.5px;
    background-color: $gray-200;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    clip-path: polygon(0% 0%, 100% 0, 100% 85%, 8.5% 85%, 0 100%);

    p {
      padding: px2rem(18) px2rem(12) px2rem(38) px2rem(26);
      font-size: px2rem(14);

      border-top-left-radius: 3px;
      border-top-right-radius: 3px;

      // 裁剪出對話框
      clip-path: polygon(0% 0%, 100% 0, 100% 85%, 8% 85%, 0 100%);
    }
  }

  .user {
    display: flex;
    gap: 16px;

    .img_container {
      flex-grow: 0;

      width: 4rem;
      img {
        object-fit: cover;
      }
    }

    .user_text {
      a {
        color: $green;
        font-style: italic;
        font-weight: 700;
      }
    }
  }

}