@use '../abstracts/' as *;

.welcome {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    font-size: 0.9rem;

    @include breakpoint(mobile) {
      flex-direction: row;
      align-items: center;
    }

    @include breakpoint(PC) {
      flex-direction: column;
    }

    .img_container {
      width: 100%;

      @include breakpoint(mobile) {
        flex: 1 0 40%; 
      }
    }
  }
}