@use '../utils/' as utils;
@use '../globals/boilerplate' as boilerplate;

footer {
  .social_interactions {
    background: url(../image/subbg.gif);
    display: grid;
    gap: utils.px2rem(30);

    @include boilerplate.breakpoint(mobile) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include boilerplate.breakpoint(PC) {
      grid-template-columns: repeat(4, 1fr);
    }

    padding: utils.px2rem(40);
    box-shadow: 0 0 utils.px2rem(5) 0;
  }

  .copyright_box {
    flex-direction: column;
    align-items: center;
    padding: utils.px2rem(16) 0 utils.px2rem(10);

    @include boilerplate.breakpoint(PC) {
      flex-direction: row;
      justify-content: space-between;
    }

    .copyright {
      @include boilerplate.breakpoint(PC) {
        order: -1;
      }

      color: var(--gray4);

      a {
        color: var(--green);
      }
    }

    .bottom_contact {
      margin: utils.px2rem(3);

      @include boilerplate.breakpoint(tablet) {
        display: none;
      }

      .phone {
        span {
          color: var(--gray4);
        }

        a {
          color: var(--gray4);

          &:hover {
            color: var(--green)
          }
        }
      }

    }
  }
}