@use '../utils/' as u;
@use '../components/testimonials';
@use '../components/get_in_touch';
@use '../components/flickr';
@use '../components/bottom_nav';

footer {
  .social_interactions {
    background: url(../../image/subbg.gif);
    @include u.grid(1, 30);

    @include u.breakpoint(mobile) {
      @include u.grid(2, 30);
    }

    @include u.breakpoint(PC) {
      @include u.grid(4, 30);
    }

    padding: u.rem(40);
    box-shadow: 0 0 u.rem(5) 0;
  }

  .copyright_box {
    flex-direction: column;
    align-items: center;
    padding: u.rem(16) 0 u.rem(10);

    @include u.breakpoint(PC) {
      flex-direction: row;
      justify-content: space-between;
    }

    .copyright {
      @include u.breakpoint(PC){
        order: -1;
      }
      color: var(--gray4);

      a {
        color: var(--green);
      }
    }

    .bottom_contact {
      margin: u.rem(3);

      @include u.breakpoint(tablet) {
        display: none;
      }

      .phone{
        span {
          color:var(--gray4);
        }
        a {
            color: var(--gray4);
            &:hover {
              color: var(--green)
            }
          }
      } 
        
    }
  }
}