@use '../utils/' as u;
@use '../components/social_media';
@use '../vendors/bootstraps';
@use '../components/seaarch_container';


.header {
  margin: u.rem(10) auto 0;

  &_box {    
    background: url(../../image/subbg.gif);
    padding: u.rem(38) u.rem(43) 0;
    margin-bottom: u.rem(30);    
    box-shadow: 0 0 u.rem(5) 0;
    justify-content: center;
    @include u.breakpoint(tablet){
      justify-content: space-between;
    } 
    h1 {
      width: 100%;
      max-width: 330px;
    }     
  }

  .contact {
    display: none;

    @include u.breakpoint(tablet) {
      display: block;
    }
  }

  .phone a {
    color: var(--text-color);
    &:hover {
      color: var(--green)
    }
  }
}