@use '../utils/' as utils;
@use '../globals/boilerplate' as boilerplate;

.header {
  margin: utils.px2rem(10) auto 0;

  &_box {
    background: url(../image/subbg.gif);
    padding: utils.px2rem(38) utils.px2rem(43) 0;
    margin-bottom: utils.px2rem(30);
    box-shadow: 0 0 utils.px2rem(5) 0;
    justify-content: center;

    @include boilerplate.breakpoint(tablet) {
      justify-content: space-between;
    }

    h1 {
      width: 100%;
      max-width: 330px;
    }
  }

  .contact {
    display: none;

    @include boilerplate.breakpoint(tablet) {
      display: block;
    }
  }

  .phone a {
    color: var(--text-color);

    &:hover {
      color: var(--green)
    }
  }
}