@use '../components/perspective';
@use '../components/about_item';
@use '../components/featured_works';
@use '../utils/' as u;

.main {
  &_info {
    background: url(../../image/subbg.gif);
    margin-top: -(u.rem(30));
  }
  .business_perspectives {
    position: relative;
    @include u.margin2(0, 40);
    @include u.grid(4, 30);    
  }
  .about_items {
    @include u.padding3(50, 40, 80);
    @include u.grid(3, 30);    
  }
  .featured_works {
    @include u.margin3(50, 40, 76);
  }
}