@use '../components/perspective';
@use '../components/about_item';
@use '../components/featured_works';
@use '../vendors/swiper';
@use '../utils/' as u;

.main {
  &_info {
    background: url(../../image/subbg.gif);
    @include u.margin3(-34,0,70);
    box-shadow: 0 0 u.rem(5) 0;
    // margin-bottom: u.rem(70);
  }

  .business_perspectives {
    position: relative;
    @include u.margin2(0, 40);
    @include u.grid(1, 30);

    @include u.breakpoint(mobile){
      // @include u.grid(2, 30);
      // 為跑版而改
      grid-template-columns: repeat(2, minmax(0,1fr));
    }
    @include u.breakpoint(PC){
      grid-template-columns: repeat(4, minmax(0, 1fr));
      // 為跑版而改
      // @include u.grid(4, 30);
    }
  }

  .about_items {
    @include u.padding3(50, 40, 80);    
    @include u.grid(1, 30);
    @include u.breakpoint(PC){
      @include u.grid(3, 30);
    }
  }

  .featured_works {
    @include u.padding3(50, 40, 76);
  }
}