@use "../abstracts/breakpoint" as *;
@use "../base/color" as *;

.carousel .carousel-inner {
  z-index: 1;
  img {
    min-height: 300px;
    object-fit: cover;
    object-position: right center;
  }
  @include breakpoint(lg) {
    height: 100%;
  }
}


.carousel-control-next,
.carousel-control-prev {
  background: $color-black;
  max-width: 50px;
  max-height: 150px;
  padding: 10px 10px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  &:hover {
    background-color: $color-green;
  }
  &-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
