@use "../abstracts/breakpoint" as *;
@use "../base/color" as *;

@mixin swiper_button($left, $right) {
  color: $color-gray;
  position: absolute;
  top: auto;
  bottom: -10px;
  left: $left;
  right: $right;
  width: fit-content;
  height: fit-content;
  &::after {
    content: "";
  }
}

.swiper-container {
  position: relative;
  overflow: hidden;
  .feature_title {
    position: relative;
  }
  .swiper-button-next {
    @include swiper_button(auto, 0);
  }
  .swiper-button-prev {
    @include swiper_button(auto, 20px);
  }
}

.swiper-wrapper {
  width: 100%;
}

.swiper-slide {
  height: 225px;
  display: flex;
  background: #eee;
  align-items: center;
  justify-content: center;
  transition: all 200ms linear;
  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
  &__content {
    height: 300px;
  }
}
