@use "../abstracts/breakpoint" as *;
@use "../base/color" as *;

@mixin swiper_button($left, $right) {
  color: $color-gray;
  position: absolute;
  top: auto;
  bottom: -10px;
  left: $left;
  right: $right;
  width: fit-content;
  height: fit-content;
  &::after {
    content: "";
  }
}

.swiper-container {
  position: relative;
  overflow: hidden;
  .feature_title {
    position: relative;
  }
  .swiper-button-next {
    @include swiper_button(auto, 0);
  }
  .swiper-button-prev {
    @include swiper_button(auto, 20px);
  }
}

.swiper-wrapper {
  width: 100%;
}

.swiper-slide {
  height: 225px;
  display: flex;
  background: #eee;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    &:hover {
      background-color: #ff1493;
    }
  }
  &__content {
    height: 300px;
  }

  .hover-img {
    background-color: #000;
    color: #fff;
    display: inline-block;
    margin: 8px 0px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;

    & * {
      transition: all 0.45s ease;
    }
    &::before,
    &::after {
      content: "";
      background-color: rgba(0, 0, 0, 0.3);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transition: all 0.3s ease;
      z-index: 1;
      opacity: 0;
      transform: translateY(2);
    }


    figcaption {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      align-items: center;
      z-index: 1;
      display: flex;
      gap: 20px;
      flex-direction: column;
      justify-content: center;
      opacity: 0;
      z-index: 2;
      font-size: 14px;
    }

    &-button {
      width: 25px;
      height: 25px;
    }
    &:hover::before,
    &:hover::after {
      transform: scale(1);
      opacity: 0.6;
    }
    
    &:hover figcaption {
      opacity: 1;
    }
  }
}

//transitions mixin
@mixin transition-mix($property: all, $duration: 0.2s, $timing: linear, $delay: 0s) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing;
  transition-delay: $delay;
}

//position absolute mixin
@mixin position-absolute ($top: null, $left: null, $right: null, $bottom: null) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

//mixin for image positioning
@mixin img-position($max-width: 200%, $max-height: 200%) {
  position: relative;
  overflow: hidden;

  img {
    @include position-absolute($top: 50%, $left: 50%);

    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
  }
}

.portfolio-effect {
  display: flex;
  justify-content: space-between;
}

.portfolio-item {
  @include img-position();
  width: 100%;
  height: 100%;
}

.portfolio-item__info {
  @include position-absolute($top: $portfolio-item-info-offset, $left: $portfolio-item-info-offset);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 2 * #{$portfolio-item-info-offset});
  height: calc(100% - 2 * #{$portfolio-item-info-offset});
  
  background-color: rgba(0, 0, 0, 0.7);
}

.portfolio-item__header {
  position: relative;
  color: $color-white;
  
  margin: 0 0 20px 0;
  padding: 10px 0;
  
  font: {
    size: 14px;
  }
  
  &:after {
    @include position-absolute($bottom: 0, $left: 0);
    
    display: block;
    height: 2px;
    width: 100%;
    
    content: '';
    
    background-color: $accent-theme-color2;
  }
}

.portfolio-item__links {
  display: flex;
}

.portfolio-item__link-block {
   position: relative;
  
   width: $portfolio-link-dimensions;
   height: $portfolio-link-dimensions;
   margin-right: $portfolio-link-offset;
  
  &:last-child {
    margin-right: 0;
  }
}

.portfolio-item__link {
  @include transition-mix;
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  
  color: $color-white;
  text-decoration: none;
  
  border: 1px solid $color-white;
  border-radius: 50%;
  
  &:hover {    
    color: $light-theme-color;
    
    background-color: $dark-theme-color;
  }
}

/* EFFECT #1 STYLES */
.portfolio-item--eff1 {
  
  .portfolio-item__info {
    transform: scale(1.1);
    opacity: 0;
  }
  
  .portfolio-item__header {
    top: -10px;
    opacity: 0;
    
    &:after {
      transform: scaleX(0);
    }
  }
  
  .portfolio-item__link-block {
    top: 20px;
    
    opacity: 0;
  }
}

.portfolio-item--eff1:hover {
 
  .portfolio-item__info {
    @include transition-mix($duration: .4s);
    
    /* transform: scale(1); */
    opacity: 1;
  }
  
  .portfolio-item__header {
    @include transition-mix($delay: .45s);
    
    top: 0;
    opacity: 1;
    
    &:after {
      @include transition-mix($duration: .3s, $timing: cubic-bezier(0.63, 0.01, 0, 1.39), $delay: .65s);
      
      transform: scaleX(1);
    }
  }
  
  .portfolio-item__link-block {
    top: 0;
    opacity: 1;
    
    &:first-child {
      @include transition-mix($delay: .85s);
    }
    
    &:nth-child(2) {
      @include transition-mix($delay: .95s);
    }
  }
}
