@use "../abstracts/" as *;
.swiper-button-next,
.swiper-button-prev {
  position: static;
  margin: 0;
  display: inline-block;
  width: fit-content;
  height: fit-content;

  &::after {
    font-size: $font_base * 1.5;
    color: $deco;
    font-weight: 900;
    @include desktop() {
      font-size: $font_base;
    }
  }
  &:hover::after {
    color: $highlight;
  }
}
.swiper-button-next {
  margin-left: $margin_base * 2;
  @include desktop() {
    margin-left: $margin_base;
  }
}
