@use '../utils/' as u;

.about_item {

  p {
    color: var(--gray4);
    margin: 0;

    a {
      color: var(--text-color);

      &:hover {
        color: var(--green)
      }
    }
  }

  &:nth-child(1)>div {
    display: flex;
    flex-direction: column;

    @include u.breakpoint(mobile) {
      flex-direction: row;
    }

    @include u.breakpoint(PC) {
      flex-direction: column;
    }


    div {
      margin-bottom: u.px_to_rem(27);

      @include u.breakpoint(mobile) {
        margin-right: u.px_to_rem(27);
        margin-bottom: unset;
        flex: 1 0 40%;
      }

      @include u.breakpoint(PC) {
        margin-bottom: u.px_to_rem(27);
        margin-right: unset;
      }
    }
  }

  &:nth-child(2)>div {
    div {
      padding: u.px_to_rem(13) 0 u.px_to_rem(20);
      border-bottom: 2px solid var(--gray0);
      gap: 10px;
      align-items: baseline;
    }

    a {
      display: block;
      width: u.px_to_rem(48);
      height: u.px_to_rem(48);
      text-align: center;
      line-height: u.px_to_rem(48);
      border-radius: 50%;
      background-color: var(--gray3);

      &:hover {
        background-color: var(--green);
      }
    }

    i {
      color: var(--white);
    }
  }

  &:nth-child(3)>div {
    gap: u.px_to_rem(30);

    &+div {
      margin-top: u.px_to_rem(36);
    }

    div:nth-child(1) {
      max-width: u.px_to_rem(144);
      flex: 1 0 40%;
    }

    time {
      background-color: var(--green);
      color: var(--white);
      display: inline-block;
      padding: u.px_to_rem(7) u.px_to_rem(14);
      font-weight: 700;
      margin-bottom: u.px_to_rem(30);
    }

  }
}