@use '../utils/' as u;

.bottom_nav {
  a {
    text-transform: uppercase;
    color: var(--gray4);
    
    @include u.hover_color(var(--green));
    display: block;
    text-align: center;

    @include u.breakpoint(tablet) {
      display: inline;
      @include u.padding2(0, 12);
    }

    &+a {
      @include u.breakpoint(tablet){
        border-left: 1px solid var(--gray4);
      }
    }
  }
}