@use '../utils/' as u;

.bottom_nav {
  // 處理a tag自然留白
  font-size: 0;

  a {
    font-size: u.px_to_rem(16);
    text-transform: uppercase;
    color: var(--gray4);

    &:hover {
      color: var(--green)
    }

    display: block;
    text-align: center;

    @include u.breakpoint(tablet) {
      display: inline;
      padding: 0 u.px_to_rem(12);
    }

    &+a {
      @include u.breakpoint(tablet) {
        border-left: 1px solid var(--gray4);
      }
    }
  }
}