@use '../utils/' as u;

.bottom_nav {
  a {
    text-transform: uppercase;
    color: var(--gray4);
    @include u.padding2(0, 12);

    &:hover {
      color: var(--green);
    }

    &+a {
      border-left: 1px solid var(--gray4);
    }
  }
}