@use '../utils/' as u;


.featured_works::before {
  content:"";
  display: block;
  width: 100%;
  height: u.rem(2);
  background-color: var(--gray3);
  transform: translateY(-(u.rem(50)));
}

.swiper-slide {
  position: relative;
  width: u.rem(270);
  img {
    width: 100%;
  }
  .hover_cover {
    position: absolute;
  }
}