@use '../utils/' as u;


.form_input {
  gap: u.rem(5);
  margin-bottom: u.rem(20);
  input, textarea {
    width: 100%;
    font-size: u.rem(14);
    background-color: var(--gray1);
    border: 1px solid var(--gray3);
    border-radius: 3px;  
  }
}


textarea {
  resize: none;
}

.btn_box {
  button {
    text-transform: uppercase;
    color: var(--white);
    border: none;
    padding: u.rem(10) u.rem(15);

    &:nth-child(1) {
      background-color: var(--text-color);
    }

    &:nth-child(2) {
      background-color: var(--green);
    }
  }
}