@use '../utils/' as u;

.perspective {  
  text-align: center;
  background-color: var(--gray1);
  @include u.padding4(34, 36, 22, 36);
  display: flex;
  flex-direction: column;
  @include u.hover(var(--gray5), var(--white));
  
  h4 {
    font-size: u.rem(16);
  }
  
  div {
    @include u.margin3 (0, 66, 22);
  }

  a {
    @include u.a_size(block, 30, 63);
    margin: auto auto 0;
    color: var(--text-color);
    background-color: var(--gray2);
    @include u.hover(var(--green), var(--white));
  }
}