@use '../utils/' as utils;
@use '../globals/boilerplate' as boilerplate;


.search_container {
  flex-grow: 1;
  background-color: var(--white);
  box-shadow: -3px -1px 3px 0 var(--gray4);

  .search_form {
    flex-grow: 1;
    background-color: var(--gray0);
    border: 1px solid var(--gray3);
    margin: utils.px2rem(14) utils.px2rem(17) utils.px2rem(12);

    input {
      border: none;
      background-color: var(--gray0);
    }

    button {
      background: url(../image/search.png) no-repeat;
      background-position: center;
      width: utils.px2rem(36);
      height: 100%;
      border: none;
    }
  }
}

// carousel
.carousel-item {
  img {
    height: utils.px2rem(300);
    object-fit: cover;
    object-position: center right;

    @include boilerplate.breakpoint(tablet) {
      height: auto;
    }
  }
}