@use '../utils/' as u;

$sprites_x: (
  '1': 0%,
  '2': 25%,
  '3': 50%,
  '4': 75%,
  '5': 100%,
);

@mixin position ($size) {
  background-position: map-get($sprites_x, $size) 0%;
    &:hover {
      background-position: map-get($sprites_x, $size) 100%;
    }
}

.social_media {
  margin-bottom: u.rem(12);
  
  a {
    display: block;
    width: u.rem(28);
    height: u.rem(27);
    background: url(../../image/social.png) no-repeat;   

    & + a {
      margin-left: u.rem(7);
    }    

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        @include position(#{$i});
      }      
    }
  }
}

