@use '../utils/' as utils;

.testimonials_text {
  background-color: var(--gray1);
  padding: utils.px2rem(18) utils.px2rem(12) utils.px2rem(38) utils.px2rem(26);
  font-size: utils.px2rem(14);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  clip-path: polygon(0% 0%, 100% 0, 100% 85%, 10% 85%, 0 100%)
}


.commenter {
  gap: utils.px2rem(14);

  a {
    color: var(--green);
  }

  p {
    margin-bottom: 0;
  }
}