a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h4 {
  margin: 0;
}

body {
  background: url(../img/bg.jpg), black;
}

@media (min-width: 576px) {
  main {
    padding: 0 6rem;
  }
}

.information, .featured, .socialmedia {
  background: url("../img/subbg.gif");
}

@media (min-width: 576px) {
  .services {
    background: url("../img/subbg.gif");
  }
  .services .row {
    margin-top: -76px;
    position: relative;
  }
}

.information h3 {
  text-transform: uppercase;
}

.socialmedia h4 {
  text-transform: uppercase;
}

.featured::before {
  content: "";
  top: 0;
  position: absolute;
  display: block;
  width: 95%;
  height: 1.5px;
  background-color: #CDCDCD;
}

@media (min-width: 576px) {
  footer {
    padding: 0 6rem;
  }
}

.icon-card {
  background-color: #E7E7E7;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #CDCDCD solid 1px;
}
@media (min-width: 576px) {
  .icon-card {
    padding: 3rem;
  }
}
.icon-card:hover {
  background-color: #646464;
}
.icon-card:hover h5,
.icon-card:hover p {
  color: #FFFFFF;
}
.icon-card p {
  display: none;
}
@media (min-width: 576px) {
  .icon-card p {
    display: initial;
    color: #1C1C1C;
    font-size: 14px;
    text-align: center;
  }
}
.icon-card h5 {
  font-size: 16px;
  color: #484848;
  text-transform: uppercase;
  text-align: center;
}
.icon-card a {
  padding: 0.3rem;
  background-color: #CDCDCD;
  color: #1C1C1C;
}

.article-card img {
  width: 100%;
}

.news-card {
  display: flex;
  gap: 1rem;
}
.news-card .date {
  background: #80b600;
  color: #FFFFFF;
  padding: 0.25rem;
}
.news-card p {
  color: #646464;
}

.speechbubble {
  position: relative;
  padding: 1rem;
  background-color: #E7E7E7;
  border: #CDCDCD 1px solid;
  border-radius: 3px;
}
.speechbubble::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 20px 30px 0 0;
  border-color: #E7E7E7 transparent transparent transparent;
  filter: drop-shadow(-1px 2px 0px #cecece);
  bottom: -18px;
  left: 5%;
  transform: translateX(-50%);
}

.minialbum {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
}
.minialbum img {
  width: 100%;
  height: auto;
}
.minialbum img:hover {
  opacity: 0.4;
}

.copyrights {
  display: flex;
  justify-content: space-between;
}
.copyrights span {
  text-transform: uppercase;
}
.copyrights span:nth-child(1) {
  color: #CDCDCD;
}
.copyrights span:nth-child(2) {
  color: #80b600;
}
.copyrights ul {
  display: flex;
}
.copyrights a {
  color: #CDCDCD;
  text-transform: uppercase;
}
.copyrights a:hover {
  color: #80b600;
}

.picture-card {
  display: flex;
  align-items: center;
}
.picture-card span {
  display: block;
  color: #646464;
}
.picture-card a {
  color: #80b600;
  font-style: italic;
  font-weight: 500;
}
.picture-card .profilepicture {
  width: 4rem;
}
.picture-card .profilepicture img {
  width: 100%;
}

form input {
  background-color: #E7E7E7;
  border: #CDCDCD 0.5px solid;
}
form input ::placeholder {
  color: #646464;
}
form .blank input {
  width: 100%;
}
form .blank input:nth-child(3) {
  height: 8rem;
  vertical-align: top;
}

.buttons {
  display: block;
}
.buttons input[type=submit]:nth-child(1) {
  background-color: #1C1C1C;
  color: #FFFFFF;
}
.buttons input[type=submit]:nth-child(2) {
  background-color: #80b600;
  color: #FFFFFF;
}

h1 {
  width: 70%;
}
h1 img {
  width: 100%;
}

.businessplanet {
  flex-direction: column;
}
.businessplanet .navbar-toggler-icon {
  background: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2030%2030%27%3E%3Cpath%20stroke%3D%27rgba(128%2C%20182%2C%200%2C%201)%27%20stroke-linecap%3D%27round%27%20stroke-miterlimit%3D%2710%27%20stroke-width%3D%272%27%20d%3D%27M4%207h22M4%2015h22M4%2023h22%27%2F%3E%3C%2Fsvg%3E");
}
.businessplanet .btn-close {
  background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2380B600'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>");
}

.offcanvas-body {
  background: #1C1C1C;
}
@media (min-width: 576px) {
  .offcanvas-body {
    background: #FFFFFF;
  }
}
.offcanvas-body .nav-link {
  color: #FFFFFF;
  font-size: 20px;
  text-transform: uppercase;
}
@media (min-width: 576px) {
  .offcanvas-body .nav-link {
    color: #1C1C1C;
  }
}
.offcanvas-body :hover {
  color: #80b600;
}
.offcanvas-body .dropdown-menu {
  padding: 0;
}
.offcanvas-body .dropdown-item {
  background: #80b600;
  color: #FFFFFF;
  text-transform: uppercase;
}

.socialmedia ul {
  display: flex;
}
.socialmedia a {
  width: 29px;
  height: 27px;
  display: inline-block;
}
.socialmedia .facebook {
  background: url(../img/social.png) 0px -27px;
}
.socialmedia .twitter {
  background: url(../img/social.png)-37px -27px;
}
.socialmedia .circle {
  background: url(../img/social.png)-74px -27px;
}
.socialmedia .web {
  background: url(../img/social.png)-110px -27px;
}
.socialmedia .feed {
  background: url(../img/social.png)-147px -27px;
}
@media (min-width: 576px) {
  .socialmedia .facebook {
    background: url(../img/social.png) 0px -1px;
  }
  .socialmedia .facebook:hover {
    background: url(../img/social.png) 0px -27px;
  }
  .socialmedia .twitter {
    background: url(../img/social.png)-37px -1px;
  }
  .socialmedia .twitter:hover {
    background: url(../img/social.png)-37px -27px;
  }
  .socialmedia .circle {
    background: url(../img/social.png)-74px -1px;
  }
  .socialmedia .circle:hover {
    background: url(../img/social.png)-74px -27px;
  }
  .socialmedia .web {
    background: url(../img/social.png)-110px -1px;
  }
  .socialmedia .web:hover {
    background: url(../img/social.png)-110px -27px;
  }
  .socialmedia .feed {
    background: url(../img/social.png)-148px -1px;
  }
  .socialmedia .feed:hover {
    background: url(../img/social.png)-148px -27px;
  }
}

.visual-carousel .carousel-item {
  height: 350px;
}
.visual-carousel .carousel-item img {
  min-height: 100%;
  object-fit: cover;
}
@media (min-width: 576px) {
  .visual-carousel .carousel-item {
    height: 100%;
  }
}
.visual-carousel .carousel-control-prev, .visual-carousel .carousel-control-next {
  height: 50px;
  width: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #333;
  border: none;
  color: #fff;
}
@media (min-width: 576px) {
  .visual-carousel .carousel-control-prev, .visual-carousel .carousel-control-next {
    width: 38px;
    height: 112px;
  }
}
.visual-carousel .carousel-control-prev:hover, .visual-carousel .carousel-control-next:hover {
  background-color: #80b600;
}

.custom-accordion h2 {
  color: #484848;
}
.custom-accordion button {
  font-size: 20px;
  padding: 1rem;
  border-bottom: #E7E7E7 solid 1px;
}
.custom-accordion .accordion-body {
  padding: 1rem;
  background: #E7E7E7;
}

.accordion-button {
  background: transparent;
}
.accordion-button:hover {
  color: #80b600;
}
.accordion-button::after {
  display: none;
}
.accordion-button::before {
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
  background: url(/img/chevron-right.svg), #E7E7E7;
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
  border-radius: 50%;
  background-position: center;
}
.accordion-button::before:hover {
  background: #80b600;
}
.accordion-button:focus {
  border-color: #80b600;
}
.accordion-button:not(.collapsed)::before {
  transform: rotate(90deg);
  background-color: #80b600;
}

.custom-carousel .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .featured {
    position: relative;
  }
  .featured .custom-carousel {
    position: static;
  }
  .featured .custom-carousel .swiper-button-next {
    top: 0;
    right: 25px;
    color: #CDCDCD;
  }
  .featured .custom-carousel .swiper-button-next::after {
    font-size: 20px;
  }
  .featured .custom-carousel .swiper-button-prev {
    top: 0;
    left: 1172px;
    color: #CDCDCD;
  }
  .featured .custom-carousel .swiper-button-prev::after {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
