a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h4 {
  margin: 0;
}

body {
  background: url(../img/bg.jpg), black;
  background-repeat: repeat-x, repeat;
  background-position: top 5rem center, center;
  background-size: 277px 85%, 100%;
}

@media (min-width: 1200px) {
  body {
    padding: 0 4rem;
  }
}
@media (min-width: 1400px) {
  body {
    padding: 0 6rem;
  }
}

@media (min-width: 576px) {
  main {
    box-shadow: 0px 0px 5px -1px;
  }
}

.information, .featured, .socialmedia {
  background: url("../img/subbg.gif");
}

@media (min-width: 576px) {
  .services {
    background: url("../img/subbg.gif");
  }
  .services .row {
    margin-top: -76px;
    position: relative;
  }
}

.information h3 {
  text-transform: uppercase;
}

.socialmedia h4 {
  text-transform: uppercase;
}

.featured h3 {
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .featured {
    padding: 3rem 0 4rem;
  }
}

@media (min-width: 576px) {
  .featured::before {
    content: "";
    top: 0;
    position: absolute;
    display: block;
    width: calc(100% - 3rem);
    height: 1.5px;
    background-color: #CDCDCD;
  }
}
@media (min-width: 576px) {
  footer {
    margin-top: 60px;
  }
}
@media (min-width: 576px) {
  footer .socialmedia {
    box-shadow: 0px 0px 5px -1px;
  }
}

footer .copyrights {
  padding-left: 1rem;
}
@media (min-width: 1200px) {
  footer .copyrights {
    padding: 0;
  }
}

.icon-card {
  background-color: #E7E7E7;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #CDCDCD solid 1px;
  height: 100%;
}
@media (min-width: 576px) {
  .icon-card {
    padding: 3rem;
  }
}
.icon-card:hover {
  background-color: #646464;
  opacity: 0.9;
  border: none;
}
.icon-card:hover h5,
.icon-card:hover p {
  color: #FFFFFF;
}
.icon-card p {
  display: none;
}
@media (min-width: 576px) {
  .icon-card p {
    display: initial;
    color: #1C1C1C;
    font-size: 14px;
    text-align: center;
  }
}
.icon-card h5 {
  font-size: 16px;
  color: #484848;
  text-transform: uppercase;
  text-align: center;
}
.icon-card a {
  padding: 0.3rem;
  background-color: #CDCDCD;
  color: #1C1C1C;
}
.icon-card .icon {
  margin: 1rem 0;
}

@media (min-width: 768px) {
  .icon-card p {
    display: -webkit-inline-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
  }
}

.icon-card a {
  margin-top: auto;
}

.article-card img {
  width: 100%;
}
.article-card span {
  display: inline-block;
}
.article-card span a {
  color: #000000;
  font-weight: 500;
}
.article-card span a:hover {
  opacity: 0.6;
}

.news-card {
  display: flex;
  gap: 1rem;
}
.news-card .date {
  background: #80b600;
  color: #FFFFFF;
  padding: 0.25rem;
}
.news-card p {
  color: #646464;
}
.news-card p a {
  color: #000000;
  font-weight: 500;
}
.news-card p a:hover {
  opacity: 0.6;
}
.news-card .picture {
  width: 400px;
}
.news-card .picture img {
  width: 100%;
}

.speechbubble {
  position: relative;
  padding: 1rem;
  background-color: #E7E7E7;
  border: #CDCDCD 1px solid;
  border-radius: 3px;
}
.speechbubble::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 20px 30px 0 0;
  border-color: #E7E7E7 transparent transparent transparent;
  filter: drop-shadow(-1px 2px 0px #cecece);
  bottom: -18px;
  left: 15px;
  transform: translateX(-50%);
}

.picture-card {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.picture-card span {
  display: block;
  color: #000000;
}
.picture-card a {
  color: #80b600;
  font-style: italic;
  font-weight: 500;
}
.picture-card .profilepicture {
  width: 4rem;
}
.picture-card .profilepicture img {
  width: 100%;
}

.minialbum {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
}
.minialbum img {
  width: 100%;
  height: auto;
}
.minialbum img:hover {
  opacity: 0.4;
}

.copyrights {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 992px) {
  .copyrights {
    flex-direction: row;
  }
}
.copyrights span {
  text-transform: uppercase;
}
.copyrights span:nth-child(1) {
  color: #CDCDCD;
}
.copyrights span:nth-child(2) {
  color: #80b600;
}
.copyrights ul {
  display: flex;
  flex-direction: column;
}
@media (min-width: 576px) {
  .copyrights ul {
    flex-direction: row;
    gap: 1rem;
  }
}
.copyrights a {
  color: #646464;
  text-transform: uppercase;
}
.copyrights a:hover {
  color: #80b600;
}
.copyrights div {
  display: flex;
  flex-direction: column;
}
@media (min-width: 576px) {
  .copyrights div {
    flex-direction: row;
    gap: 1rem;
    position: relative;
  }
}

@media (min-width: 576px) {
  .copyrights div::before {
    content: "";
    position: absolute;
    height: 12px;
    width: 1.5px;
    top: 6px;
    left: 189px;
    background-color: #CDCDCD;
  }
}

@media (min-width: 576px) {
  .copyrights nav li {
    position: relative;
  }
  .copyrights nav li + li ::before {
    content: "";
    position: absolute;
    height: 50%;
    width: 1.5px;
    top: 7px;
    left: -9px;
    background-color: #CDCDCD;
  }
}

form input, form .blank {
  background-color: #E7E7E7;
  border: #CDCDCD 0.5px solid;
}
form input ::placeholder, form .blank ::placeholder {
  color: #646464;
}
form div:nth-child(1) input, form div:nth-child(1) .blank {
  border-radius: 4px;
  width: 100%;
}

.buttons {
  display: block;
}
.buttons input[type=submit]:nth-child(1) {
  background-color: #1C1C1C;
  color: #FFFFFF;
}
.buttons input[type=submit]:nth-child(2) {
  background-color: #80b600;
  color: #FFFFFF;
}

h1 {
  width: 90%;
}
h1 img {
  width: 100%;
}

.phonenumber {
  display: none;
}
@media (min-width: 576px) {
  .phonenumber {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
}
.phonenumber ul {
  margin: 0;
}

.businessplanet {
  flex-direction: column;
  background-color: #FFFFFF;
}
@media (min-width: 576px) {
  .businessplanet {
    background-color: transparent;
    padding: 0;
  }
}
.businessplanet .navbar-toggler-icon {
  background: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2030%2030%27%3E%3Cpath%20stroke%3D%27rgba(128%2C%20182%2C%200%2C%201)%27%20stroke-linecap%3D%27round%27%20stroke-miterlimit%3D%2710%27%20stroke-width%3D%272%27%20d%3D%27M4%207h22M4%2015h22M4%2023h22%27%2F%3E%3C%2Fsvg%3E");
}
.businessplanet .navbar-container, .businessplanet .navlinks-container {
  width: 100%;
}
.businessplanet .btn-close {
  background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2380B600'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>");
}
.businessplanet .navbar-container {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  padding: 0;
}
@media (min-width: 576px) {
  .businessplanet .navbar-container {
    padding: 1.5rem;
    border: #CDCDCD solid 1px;
  }
}
@media (min-width: 576px) {
  .businessplanet .navlinks-container {
    margin-top: 2rem;
  }
}

.offcanvas-body {
  background: #1C1C1C;
}
@media (min-width: 576px) {
  .offcanvas-body {
    background: transparent;
  }
}
@media (min-width: 576px) {
  .offcanvas-body ul {
    border: #CDCDCD solid 1px;
    background-color: #FFFFFF;
  }
}
@media (min-width: 992px) {
  .offcanvas-body {
    gap: 1rem;
  }
}
@media (min-width: 576px) {
  .offcanvas-body .nav-item {
    border-left: #E7E7E7 solid 1px;
  }
  .offcanvas-body .nav-item:nth-child(1) {
    border-left: none;
  }
}
@media (min-width: 576px) {
  .offcanvas-body .navbar-nav {
    align-items: center;
  }
}
.offcanvas-body .nav-link {
  color: #FFFFFF;
  font-size: 16px;
  text-transform: uppercase;
}
@media (min-width: 576px) {
  .offcanvas-body .nav-link {
    color: #484848;
  }
  .offcanvas-body .nav-link:hover {
    color: #FFFFFF;
    background-color: #80b600;
  }
}
.offcanvas-body :hover {
  color: #80b600;
}
@media (min-width: 576px) {
  .offcanvas-body .nav-item:nth-child(8) {
    width: 10rem;
  }
}
.offcanvas-body .dropdown-menu {
  padding: 0;
}
.offcanvas-body .dropdown-item {
  background: #80b600;
  color: #FFFFFF;
  text-transform: uppercase;
}
.offcanvas-body form {
  width: 100%;
}
@media (min-width: 576px) {
  .offcanvas-body form {
    padding: 6px 10px;
    background-color: #FFFFFF;
    border: #CDCDCD solid 1px;
  }
}
@media (min-width: 576px) {
  .offcanvas-body .icons {
    display: none;
  }
}
.offcanvas-body input {
  background-color: #E7E7E7;
  border-radius: 0;
}

.icons ul {
  display: flex;
}
.icons a {
  width: 29px;
  height: 27px;
  display: inline-block;
}
.icons .facebook {
  background: url(../img/social.png) 0px -27px;
}
.icons .twitter {
  background: url(../img/social.png)-37px -27px;
}
.icons .circle {
  background: url(../img/social.png)-74px -27px;
}
.icons .web {
  background: url(../img/social.png)-110px -27px;
}
.icons .feed {
  background: url(../img/social.png)-147px -27px;
}
@media (min-width: 576px) {
  .icons .facebook {
    background: url(../img/social.png) 0px -1px;
  }
  .icons .facebook:hover {
    background: url(../img/social.png) 0px -27px;
  }
  .icons .twitter {
    background: url(../img/social.png)-37px -1px;
  }
  .icons .twitter:hover {
    background: url(../img/social.png)-37px -27px;
  }
  .icons .circle {
    background: url(../img/social.png)-74px -1px;
  }
  .icons .circle:hover {
    background: url(../img/social.png)-74px -27px;
  }
  .icons .web {
    background: url(../img/social.png)-110px -1px;
  }
  .icons .web:hover {
    background: url(../img/social.png)-110px -27px;
  }
  .icons .feed {
    background: url(../img/social.png)-148px -1px;
  }
  .icons .feed:hover {
    background: url(../img/social.png)-148px -27px;
  }
}

.offcanvas-custom form {
  position: relative;
}
.offcanvas-custom form input::placeholder {
  color: rgb(91, 195, 0);
}
.offcanvas-custom form button {
  background-color: transparent;
  color: #80b600;
  border: none;
  position: absolute;
  right: 5px;
}
.offcanvas-custom form button:hover {
  background-color: none;
  border: none;
}
@media (min-width: 576px) {
  .offcanvas-custom form {
    flex-direction: column;
  }
  .offcanvas-custom form input::placeholder {
    color: #646464;
  }
  .offcanvas-custom form button {
    color: #646464;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .offcanvas-custom .offcanvas-body {
    flex-direction: column;
  }
  .offcanvas-custom .offcanvas-body .navbar-nav {
    order: 2;
  }
  .offcanvas-custom form {
    padding: 0.2rem;
    border: 0;
  }
  .offcanvas-custom .nav-link {
    font-size: 12px;
  }
  .offcanvas-custom .nav-item:nth-child(8) {
    display: none;
  }
}

@media (min-width: 576px) {
  .offcanvas-body {
    position: relative;
  }
  .offcanvas-body::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1rem;
    background-color: #E7E7E7;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}

.visual-carousel .carousel-item {
  height: 350px;
}
.visual-carousel .carousel-item img {
  min-height: 100%;
  object-fit: cover;
}
@media (min-width: 576px) {
  .visual-carousel .carousel-item {
    height: 100%;
  }
}
.visual-carousel .carousel-control-prev, .visual-carousel .carousel-control-next {
  height: 50px;
  width: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #333;
  border: none;
  color: #fff;
}
@media (min-width: 576px) {
  .visual-carousel .carousel-control-prev, .visual-carousel .carousel-control-next {
    width: 38px;
    height: 112px;
  }
}
.visual-carousel .carousel-control-prev:hover, .visual-carousel .carousel-control-next:hover {
  background-color: #80b600;
}

.custom-accordion h2 {
  color: #484848;
}
.custom-accordion button {
  font-size: 20px;
  padding: 1rem;
  border-bottom: #E7E7E7 solid 1px;
}
.custom-accordion .accordion-body {
  padding: 1rem;
  background: #E7E7E7;
}

.accordion-button {
  background: transparent;
}
.accordion-button:hover {
  color: #80b600;
}
.accordion-button::after {
  display: none;
}
.accordion-button::before {
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
  background: url(/img/chevron-right.svg), #E7E7E7;
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
  border-radius: 50%;
  background-position: center;
}
.accordion-button::before:hover {
  background: #80b600;
}
.accordion-button:focus {
  border-color: #80b600;
}
.accordion-button:not(.collapsed)::before {
  transform: rotate(90deg);
  background-color: #80b600;
}

.custom-carousel .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured {
  position: relative;
}
@media (min-width: 576px) {
  .featured .custom-carousel {
    position: static;
  }
  .featured .custom-carousel .swiper-button-next {
    top: 0;
    right: 20px;
    transform: translateY(50%);
  }
  .featured .custom-carousel .swiper-button-prev {
    top: 0;
    right: 50px;
    left: auto;
    transform: translateY(50%);
  }
}

.featured .mask {
  display: none;
}
.featured .swiper-slide:hover .mask {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: space-evenly;
}

.featured .swiper-button-next, .featured .swiper-button-prev {
  background-color: #333;
  color: #FFFFFF;
  opacity: 0.8;
}
@media (min-width: 576px) {
  .featured .swiper-button-next, .featured .swiper-button-prev {
    background-color: initial;
    color: #CDCDCD;
  }
}
.featured .swiper-button-next:hover, .featured .swiper-button-prev:hover {
  background-color: #80b600;
}
@media (min-width: 576px) {
  .featured .swiper-button-next:hover, .featured .swiper-button-prev:hover {
    background-color: initial;
  }
}
.featured .swiper-button-next::after, .featured .swiper-button-prev::after {
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
