@use "../utils/color" as *;

.introduce_choose {
  .introduce_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    .icon {
      position: relative;
      border-radius: 100%;
      background-color: $gray-100;
      width: 3rem;
      height: 3rem;

      &::after {
        content: "\F285";
        position: absolute;
        top: 35%;
        left: 40%;
        width: 100%;
        height: 100%;
        font-weight: 900;
        color: white;
        font-size: 12px;
        font-family: "Bootstrap-icons";
      }
    }

    &:hover {
      .icon {
        transform: rotate(90deg);
        background-color: $primary_green;
        transition: 0.5s transform;
      }

      .text {
        color: $primary_green;
        font-weight: 500;
      }
    }
  }
}
