@use "../utils/breakpoint" as *;
@use "../base/color" as *;
@use "../utils/layout" as *;

.choose_us {
  @include display_flex(column, $gap_m);
  @include breakpoint($tablet) {
  }

  &_list {
    @include display_flex(row, $gap_m);
    align-items: center;
    @include breakpoint($tablet) {
      padding-bottom: 1rem;
      border-bottom: 0.1rem solid $gray-100;
    }

    .icon {
      position: relative;
      border-radius: 100%;
      background-color: $gray-100;
      width: 3rem;
      height: 3rem;
      margin-left: 1rem;
      @include breakpoint($PC) {
        width: 3.5rem;
        height: 3.5rem;
      }

      &::after {
        content: "\F285";
        position: absolute;
        top: 35%;
        left: 40%;
        width: 100%;
        height: 100%;
        font-weight: 900;
        color: white;
        font-size: 0.8rem;
        font-family: "Bootstrap-icons";
        @include breakpoint($PC) {
          top: 30%;
          left: 35%;
          font-size: 1.2rem;
        }
      }
    }

    .text {
      color: $gray-400;
      @include breakpoint($tablet) {
        line-height: 1.2;
      }
      @include breakpoint($PC) {
        width: 70%;
      }
    }

    &:hover {
      .icon {
        transform: translateX(5%);
        background-color: $primary_color;
        transition: 0.5s transform;
      }

      .text {
        color: $primary_color;
        font-weight: 500;
      }
    }
  }

  .multi_line {
    .text {
      @include breakpoint($PC) {
        padding-top: 1rem;
      }
    }
  }
}
