@use "../utils/color" as *;

.information {

  &_dialog_container{
    clip-path: polygon(0 0, 100% 0, 100% 77%, 15% 77%, 0 90%);
    background-color: $gray-100;
    padding: .1rem .1rem .2rem;
  }

  &_dialog {
    clip-path: polygon(0 0, 100% 0, 100% 77%, 15% 77%, 0 90%);
    padding: 2rem 2rem 5rem;
    background-color: $gray;
  }
}
