@use "../base/font" as *;
@use "../utils/breakpoint" as *;
@use "../utils/layout" as *;

.flickr {
  @include display_flex(column, $gap_s);
  @include breakpoint($tablet) {
    gap: $gap_l;
  }
  
  &_title {
    @extend %information_title;
  }
  
  &_img_group {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
  }

  &_img {
    flex: 1 1 calc(25% - ((0.3rem * 3) / 4));
  }
}
