@use "../utils/color" as *;
@use "../utils/breakpoint" as *;
@use "../Components/extend" as *;

.introduce {
  &_news {
    .introduce_post {
      @extend %gap_layout_phone;
      flex-direction: row;
    }

    img {
      width: 100px;
    }

    .text_container {
      @extend %gap_layout_phone;

      .date {
        width: fit-content;
        padding: 0.3rem 0.5rem;
        background-color: $primary_green;
        font-weight: 500;
        color: $white;
        @include breakpoint($tablet) {
          padding: .1rem;
          font-size:.5rem;
        }
        @include breakpoint($PC) {
          padding: .3rem .5rem;
          font-size: 1rem;
        }
      }

      .text,
      .more {
        color: $gray-400;
        font-size: 0.8rem;
      }
    }

    .text_container:hover {
      .text,
      .more {
        @extend %text_1;
      }
    }
  }
}
