@use "../utils/breakpoint" as *;

h1 {
  margin-right: 10px; //在網頁尺寸變大前跟nav的icon做出間隔
  @include breakpoint($phone) {
    margin-right: 0;
  }
  a {
    display: inline-block;
    vertical-align: bottom;
    margin: 0;
    padding: 0;
  }
}
