@use "../utils/breakpoint" as *;

.social_media{
  display: flex;
  gap: 0.5rem;
  flex-direction: column-reverse;
  @include breakpoint($tablet) {
    flex-direction: column;
  }

  .social_media_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.2rem;
    @include breakpoint($tablet) {
      justify-content: right;
    }

    @include breakpoint($PC) {
      gap: 0.5rem;
    }
    a {
      padding: 0.7rem;
      @include breakpoint($PC) {
        padding: 1rem;
      }
    }
    .facebook {
      background: 0 0/150px url("/Ray_/images/social.png");
      @include breakpoint($PC) {
        background-size: 210px;
      }
      &:hover {
        background: 0px 23px/150px url("/Ray_/images/social.png");
        @include breakpoint($PC) {
          background-position: 0 31px;
          background-size: 210px;
        }
      }
    }
    .twitter {
      background: 118px 0px/150px url("/Ray_/images/social.png");
      @include breakpoint($PC) {
        background-position: -44px 0;
        background-size: 210px;
      }
      &:hover {
        background: 118px 23px/150px url("/Ray_/images/social.png");
        @include breakpoint($PC) {
          background-position: -44px 31px;
          background-size: 210px;
        }
      }
    }
    .fliker {
      background: 87px 0/150px url("/Ray_/images/social.png");
      @include breakpoint($PC) {
        background-position: -87px 0;
        background-size: 210px;
      }
      &:hover {
        background: 87px 23px/150px url("/Ray_/images/social.png");
        @include breakpoint($PC) {
          background-position: -87px 31px;
          background-size: 210px;
        }
      }
    }
    .dribbble {
      background: 56px 0px/150px url("/Ray_/images/social.png");
      @include breakpoint($PC) {
        background-position: 32px 0;
        background-size: 210px;
      }
      &:hover {
        background: 56px 23px/150px url("/Ray_/images/social.png");
        @include breakpoint($PC) {
          background-position: 32px 31px;
          background-size: 210px;
        }
      }
    }
    .RSS {
      background: 23px 0px/150px url("/Ray_/images/social.png");
      @include breakpoint($PC) {
        background-position: 78px 0;
        background-size: 210px;
      }
      &:hover {
        background: 23px 23px/150px url("/Ray_/images/social.png");
        @include breakpoint($PC) {
          background-position: 78px 31px;
          background-size: 210px;
        }
      }
    }
  }
}