@use "../base/color" as *;
@use "../base/font" as *;
@use "../utils/breakpoint" as *;
@use "../utils/layout" as *;

.welcome {
  @include display_flex(column, $gap_s);
  @include breakpoint($tablet) {
    flex: 1;
    gap: $gap_l;
  }

  .text_container {
    .text,
    .more {
      cursor: pointer;
      color: $gray-400;
      @include breakpoint($tablet) {
        font-size: 1rem;
        line-height: 1.2;
      }
    }
    .text {
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
    }
    .more {
      text-transform: capitalize;
      color: $black;
    }

    &:hover {
      .text,
      .more {
        @extend %text_hover;
      }
    }
  }
}
