@use "../utils/breakpoint" as *;
@use "../utils/color" as *;
@use "../utils/extend" as *;
@use "../utils/gutter" as *;

footer {
  background-image: url("/Ray_/images/subbg.gif");
  padding: 0.7rem 1rem;
  margin:20px auto 0;
  box-shadow: 0 -1px 3px 0 $gray-400;
  @include breakpoint($PC) {
    padding: 2.6rem;
    max-width: 1440px;
    margin: 4.5rem auto 0;
  }

  .information {
    @extend %phone_block_gutter;
    @include breakpoint($tablet) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: $gutter_l;
    }

    &_item {
      @extend %phone_article_gutter;
      @include breakpoint($tablet) {
        flex: 1 1 calc(50% - (2rem / 2));
        gap: $gutter_l;
      }
      @include breakpoint($PC) {
        flex: 1;
      }
    }
    &_title{
      text-transform: uppercase;
    }
  }
}
