@use "../base/base" as *;

header {
  margin:10px auto 20px;
  @include breakpoint($PC) {
    max-width: 1200px;
    margin: 10px auto 0;
  }

  .navbar-expand-md {
    align-items: stretch;
    padding: 0;
    @include breakpoint($tablet) {
      flex-direction: column;
    }
  }
}

.loge_socialmedia_container {
  flex: 1;
  background-image: url("/Ray_/images/subbg.gif");
  padding: 1.5rem 1rem;
  @include breakpoint($PC) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5rem 3rem;
  }
}

.logo_navbarbutton_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  h1 {
    margin-right: 10px; //在網頁尺寸變大前跟nav的icon做出間隔
    @include breakpoint($phone) {
      margin-right: 0;
    }
  }

  a {
    display: inline-block;
    vertical-align: bottom;
    margin: 0;
    padding: 0;
  }
}

.social_media_container {
  display: flex;
  flex-direction: column-reverse;

  .social_media_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.2rem;

    a {
      padding: 0.7rem;
    }
    .facebook {
      background: 0px 0px/150px url("/Ray_/images/social.png");
      &:hover {
        background: 0px 23px/150px url("/Ray_/images/social.png");
      }
    }
    .twitter {
      background: 118px 0px/150px url("/Ray_/images/social.png");
      &:hover {
        background: 118px 23px/150px url("/Ray_/images/social.png");
      }
    }
    .fliker {
      background: 87px 0px/150px url("/Ray_/images/social.png");
      &:hover {
        background: 87px 23px/150px url("/Ray_/images/social.png");
      }
    }
    .dribbble {
      background: 56px 0px/150px url("/Ray_/images/social.png");
      &:hover {
        background: 56px 23px/150px url("/Ray_/images/social.png");
      }
    }
    .RSS {
      background: 23px 0px/150px url("/Ray_/images/social.png");
      &:hover {
        background: 23px 23px/150px url("/Ray_/images/social.png");
      }
    }
  }

  address {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .phone {
    color: $black;

    &:hover {
      text-decoration: underline;
    }
  }
}

.nav_link_container {
  position: relative;
  top: 20px;
  justify-content: space-between;
  gap: 1rem;
  border: 1px solid $gray-100;

  @include breakpoint($tablet) {
    border: 0;
  }

  .navbar-nav {
    flex: 1 1 30%;
    background-color: #fff;
  }

  .dropdown-menu {
    border-radius: 0;
    padding: 1rem;

    .dropdown-item:hover{
      background-color: $primary_green;
    }
  }

  .nav-link {
    padding: 0.5rem 1rem;
    @include breakpoint($PC) {
      padding: 1rem;
    }
    &:hover{
      background-color: $primary_green;
    }
  }

  .search_container {
    flex: 1;
    width: auto;
    position: relative;
    padding: 0.6rem 0.8rem 1rem 1rem;
    background-color: #fff;
    // padding: 0.6rem 0.8rem 0.3rem 1rem;

    .form-control {
      margin: 0;
      border-radius: 0;
      background-color: $gray;
    }

    .search_button {
      display: inline-block;
      position: absolute;
      top: 1rem;
      right: 1.5rem;
      width: 1.3rem;
    }
  }
}
