@use "../base/color" as *;
@use "../utils/breakpoint" as *;

header {
  margin: 10px auto 20px;
  @include breakpoint($tablet) {
    margin: 10px auto 0;
  }
  @include breakpoint($PC) {
    max-width: 1440px;
  }

  .navbar-expand-md {
    align-items: stretch;
    padding: 0;
    @include breakpoint($tablet) {
      flex-direction: column;
    }
  }
}

.logo_socialmedia {
  flex: 1;
  background-image: url("/Ray_/images/subbg.gif");
  padding: 1.5rem 1rem;
  box-shadow: 0 0 5px 0 $gray-800;
  @include breakpoint($tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5rem 2.7rem;
  }
}

.logo_navbarbutton {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  @include breakpoint($tablet) {
    margin-bottom: 0;
  }
}
