@use "../base/color" as *;
@use "../base/font" as *;
@use "../utils/breakpoint" as *;
@use "../utils/layout" as *;


main {
  background-image: url("/Ray_/images/subbg.gif");
  box-shadow: 0 1px 3px 0 $gray-400;
  @include breakpoint($tablet) {
    padding: 1.2rem 0 2.5rem;
  }
  @include breakpoint($PC) {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.introduce {
  @include display_flex(column,$gap_m);
  padding: 0 1rem 1rem;
  position: relative;
  @include breakpoint($tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: $gap_l;
  }
  @include breakpoint($PC) {
    padding: 2rem 2.6rem 6rem;
  }

  &_item {
    @include display_flex(column, $gap_s);
    @include breakpoint($tablet) {
      flex: 1;
      gap: $gap_l;
    }
  }

  &_title {
    font-size: $font_m;
    @include breakpoint($PC) {
      font-size: $font_l;
    }
  }
}
