@use "../base/base" as *;
@use "../Components/extend" as *;

main {
  background-image: url("/Ray_/images/subbg.gif");
  @include breakpoint($PC) {
    max-width: 1200px;
    padding: 1.5rem 3rem 2.5rem;
    margin: 0 auto;
  }
}

.introduce {
  @extend %gap_layout_phone;
  gap: 2rem;
  padding: 0 1rem 1rem;

  &_welcome {
    @extend %gap_layout_phone;

    .text_container {
      .text,
      .more {
        color: $gray-400;
      }
    }

    .text_container:hover {
      .text,
      .more {
        @extend %text_1;
      }
    }
  }

  &_choose {
    @extend %gap_layout_phone;

    .introduce_content {
      @extend %gap_layout_phone;
      gap: 2rem;
    }
  }

  &_news {
    @extend %gap_layout_phone;
  }
}

.swiper_container {
  @extend %gap_layout_phone;
  gap: 0;
  padding: 1rem;
}
