h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: initial;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: 1.2rem;
}
@media (min-width: 1440px) {
  h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  h4 {
    font-size: 1rem;
  }
}
@media (min-width: 1440px) {
  h4 {
    font-size: 1.2rem;
  }
}

.welcome .text_container:hover .text,
.welcome .text_container:hover .more, .text_container:hover .text,
.text_container:hover .more {
  font-weight: 500;
  text-decoration: underline;
}

.copyright_nav .nav-link, .copyright {
  color: #505050;
  text-align: center;
}

.card_articles_container .card-title, .card_articles_container .card-text, .card_articles_container .card_link {
  color: #505050;
  font-weight: 500;
}

.choose_us {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.choose_us_list {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}
@media (min-width: 768px) {
  .choose_us_list {
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid #D9D9D9;
  }
}
.choose_us_list .icon {
  position: relative;
  border-radius: 100%;
  background-color: #D9D9D9;
  width: 3rem;
  height: 3rem;
  margin-left: 1rem;
}
@media (min-width: 1200px) {
  .choose_us_list .icon {
    width: 3.5rem;
    height: 3.5rem;
  }
}
.choose_us_list .icon::after {
  content: "\f285";
  position: absolute;
  top: 35%;
  left: 40%;
  width: 100%;
  height: 100%;
  font-weight: 900;
  color: white;
  font-size: 0.8rem;
  font-family: "Bootstrap-icons";
}
@media (min-width: 1200px) {
  .choose_us_list .icon::after {
    top: 30%;
    left: 35%;
    font-size: 1.2rem;
  }
}
.choose_us_list .text {
  color: #838383;
}
@media (min-width: 768px) {
  .choose_us_list .text {
    line-height: 1.2;
  }
}
@media (min-width: 1200px) {
  .choose_us_list .text {
    width: 70%;
  }
}
.choose_us_list:hover .icon {
  transform: translateX(5%);
  background-color: #80B600;
  transition: 0.5s transform;
}
.choose_us_list:hover .text {
  color: #80B600;
  font-weight: 500;
}
@media (min-width: 1200px) {
  .choose_us .multi_line .text {
    padding-top: 1rem;
  }
}

.contact_method {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.phone {
  color: #000;
}
.phone:hover {
  text-decoration: underline;
  color: #000;
}

.flickr {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  .flickr {
    gap: 2rem;
  }
}
.flickr .img_group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
}
.flickr .img_group .img_container {
  flex: 1 1 calc(25% - 0.4rem);
}

h1 a {
  display: inline-block;
  vertical-align: bottom;
  margin: 0;
  padding: 0;
}

.news {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .news {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .news {
    flex-direction: column;
  }
}
.news h2 {
  flex-basis: 100%;
}
@media (min-width: 1200px) {
  .news h2 {
    flex-basis: initial;
  }
}
.news_post {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .news_post {
    gap: 2rem;
    flex: 1 1 45%;
  }
}
@media (min-width: 1200px) {
  .news_post {
    flex: initial;
  }
}
.news_post img {
  width: 7rem;
}
@media (min-width: 1200px) {
  .news_post img {
    width: 10rem;
  }
}
.news_post .text_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  .news_post .text_container {
    gap: 2rem;
  }
}
.news_post .date {
  width: fit-content;
  padding: 0.3rem 0.5rem;
  background-color: #80B600;
  font-weight: 500;
  color: #fff;
}
@media (min-width: 768px) {
  .news_post .date {
    padding: 0.1rem;
    font-size: 0.5rem;
  }
}
@media (min-width: 1200px) {
  .news_post .date {
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
  }
}
.news_post .text_link {
  display: block;
}
.news_post .text {
  color: #838383;
  font-size: 0.8rem;
}
@media (min-width: 768px) {
  .news_post .text {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    font-size: 1rem;
    line-height: 1.2;
  }
}
.news_post .more {
  text-transform: capitalize;
  color: #000;
}

.social_media {
  display: flex;
  gap: 0.5rem;
  flex-direction: column-reverse;
}
@media (min-width: 768px) {
  .social_media {
    flex-direction: column;
  }
}
.social_media_links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.2rem;
}
@media (min-width: 768px) {
  .social_media_links {
    justify-content: right;
  }
}
@media (min-width: 1200px) {
  .social_media_links {
    gap: 0.5rem;
  }
}
.social_media_links a {
  padding: 0.7rem;
}
@media (min-width: 1200px) {
  .social_media_links a {
    padding: 1rem;
  }
}
.social_media_links .facebook {
  background: 0 0/150px url("/Ray_/images/social.png");
}
@media (min-width: 1200px) {
  .social_media_links .facebook {
    background-size: 210px;
  }
}
.social_media_links .facebook:hover {
  background: 0px 23px/150px url("/Ray_/images/social.png");
}
@media (min-width: 1200px) {
  .social_media_links .facebook:hover {
    background-position: 0 31px;
    background-size: 210px;
  }
}
.social_media_links .twitter {
  background: 118px 0px/150px url("/Ray_/images/social.png");
}
@media (min-width: 1200px) {
  .social_media_links .twitter {
    background-position: -44px 0;
    background-size: 210px;
  }
}
.social_media_links .twitter:hover {
  background: 118px 23px/150px url("/Ray_/images/social.png");
}
@media (min-width: 1200px) {
  .social_media_links .twitter:hover {
    background-position: -44px 31px;
    background-size: 210px;
  }
}
.social_media_links .fliker {
  background: 87px 0/150px url("/Ray_/images/social.png");
}
@media (min-width: 1200px) {
  .social_media_links .fliker {
    background-position: -87px 0;
    background-size: 210px;
  }
}
.social_media_links .fliker:hover {
  background: 87px 23px/150px url("/Ray_/images/social.png");
}
@media (min-width: 1200px) {
  .social_media_links .fliker:hover {
    background-position: -87px 31px;
    background-size: 210px;
  }
}
.social_media_links .dribbble {
  background: 56px 0px/150px url("/Ray_/images/social.png");
}
@media (min-width: 1200px) {
  .social_media_links .dribbble {
    background-position: 32px 0;
    background-size: 210px;
  }
}
.social_media_links .dribbble:hover {
  background: 56px 23px/150px url("/Ray_/images/social.png");
}
@media (min-width: 1200px) {
  .social_media_links .dribbble:hover {
    background-position: 32px 31px;
    background-size: 210px;
  }
}
.social_media_links .RSS {
  background: 23px 0px/150px url("/Ray_/images/social.png");
}
@media (min-width: 1200px) {
  .social_media_links .RSS {
    background-position: 78px 0;
    background-size: 210px;
  }
}
.social_media_links .RSS:hover {
  background: 23px 23px/150px url("/Ray_/images/social.png");
}
@media (min-width: 1200px) {
  .social_media_links .RSS:hover {
    background-position: 78px 31px;
    background-size: 210px;
  }
}

.testimonials {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  .testimonials {
    gap: 2rem;
  }
}
.testimonials_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.testimonials .dialog_container {
  clip-path: polygon(0 0, 100% 0, 100% 77%, 10% 77%, 0 90%);
  border-radius: 2px;
  padding: 0.1rem 0.1rem 0.2rem;
  background-color: #D9D9D9;
  font-size: 0.9rem;
}
.testimonials .dialog {
  clip-path: polygon(0 0, 100% 0, 100% 77%, 10% 77%, 0 90%);
  border-radius: 2px;
  padding: 1.3rem 2rem 3.5rem;
  background-color: #E6E6E6;
}
.testimonials .people {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.testimonials .people_name,
.testimonials .people_link {
  display: block;
  line-height: 1.4;
}
@media (min-width: 1200px) {
  .testimonials .people_name,
  .testimonials .people_link {
    line-height: 1;
  }
}
.testimonials .people_link {
  font-style: italic;
  color: #80B600;
}
.testimonials .people_link:hover {
  text-decoration: underline;
  color: #80B600;
}

.welcome {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  .welcome {
    gap: 2rem;
  }
}
.welcome .text_container .text,
.welcome .text_container .more {
  color: #838383;
}
@media (min-width: 768px) {
  .welcome .text_container .text,
  .welcome .text_container .more {
    font-size: 1rem;
    line-height: 1.2;
  }
}
.welcome .text_container .text {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.welcome .text_container .more {
  text-transform: capitalize;
  color: #000;
}
.tweet {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  .tweet {
    gap: 2rem;
  }
}
.tweet .text {
  font-size: 0.8rem;
}
@media (min-width: 768px) {
  .tweet .text {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  .copyright {
    order: 2;
  }
}
@media (min-width: 1200px) {
  .copyright {
    order: 1;
  }
}
.copyright .privacy {
  color: #80B600;
}

body {
  min-width: 375px;
  background: linear-gradient(#000 0% 0.5%, transparent 0.5% 90%, #000 90% 100%), url("/Ray_/images/bg.jpg");
}
@media (min-width: 1200px) {
  body {
    background: linear-gradient(#000 0% 4%, transparent 4% 91%, #000 91% 100%), url("/Ray_/images/bg.jpg");
  }
}

main {
  background-image: url("/Ray_/images/subbg.gif");
  box-shadow: 0 1px 3px 0 #838383;
  padding-bottom: 1.5rem;
}
@media (min-width: 768px) {
  main {
    padding: 1.2rem 0 2.5rem;
    margin-top: -20px;
  }
}
@media (min-width: 1200px) {
  main {
    max-width: 1440px;
    margin: -20px auto 0;
    padding: 1.2rem 0 6rem;
  }
}

.introduce {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem 1rem;
  position: relative;
}
@media (min-width: 768px) {
  .introduce {
    padding: 0 2.6rem 1.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }
}
@media (min-width: 1200px) {
  .introduce {
    padding: 2rem 2.6rem 6rem;
  }
}
.introduce_item {
  display: flex;
  flex-direction: column;
  gap: 0;
}
@media (min-width: 1200px) {
  .introduce_item {
    flex: 1 1 0;
  }
}
@media (min-width: 768px) {
  .introduce .tablet_half {
    flex: 1 1 40%;
  }
}
@media (min-width: 1200px) {
  .introduce .tablet_half {
    flex: 1;
  }
}

header {
  margin: 10px auto 20px;
  background-image: url("/Ray_/images/subbg.gif");
  box-shadow: 0 0 5px 0 #262626;
}
@media (min-width: 768px) {
  header {
    margin: 10px auto 0;
    background-image: none;
    box-shadow: none;
  }
}
@media (min-width: 1200px) {
  header {
    max-width: 1440px;
  }
}

.logo_social_media {
  flex: 1;
  padding: 1.5rem 1rem;
}
@media (min-width: 768px) {
  .logo_social_media {
    background-image: url("/Ray_/images/subbg.gif");
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5rem 2.7rem;
    margin-bottom: 20px;
    box-shadow: 0 0 5px 0 #262626;
  }
}

footer {
  margin: 20px auto 0;
  box-shadow: 0 -1px 3px 0 #838383;
}
@media (min-width: 1200px) {
  footer {
    max-width: 1440px;
    margin: 4.5rem auto 0;
  }
}
footer .information {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-image: url("/Ray_/images/subbg.gif");
  padding: 1rem;
}
@media (min-width: 768px) {
  footer .information {
    padding: 2.6rem;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }
}
footer .information_item {
  display: flex;
  flex-direction: column;
  gap: 0;
}
@media (min-width: 768px) {
  footer .information_item {
    flex: 1 1 calc(50% - 1rem);
  }
}
@media (min-width: 1200px) {
  footer .information_item {
    flex: 1;
  }
}

.copyright_nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}
@media (min-width: 768px) {
  .copyright_nav {
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .copyright_nav {
    max-width: 1440px;
    flex-direction: row;
    gap: 0;
  }
}

.navbar_container {
  padding: 1rem;
}
@media (min-width: 768px) {
  .navbar_container {
    padding: 0;
    gap: 0.7rem;
  }
}
.navbar_container .icon_search {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  flex-grow: 1;
}
@media (min-width: 768px) {
  .navbar_container .icon_search {
    justify-content: initial;
    order: 2;
    gap: 0;
  }
}
.navbar_container .icon_search .navbar-toggler {
  border: none;
}
.navbar_container .icon_search .navbar-toggler:focus {
  border: none;
  box-shadow: none;
}
.navbar_container .search {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: auto;
  background-color: #fff;
  flex-grow: 1;
}
@media (min-width: 768px) {
  .navbar_container .search {
    height: 53px;
    padding: 0.6rem 0.8rem 0.3rem 1rem;
    box-shadow: -3px -1px 3px 0 #838383;
  }
}
.navbar_container .search_input {
  margin: 0;
  border-radius: 0;
  background: #E6E6E6 no-repeat 95% 50%/24px url("/Ray_/images/search.png");
}

@media (min-width: 768px) {
  .nav_link_container {
    justify-content: space-between;
    flex-grow: 4;
    order: 1;
    border: 0;
  }
}
.nav_link_container .navbar-nav {
  background-color: #fff;
}
@media (min-width: 768px) {
  .nav_link_container .navbar-nav {
    flex-grow: 1;
    box-shadow: 3px -1px 3px 0 #838383;
  }
}
@media (min-width: 768px) {
  .nav_link_container .nav-item {
    border-right: 0.1rem solid #D9D9D9;
  }
}
.nav_link_container .nav-item .nav-link {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .nav_link_container .nav-item .nav-link {
    padding: 1rem 0.5rem;
    font-size: 0.9rem;
  }
}
@media (min-width: 1200px) {
  .nav_link_container .nav-item .nav-link {
    padding: 1rem 1.5rem;
  }
}
.nav_link_container .nav-item .nav-link:hover {
  background-color: #80B600;
  color: #fff;
}
.nav_link_container .dropdown-menu {
  border-radius: 0;
  padding: 1rem;
}
.nav_link_container .dropdown-menu .dropdown-item:hover {
  background-color: #80B600;
}

.carousel_container .carousel_img {
  height: 40vh;
  object-fit: cover;
  object-position: 80% 0;
}
@media (min-width: 768px) {
  .carousel_container .carousel_img {
    object-position: 0;
    height: initial;
  }
}
.carousel_container button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 119px;
}
.carousel_container .carousel-control-prev {
  background: no-repeat url("/Ray_/images/slider_prev.gif");
}
.carousel_container .carousel-control-prev:hover {
  background: no-repeat 0 -120px/auto url("/Ray_/images/slider_prev.gif");
}
.carousel_container .carousel-control-next {
  background: no-repeat url("/Ray_/images/slider_next.gif");
}
.carousel_container .carousel-control-next:hover {
  background: no-repeat 0 -120px/auto url("/Ray_/images/slider_next.gif");
}

.card_articles_container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0 1rem 1.5rem;
  margin-top: -30px;
}
@media (min-width: 768px) {
  .card_articles_container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1.5rem 1rem;
  }
}
@media (min-width: 768px) {
  .card_articles_container {
    padding: 0 2.6rem 1.5rem;
  }
}
.card_articles_container .card {
  background-color: #E6E6E6;
  border-radius: 0;
}
@media (min-width: 768px) {
  .card_articles_container .card {
    flex: 1 1 calc(50% - 1rem);
  }
}
@media (min-width: 1200px) {
  .card_articles_container .card {
    flex: 1;
  }
}
.card_articles_container .card-body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  align-items: center;
}
@media (min-width: 768px) {
  .card_articles_container .card-body {
    padding: 2.6rem 2.6rem 2rem;
    gap: 2rem;
  }
}
@media (min-width: 1200px) {
  .card_articles_container .card-body {
    padding: 2.6rem 3rem 2rem;
  }
}
.card_articles_container .card-title {
  margin-bottom: 0;
  text-align: center;
}
.card_articles_container .card_img_container {
  width: 20%;
}
@media (min-width: 1200px) {
  .card_articles_container .card_img_container {
    width: 30%;
  }
}
.card_articles_container .card-text {
  text-align: center;
}
@media (min-width: 768px) {
  .card_articles_container .card-text {
    line-height: 1.2;
    font-size: 0.9rem;
  }
}
.card_articles_container .card_link {
  padding: 0.3rem 1rem;
  background-color: #CDCDCD;
}
.card_articles_container .card_link:hover {
  background-color: #80B600;
  color: #fff;
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.card:hover .card-body {
  border: 1px solid #000;
  background-color: rgba(50, 50, 50, 0.8);
}
.card:hover .card-title,
.card:hover .card-text {
  color: #fff;
}

.touch {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 1200px) {
  .touch {
    gap: 2rem;
  }
}
.touch_write {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.touch input,
.touch textarea {
  padding: 0.2rem;
  border-radius: 2px;
  background-color: #E6E6E6;
  font-size: 0.9rem;
  font-weight: 500;
}
.touch input:focus,
.touch textarea:focus {
  border-color: #D9D9D9;
  box-shadow: none;
}
.touch .button_container {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}
@media (min-width: 1200px) {
  .touch .button_container {
    justify-content: initial;
  }
}
.touch .button_container .btn {
  padding: 0.3rem 1rem;
  border: none;
  border-radius: 0;
  background-color: #000;
  text-transform: uppercase;
  color: #fff;
}
.touch .button_container .btn:hover {
  background-color: #80B600;
}

.copyright_nav .nav {
  flex-direction: column;
}
@media (min-width: 768px) {
  .copyright_nav .nav {
    flex-direction: row;
    order: 1;
    height: fit-content;
  }
}
@media (min-width: 1200px) {
  .copyright_nav .nav {
    order: 2;
  }
}
@media (min-width: 768px) {
  .copyright_nav .nav-item {
    padding: 0 1rem;
    height: fit-content;
  }
}
@media (min-width: 768px) {
  .copyright_nav .nav-item + .nav-item {
    border-left: 0.2rem solid #838383;
  }
}
.copyright_nav .nav-link {
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .copyright_nav .nav-link {
    padding: 0;
    line-height: 1;
  }
}
.copyright_nav .nav-link:hover {
  color: #80B600;
}

.swiper_container {
  padding: 1.5rem 1rem;
}
@media (min-width: 768px) {
  .swiper_container {
    padding: 0 2.6rem 1.5rem;
  }
}
@media (min-width: 1200px) {
  .swiper_container {
    padding: 3.5rem 2.6rem 0;
  }
}
@media (min-width: 1200px) {
  .swiper_container::before {
    content: "";
    display: block;
    width: 100%;
    height: 0.1rem;
    background-color: #D9D9D9;
    transform: translateY(-3.5rem);
  }
}
.swiper_container .swiper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  .swiper_container .swiper {
    gap: 2rem;
  }
}
.swiper_container .title_button_container {
  display: flex;
  justify-content: space-between;
}
.swiper_container .title_button_container .button_container {
  display: flex;
  gap: 1.5rem;
}
.swiper_container .swiper-button-next,
.swiper_container .swiper-button-prev {
  position: initial;
  width: fit-content;
  margin-top: 0;
  color: #CDCDCD;
}
.swiper_container .swiper-button-next:after,
.swiper_container .swiper-button-prev:after {
  font-size: 1.2rem;
  font-weight: 700;
}
.swiper_container .swiper-button-next.swiper-button-disabled,
.swiper_container .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}
.swiper_container .swiper-slide {
  text-align: center;
  font-size: 1rem;
  display: block;
  position: relative;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: 1s ease-in-out;
}
.swiper_container .swiper-slide::after {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #80B600;
  clip-path: polygon(100% 30%, 100% 31%, 14% 100%, 13% 100%);
  transition: 1s ease-in-out;
}
.swiper_container .swiper-slide_click_container {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1s ease-in-out;
}
.swiper_container .swiper-slide_click_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  clip-path: polygon(0 0, 0 30%, 45% 0);
}
.swiper_container .swiper-slide_click_container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  clip-path: polygon(60% 0, 100% 0, 100% 30%, 13% 100%, 0 100%, 0 43%);
}
.swiper_container .swiper-slide_click {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  transform: rotate(-32deg);
  z-index: 10;
}
.swiper_container .swiper-slide span {
  display: block;
  position: relative;
  padding: 0.5rem;
  font-size: 0.7rem;
  color: #fff;
  text-transform: uppercase;
}
.swiper_container .swiper-slide span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -25%;
  width: 150%;
  height: 2px;
  background-color: #fff;
}
.swiper_container .swiper-slide .icon_container {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
}
.swiper_container .swiper-slide .icon {
  display: inline-block;
  width: 50%;
}

.swiper-slide:hover::after {
  bottom: 0;
}
.swiper-slide:hover .swiper-slide_click_container {
  bottom: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
