h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: initial;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  min-width: 375px;
  background: linear-gradient(#000 0% 0.5%, transparent 0.5% 90%, #000 90% 100%), url("/Ray_/images/bg.jpg");
}

.introduce_choose .introduce_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.introduce_choose .introduce_item .icon {
  position: relative;
  border-radius: 100%;
  background-color: #D9D9D9;
  width: 3rem;
  height: 3rem;
}
.introduce_choose .introduce_item .icon::after {
  content: "\f285";
  position: absolute;
  top: 35%;
  left: 40%;
  width: 100%;
  height: 100%;
  font-weight: 900;
  color: white;
  font-size: 12px;
  font-family: "Bootstrap-icons";
}
.introduce_choose .introduce_item:hover .icon {
  transform: rotate(90deg);
  background-color: #80B600;
  transition: 0.5s transform;
}
.introduce_choose .introduce_item:hover .text {
  color: #80B600;
  font-weight: 500;
}

.information_dialog_container {
  clip-path: polygon(0 0, 100% 0, 100% 77%, 15% 77%, 0 90%);
  background-color: #D9D9D9;
  padding: 0.1rem 0.1rem 0.2rem;
}
.information_dialog {
  clip-path: polygon(0 0, 100% 0, 100% 77%, 15% 77%, 0 90%);
  padding: 2rem 2rem 5rem;
  background-color: #E6E6E6;
}

.flickr_album_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1%;
}

.flicker_img {
  flex: 1 1 24%;
}

.introduce_welcome .text_container:hover .text,
.introduce_welcome .text_container:hover .more, .introduce_news .text_container:hover .text,
.introduce_news .text_container:hover .more {
  font-weight: 500;
  text-decoration: underline;
}

.copyright_nav_container .nav .nav-link, .copyright_nav_container .copyright {
  color: #505050;
  text-align: center;
}

.card_articles_container, .card_articles_container .card-body, .information_item .form_container, .copyright_nav_container, footer .information, .information_item, .information_testimonials_people, .introduce, .introduce_welcome, .introduce_choose, .introduce_choose .introduce_content, .introduce_news, .swiper_container, .introduce_news .introduce_post, .introduce_news .text_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card_articles_container .card-title, .card_articles_container .card-text, .card_articles_container .card_link {
  color: #505050;
  font-weight: 500;
}

.introduce_news .introduce_post {
  flex-direction: row;
}
.introduce_news img {
  width: 100px;
}
.introduce_news .text_container .date {
  width: fit-content;
  padding: 0.3rem 0.5rem;
  background-color: #80B600;
  font-weight: 500;
  color: #fff;
}
.introduce_news .text_container .text,
.introduce_news .text_container .more {
  color: #838383;
  font-size: 0.8rem;
}
header {
  margin: 10px auto 20px;
}
@media (min-width: 1200px) {
  header {
    max-width: 1200px;
    margin: 10px auto 0;
  }
}
header .navbar-expand-md {
  align-items: stretch;
  padding: 0;
}
@media (min-width: 768px) {
  header .navbar-expand-md {
    flex-direction: column;
  }
}

.loge_socialmedia_container {
  flex: 1;
  background-image: url("/Ray_/images/subbg.gif");
  padding: 1.5rem 1rem;
}
@media (min-width: 1200px) {
  .loge_socialmedia_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5rem 3rem;
  }
}

.logo_navbarbutton_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.logo_navbarbutton_container h1 {
  margin-right: 10px;
}
@media (min-width: 576px) {
  .logo_navbarbutton_container h1 {
    margin-right: 0;
  }
}
.logo_navbarbutton_container a {
  display: inline-block;
  vertical-align: bottom;
  margin: 0;
  padding: 0;
}

.social_media_container {
  display: flex;
  flex-direction: column-reverse;
}
.social_media_container .social_media_links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.2rem;
}
.social_media_container .social_media_links a {
  padding: 0.7rem;
}
.social_media_container .social_media_links .facebook {
  background: 0px 0px/150px url("/Ray_/images/social.png");
}
.social_media_container .social_media_links .facebook:hover {
  background: 0px 23px/150px url("/Ray_/images/social.png");
}
.social_media_container .social_media_links .twitter {
  background: 118px 0px/150px url("/Ray_/images/social.png");
}
.social_media_container .social_media_links .twitter:hover {
  background: 118px 23px/150px url("/Ray_/images/social.png");
}
.social_media_container .social_media_links .fliker {
  background: 87px 0px/150px url("/Ray_/images/social.png");
}
.social_media_container .social_media_links .fliker:hover {
  background: 87px 23px/150px url("/Ray_/images/social.png");
}
.social_media_container .social_media_links .dribbble {
  background: 56px 0px/150px url("/Ray_/images/social.png");
}
.social_media_container .social_media_links .dribbble:hover {
  background: 56px 23px/150px url("/Ray_/images/social.png");
}
.social_media_container .social_media_links .RSS {
  background: 23px 0px/150px url("/Ray_/images/social.png");
}
.social_media_container .social_media_links .RSS:hover {
  background: 23px 23px/150px url("/Ray_/images/social.png");
}
.social_media_container address {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.social_media_container .phone {
  color: #000;
}
.social_media_container .phone:hover {
  text-decoration: underline;
}

.nav_link_container {
  position: relative;
  top: 20px;
  justify-content: space-between;
  gap: 1rem;
  border: 1px solid #D9D9D9;
}
@media (min-width: 768px) {
  .nav_link_container {
    border: 0;
  }
}
.nav_link_container .navbar-nav {
  flex: 1 1 30%;
  background-color: #fff;
}
.nav_link_container .dropdown-menu {
  border-radius: 0;
  padding: 1rem;
}
.nav_link_container .dropdown-menu .dropdown-item:hover {
  background-color: #80B600;
}
.nav_link_container .nav-link {
  padding: 0.5rem 1rem;
}
@media (min-width: 1200px) {
  .nav_link_container .nav-link {
    padding: 1rem;
  }
}
.nav_link_container .nav-link:hover {
  background-color: #80B600;
}
.nav_link_container .search_container {
  flex: 1;
  width: auto;
  position: relative;
  padding: 0.6rem 0.8rem 1rem 1rem;
  background-color: #fff;
}
.nav_link_container .search_container .form-control {
  margin: 0;
  border-radius: 0;
  background-color: #E6E6E6;
}
.nav_link_container .search_container .search_button {
  display: inline-block;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  width: 1.3rem;
}

main {
  background-image: url("/Ray_/images/subbg.gif");
}
@media (min-width: 1200px) {
  main {
    max-width: 1200px;
    padding: 1.5rem 3rem 2.5rem;
    margin: 0 auto;
  }
}

.introduce {
  gap: 2rem;
  padding: 0 1rem 1rem;
}
.introduce_welcome .text_container .text,
.introduce_welcome .text_container .more {
  color: #838383;
}
.introduce_choose .introduce_content {
  gap: 2rem;
}
.swiper_container {
  gap: 0;
  padding: 1rem;
}

footer {
  background-image: url("/Ray_/images/subbg.gif");
  padding: 0.7rem 1rem;
}
@media (min-width: 1200px) {
  footer {
    padding: 2rem 2.5rem;
    max-width: 1200px;
    margin: 0 auto;
  }
}
footer .information {
  gap: 2rem;
}

.information_testimonials_people {
  flex-direction: row;
}
.information_people_name, .information_people_link {
  display: block;
  line-height: 1.4;
}
.information_people_link {
  font-style: italic;
  color: #80B600;
}
.information_people_link:hover {
  text-decoration: underline;
  color: #80B600;
}

.copyright_nav_container {
  padding: 1rem;
}
.copyright_nav_container .nav {
  flex-direction: column;
}
.copyright_nav_container .nav .nav-link:hover {
  color: #80B600;
}
.copyright_nav_container .copyright .privacy {
  color: #80B600;
}

.carousel_container .carousel_img {
  height: 40vh;
  object-fit: cover;
}
.carousel_container button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 119px;
}
.carousel_container .carousel-control-prev {
  background: no-repeat url("/Ray_/images/slider_prev.gif");
}
.carousel_container .carousel-control-next {
  background: no-repeat url("/Ray_/images/slider_next.gif");
}

.card_articles_container {
  position: relative;
  top: -30px;
  padding: 0.1rem 1rem;
}
.card_articles_container .card {
  background-color: #E6E6E6;
  border-radius: 0;
}
.card_articles_container .card-body {
  align-items: center;
  padding: 2rem;
}
.card_articles_container .card-title {
  text-transform: uppercase;
}
.card_articles_container .card_img_container {
  width: 20%;
}
.card_articles_container .card-text {
  text-align: center;
}
.card_articles_container .card_link {
  display: block;
  padding: 0.3rem 1rem;
  background-color: #CDCDCD;
}
.card_articles_container .card_link:hover {
  background-color: #80B600;
  color: #fff;
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.card:hover .card-body {
  border: 1px solid #000;
  background-color: rgba(50, 50, 50, 0.8);
}
.card:hover .card-title,
.card:hover .card-text {
  color: #fff;
}

.information_item input,
.information_item textarea {
  padding: 0.2rem;
  background-color: #E6E6E6;
  border-radius: 2px;
}
.information_item input:focus,
.information_item textarea:focus {
  border-color: #D9D9D9;
  box-shadow: none;
}
.information_item .button_container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.information_item .button_container .btn {
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  padding: 0.3rem 1rem;
  background-color: #000;
  color: #fff;
}
.information_item .button_container .btn:hover {
  background-color: #80B600;
}

.swiper_container .title_button_container {
  display: flex;
  justify-content: space-between;
}
.swiper_container .title_button_container .button_container {
  display: flex;
  gap: 20px;
}
.swiper_container .title_button_container .button_container .swiper-button-next:after,
.swiper_container .title_button_container .button_container .swiper-button-prev:after {
  font-size: 20px;
}
.swiper_container .swiper-button-next,
.swiper_container .swiper-button-prev {
  position: initial;
  width: fit-content;
  margin-top: 0;
  color: #CDCDCD;
}
@media (min-width: 768px) {
  .swiper_container .swiper-button-next,
  .swiper_container .swiper-button-prev {
    transform: rotate(90deg);
  }
}
.swiper_container .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: block;
  position: relative;
  width: 100%;
}
.swiper_container .swiper-slide_click_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.swiper_container .swiper-slide:hover .swiper-slide_click_container {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
}
.swiper_container .swiper-slide:hover .swiper-slide_click {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 10%;
  height: 100%;
  transform: rotate(-35deg);
  z-index: 10;
}
.swiper_container .swiper-slide:hover .shape_container {
  position: absolute;
  top: 0;
  left: 0;
}
.swiper_container .swiper-slide:hover .triangle {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  clip-path: polygon(0 0, 0 30%, 45% 0);
}
.swiper_container .swiper-slide:hover .hexagon {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  clip-path: polygon(60% 0, 100% 0, 100% 30%, 15% 100%, 0 100%, 0 43%);
}
.swiper_container .swiper-slide:hover .swiper-slide_click {
  position: absolute;
  top: 0;
  left: 0;
}
.swiper_container .swiper-slide:hover span {
  display: block;
  position: relative;
  padding: 0.5rem;
  font-size: 1.5rem;
  color: #fff;
  text-transform: uppercase;
}
.swiper_container .swiper-slide:hover span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -18%;
  width: 230px;
  height: 2px;
  background-color: #fff;
}
.swiper_container .swiper-slide:hover .icon_container {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  position: relative;
}
.swiper_container .swiper-slide:hover .icon {
  display: inline-block;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
