//breakpoint
@mixin mobile {
    @media (min-width: 576px) {
        @content;
    }
}
@mixin ipad {
    @media (min-width: 768px) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: 992px) {
        @content;
    }
}
@mixin xl-device {
    @media (min-width: 1200px) {
        @content;
    }
}

//background linear-gradient
@mixin bg-linear($top-breakpoint, $bottom-breakpoint) {
    background: linear-gradient(
            black 0%,
            black $top-breakpoint,
            transparent $top-breakpoint,
            transparent $bottom-breakpoint,
            black $bottom-breakpoint,
            black 100%
        ),
        url("../images/bg.jpg");
}

// social-icon
@mixin social-bg($nth) {
    background-image: url("../../images/social.png");
    background-position: -($nth - 1) * 37.2px 0;
    &:hover {
        background-position: -($nth - 1) * 37.2px 100%;
    }
}

// position absolute
@mixin absolute($top, $right, $bottom, $left) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}
