@use "../abstracts/color" as *;

// background linear
@mixin bg-linear($top-breakpoint, $bottom-breakpoint, $background-img) {
    background: linear-gradient(
            $black 0%,
            $black $top-breakpoint,
            transparent $top-breakpoint,
            transparent $bottom-breakpoint,
            $black $bottom-breakpoint,
            $black 100%
        ),
        $background-img;
}

// social background
@mixin social-bg($nth, $img) {
    background-image: $img;
    background-position: -($nth - 1) * 37.2px 0;
    &:hover {
        background-position: -($nth - 1) * 37.2px 100%;
    }
}

// position absolute
@mixin absolute($top, $right, $bottom, $left) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

// line clamp
@mixin line-clamp($num) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $num;
    overflow: hidden;
}
