$bg-img: url("../images/bg.jpg");
$white-bg-img: url("../images/subbg.gif");

$social-icon: url("../images/social.png");

$carousel-button-prev: url("../images/slider_prev.gif");
$carousel-button-next: url("../images/slider_next.gif");
