@use "../base/color" as b;

@mixin nigger-line($bh,$ah){
    &::before,
    &::after{
        background-color: b.$black;
        width: 100%;
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
    }    
    &::before{
        height: $bh;
        top: 0;
    }
    &::after{
        bottom: 0;
        height: $ah;
    }


}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(black 3%, transparent 3%, transparent 90%, black 90%), url(../images/bg.jpg);


    & {
        margin: 0;
        min-width: 100%;
    }
}