$media-mobile: 576px;
$media-ipad: 768px;
$media-desktop: 992px;
$media-extra: 1250px;

@mixin sm {
    @media (min-width: $media-mobile) {
        @content
    }
};

@mixin device ($scale){
    @media (min-width: $scale) {
        @content
    }
};

@mixin md {
    @media (min-width: $media-ipad) {
        @content
    }
};

@mixin lg {
    @media (min-width: $media-desktop) {
        @content
    }
};

@mixin xl {
    @media (min-width: $media-extra){
        @content
    }
}