// fontfamily
$fontOpen: "Open Sans", sans-serif;
$fontArimo: "Arimo", sans-serif;

// fontsize
$font12:12px;
$font16:16px;
$font18:18px;

// text-transform
$capital: capitalize;
$upper: uppercase;




