@use "../base/font" as *;
@use "../base/breakpoint" as*;

* {
    font-family: $fontOpen;
}

section,
p,
ol,
ul,
li,
a,
h1,
h2,
h3,
button,
figure,
input,
li {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    list-style: none;
};

a{
    color: black;
    display: flex;
}


.container {
    margin: 0 auto;
    padding: 0;


    
    @include sm {
        padding: 0 65px;
    }

    @include lg {
        padding: 0 125px;
    }




}



