
@use "../utilities/breakpoints";
@use "../utilities/color";

form {
    input, .blank {
      background-color: color.$theme-tertiary-200;
      border: color.$theme-tertiary-300 0.5px solid;
      ::placeholder {
        color: color.$theme-tertiary-400;
      }
    }
    div:nth-child(1) {
      input, .blank {
        border-radius: 4px;
        width: 100%;
      }
    }
  }
  
.buttons {
  display: block;
  input[type="submit"]:nth-child(1) {
    background-color: color.$accent;
    color: color.$font-color-tertiary;
  }

  input[type="submit"]:nth-child(2) {
    background-color: color.$theme-primary;
    color: color.$font-color-tertiary;
  }

}

// delete x
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}


  
  