@use "../utilities/breakpoints";
@use "../utilities/color";

.picture-card {
    display: flex;
    align-items: center;
    span {
        display: block;
        color: color.$theme-tertiary-400;
    }

    a {
        color: color.$theme-primary;
        font-style: italic;
        font-weight: 500;
    }

    .profilepicture {
        width: 4rem;

        img {
            width: 100%;
        }
    }
}
