@use "../utilities/breakpoints";
@use "../utilities/color";

.news-card {
    display: flex;
    gap:1rem;

    .date {
        background: color.$theme-primary;
        color:color.$theme-secondary;
        padding: 0.25rem;
    }

    p {
        color: color.$theme-tertiary-400;
    }

    .picture {
        width: 400px;
        img {
            width: 100%;
        }
    }

}