@use './functions' as f;

@mixin grid ($col, $gap) {
  display: grid;
  grid-template-columns: repeat($col, 1fr);
  // grid-template-rows: auto;
  gap: f.rem($gap);
}

// @mixin grid2 ($col) {
//   display: grid;
//   grid-template-columns: repeat($col, 1fr);
// }

