@use './functions' as f;

@mixin padding4($t, $r, $b, $l) {
  padding-top: f.rem($t);
  padding-right: f.rem($r);
  padding-bottom: f.rem($b);
  padding-left: f.rem($l);
}

@mixin padding3($t, $r, $b) {
  padding-top: f.rem($t);
  padding-right: f.rem($r);
  padding-bottom: f.rem($b);
  padding-left: f.rem($r);
}

@mixin padding2($t, $r) {
  padding-top: f.rem($t);
  padding-right: f.rem($r);
  padding-bottom: f.rem($t);
  padding-left: f.rem($r);
}

@mixin padding1($t) {
  padding-top: f.rem($t);
  padding-right: f.rem($t);
  padding-bottom: f.rem($t);
  padding-left: f.rem($t);
}

@mixin margin4($t, $r, $b, $l) {
  margin-top: f.rem($t);
  margin-right: f.rem($r);
  margin-bottom: f.rem($b);
  margin-left: f.rem($l);
}

@mixin margin3($t, $r, $b) {
  margin-top: f.rem($t);
  margin-right: f.rem($r);
  margin-bottom: f.rem($b);
  margin-left: f.rem($r);
}

@mixin margin2($t, $r) {
  margin-top: f.rem($t);
  margin-right: f.rem($r);
  margin-bottom: f.rem($t);
  margin-left: f.rem($r);
}

@mixin margin1($t) {
  margin-top: f.rem($t);
  margin-right: f.rem($t);
  margin-bottom: f.rem($t);
  margin-left: f.rem($t);
}





