body,
h1,
h2,
h6,
p {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

body {
  background: linear-gradient(black 0%, black 70px, transparent 70px, transparent 90%, black 90%, black 100%), url("../images/bg.jpg");
  max-width: 1250px;
  min-width: 375px;
  margin: auto;
  padding: 0 10px;
}
@media (min-width: 768px) {
  body {
    padding: 0 20px;
  }
}
@media (min-width: 1200px) {
  body {
    padding: 0;
  }
}

header {
  background-image: url("../images/subbg.gif");
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  box-shadow: 0 1px 2px #8e8e8e;
}
@media (min-width: 992px) {
  header {
    padding: 40px;
    justify-content: space-between;
  }
}
header h1 {
  flex: 1 1 0;
}
@media (min-width: 992px) {
  header h1 {
    flex: 0 0 auto;
  }
}
header .hamburger,
header .social-button {
  font-size: 30px;
  padding: 30px;
}
@media (min-width: 992px) {
  header .hamburger,
  header .social-button {
    display: none;
  }
}
header .social-media {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
header .social-media::before, header .social-media::after {
  content: "";
  display: block;
  flex-basis: 100%;
  margin-top: 10px;
}
@media (min-width: 992px) {
  header .social-media::before, header .social-media::after {
    display: none;
  }
}
@media (min-width: 992px) {
  header .social-media {
    justify-content: end;
    flex-basis: auto;
  }
}
header .social-media > a {
  width: 28px;
  height: 27px;
}
header .social-media > a:nth-child(1) {
  background-image: url("../../images/social.png");
  background-position: 0px 0;
}
header .social-media > a:nth-child(1):hover {
  background-position: 0px 100%;
}
header .social-media > a:nth-child(2) {
  background-image: url("../../images/social.png");
  background-position: -37.2px 0;
}
header .social-media > a:nth-child(2):hover {
  background-position: -37.2px 100%;
}
header .social-media > a:nth-child(3) {
  background-image: url("../../images/social.png");
  background-position: -74.4px 0;
}
header .social-media > a:nth-child(3):hover {
  background-position: -74.4px 100%;
}
header .social-media > a:nth-child(4) {
  background-image: url("../../images/social.png");
  background-position: -111.6px 0;
}
header .social-media > a:nth-child(4):hover {
  background-position: -111.6px 100%;
}
header .social-media > a:nth-child(5) {
  background-image: url("../../images/social.png");
  background-position: -148.8px 0;
}
header .social-media > a:nth-child(5):hover {
  background-position: -148.8px 100%;
}
header .social-media .telephone a {
  color: black;
}
header .social-media .telephone a:hover {
  color: #80b602;
}
@media (min-width: 992px) {
  header .social-media .telephone {
    flex-basis: 100%;
    text-align: end;
  }
}

.top-nav {
  margin-top: 10px;
  background: linear-gradient(transparent 0%, transparent 55%, white 55%, white 100%);
}
@media (min-width: 992px) {
  .top-nav {
    margin-top: 30px;
  }
}
@media (min-width: 992px) {
  .top-nav .container-fluid {
    gap: 8px;
  }
}
.top-nav .left-nav {
  background-color: white;
  box-shadow: 1px -1px 2px #8e8e8e;
}
@media (min-width: 992px) {
  .top-nav .left-nav {
    flex: 7 0 auto;
  }
}
.top-nav .left-nav .nav-item:hover {
  background-color: #cdcdcd;
}
.top-nav .left-nav .nav-item:not(:first-child) {
  border-right: 1px solid #cdcdcd;
}
.top-nav .left-nav .nav-link {
  padding: 20px 24px;
}
.top-nav .left-nav .nav-link.active {
  background-color: #80b602;
  color: white;
}
.top-nav .search {
  padding: 13px 15px 13px 18px;
  background-color: white;
  flex: 1 0 auto;
  position: relative;
  box-shadow: -1px -1px 2px #8e8e8e;
}
@media (min-width: 992px) {
  .top-nav .search {
    order: 1;
    flex: 3 0 auto;
  }
}
.top-nav .search input[type=search] {
  width: 100%;
  padding: 6px 10px;
  background-color: #e7e7e7;
  border: 1px solid #cdcdcd;
}
.top-nav .search input[type=search]::-webkit-search-cancel-button {
  display: none;
}
.top-nav .search input[type=search]:focus-visible {
  outline-color: #80b602;
}
.top-nav .search button {
  border: none;
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 25px;
  bottom: 0;
  left: auto;
  margin: auto;
  font-size: 0;
}
.top-nav .dropdown-menu {
  margin-top: -5px;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: #e7e7e7;
}
.top-nav .dropdown-item {
  padding: 20px 24px;
}
.top-nav .dropdown-item:hover, .top-nav .dropdown-item:active {
  background-color: #80b602;
}
.top-nav .dropdown-button::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: rotate(45deg) translate(1px, -6px);
}

main .carousel {
  margin-top: -5px;
  box-shadow: 0 0 2px black;
  height: 70vh;
}
main .carousel .carousel-inner {
  height: 100%;
}
main .carousel .carousel-inner .carousel-item {
  height: 100%;
}
main .carousel .carousel-inner .carousel-item img {
  height: 100%;
  object-fit: cover;
}
main .carousel .carousel-control-next {
  background-image: url("../images/slider_next.gif");
  background-repeat: no-repeat;
  opacity: 1;
  width: 40px;
  height: 119px;
  right: 0;
  top: 0;
  bottom: 0;
  left: auto;
  margin: auto;
}
main .carousel .carousel-control-next:hover {
  background-position-y: 100%;
}
main .carousel .carousel-control-prev {
  background-image: url("../images/slider_prev.gif");
  background-repeat: no-repeat;
  opacity: 1;
  width: 40px;
  height: 119px;
  right: auto;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
main .carousel .carousel-control-prev:hover {
  background-position-y: 100%;
}

.swiper .swiper-wrapper {
  margin-top: 30px;
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: #cdcdcd;
}
.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
  font-size: 20px;
}
.swiper .swiper-button-next {
  position: absolute;
  top: 30px;
  right: 0;
  bottom: auto;
  left: auto;
}
.swiper .swiper-button-prev {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: auto;
  left: auto;
}
.swiper .swiper-slide {
  overflow: hidden;
  position: relative;
}
.swiper .swiper-slide .swiper-text {
  color: white;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transform: rotate(-40deg) translateX(-300px);
  z-index: 1;
  opacity: 0;
  transition: all 0.4s 0.3s;
}
.swiper .swiper-slide .swiper-text p {
  position: relative;
}
.swiper .swiper-slide .swiper-text p::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 1px;
  height: 700%;
  background-color: white;
  transform: rotate(90deg) translateX(16px);
}
.swiper .swiper-slide .swiper-text .swiper-link {
  text-align: center;
  margin-top: 12px;
}
.swiper .swiper-slide .swiper-text .swiper-link .swiper-link-button {
  display: inline-block;
  width: 37px;
  height: 37px;
  cursor: pointer;
}
.swiper .swiper-slide:hover .swiper-text {
  opacity: 1;
  transform: rotate(-40deg);
}
.swiper .swiper-slide::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-left: 260px solid rgba(29, 29, 29, 0.6823529412);
  border-bottom: 90px solid rgba(29, 29, 29, 0.6823529412);
  border-right: 95px solid transparent;
  opacity: 0;
  transform: rotate(-40deg) translate(-300px, -150px);
  transition: 0.4s 0.2s;
}
.swiper .swiper-slide:hover::before {
  opacity: 1;
  transform: rotate(-40deg) translate(0, -150px);
}
.swiper .swiper-slide::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  margin: auto;
  border-top: 3px solid #80b602;
  border-left: 700px solid rgba(29, 29, 29, 0.6823529412);
  border-bottom: 150px solid rgba(29, 29, 29, 0.6823529412);
  border-right: 150px solid transparent;
  transform: rotate(140deg) translate(-400px, 180px);
  transition: all 0.4s 0.2s;
}
.swiper .swiper-slide:hover::after {
  opacity: 1;
  transform: rotate(140deg) translate(200px, 180px);
}

main {
  background-image: url("../images/subbg.gif");
  box-shadow: 0 1px 3px #8e8e8e;
}

.service {
  margin-top: 30px;
}
@media (min-width: 992px) {
  .service {
    margin-top: -30px;
    position: relative;
  }
}
.service .service-item {
  padding: 40px 30px 30px;
  height: 100%;
  background-color: #e7e7e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}
.service .service-item:hover {
  background-color: rgba(29, 29, 29, 0.6823529412);
  color: white;
}
.service h6 {
  text-wrap: nowrap;
}
.service .more-button {
  background-color: #cdcdcd;
  color: black;
  width: 64px;
  height: 30px;
  line-height: 30px;
  margin-top: auto;
}

.introduction {
  color: #8e8e8e;
  padding: 60px 24px 70px;
}
.introduction h2 {
  color: black;
}
.introduction .welcome .welcome-img {
  margin-top: 30px;
}
.introduction .welcome .welcome-content {
  margin-top: 30px;
}
.introduction .welcome .more-button {
  color: black;
}
.introduction .welcome .more-button:hover {
  font-weight: 500;
  color: #80b602;
}
.introduction .reasons {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.introduction .reasons .reason {
  display: flex;
  gap: 14px;
  padding: 18px;
  align-items: baseline;
  border-bottom: 1px solid #cdcdcd;
}
.introduction .reasons .reason:first-child {
  padding-top: 0;
}
.introduction .reasons .reason i {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #cdcdcd;
  color: white;
  text-align: center;
  line-height: 48px;
  flex: 0 0 auto;
}
.introduction .reasons .reason p {
  font-size: 18px;
}
.introduction .news {
  margin-top: 30px;
}
.introduction .news .news-item {
  display: flex;
  gap: 24px;
}
.introduction .news .news-item .news-img {
  flex: 0 0 auto;
}
.introduction .news .news-item .news-content time {
  display: block;
  padding: 5px 12px;
  width: fit-content;
  background-color: #80b602;
  color: white;
}
.introduction .news .news-item .news-content .news-text {
  margin-top: 24px;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  position: relative;
}
.introduction .news .news-item .news-content .more-button {
  color: black;
}
.introduction .news .news-item .news-content .more-button:hover {
  font-weight: 500;
  color: #80b602;
}
.introduction hr {
  margin: 80px 0 50px;
}

footer {
  margin-top: 70px;
}
footer .container-fluid {
  background-image: url("../images/subbg.gif");
  box-shadow: 0 -1px 3px #8e8e8e;
}
footer .tweets p {
  margin-top: 30px;
}
footer .comment .content {
  margin-top: 30px;
  background-color: #e7e7e7;
  padding: 1rem;
  border-radius: 3px;
  border-bottom-left-radius: 0;
  border: 1px solid #cdcdcd;
  position: relative;
}
footer .comment .content::after {
  content: "";
  border-top: 7px solid #e7e7e7;
  border-right: 14px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 14px solid #e7e7e7;
  position: absolute;
  top: 99%;
  right: auto;
  bottom: auto;
  left: 0;
  filter: drop-shadow(-0.5px 1.5px 0px #cdcdcd);
}
footer .comment .customer {
  margin-top: 35px;
  display: flex;
  gap: 13px;
}
footer .comment .customer a {
  color: #80b602;
  font-style: italic;
}
footer .comment .customer a:hover {
  font-weight: 500;
}
footer .contact form {
  margin-top: 30px;
}
footer .contact form > *:not(:first-child) {
  margin-top: 5px;
}
footer .contact form input,
footer .contact form textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #cdcdcd;
  background-color: #e7e7e7;
}
footer .contact form input:focus-visible,
footer .contact form textarea:focus-visible {
  outline-color: #80b602;
}
footer .contact form textarea {
  resize: none;
}
footer .contact form .form-button {
  margin-top: 18px;
}
footer .contact form .form-button button {
  color: white;
  border: none;
  padding: 8px 12px;
}
footer .contact form .form-button button[type=reset] {
  background-color: black;
}
footer .contact form .form-button button[type=submit] {
  background-color: #80b602;
}
footer .flickr-media {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}
footer .flickr-media .flickr-item {
  cursor: pointer;
}
footer .flickr-media .flickr-item:hover {
  scale: 1.1;
}
footer .copyright {
  padding: 20px 0;
  color: #8e8e8e;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 992px) {
  footer .copyright {
    flex-direction: row;
    justify-content: space-between;
  }
}
footer .copyright p {
  order: 1;
  margin-top: 30px;
}
@media (min-width: 992px) {
  footer .copyright p {
    order: 0;
    margin-top: 0;
  }
}
footer .copyright p span {
  color: #80b602;
}
footer .copyright .bottom-nav {
  justify-content: center;
}
@media (min-width: 992px) {
  footer .copyright .bottom-nav {
    justify-content: start;
  }
}
footer .copyright .bottom-nav .nav-item {
  position: relative;
}
@media (min-width: 768px) {
  footer .copyright .bottom-nav .nav-item:not(:first-child):before {
    content: "";
    display: block;
    height: 80%;
    width: 1.5px;
    background-color: #cdcdcd;
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}
footer .copyright .bottom-nav .nav-link {
  color: #8e8e8e;
  padding: 10px;
  font-size: 12px;
}
@media (min-width: 768px) {
  footer .copyright .bottom-nav .nav-link {
    padding: 0 10px;
  }
}
footer .copyright .bottom-nav .nav-link:hover {
  color: #80b602;
}
footer .copyright .bottom-nav .nav-link.active {
  color: #80b602;
}

/*# sourceMappingURL=main.css.map */
