@forward "./breakpoint";
@forward "./color";

// * {
//   outline: 1px solid orange;
// }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  min-width: 375px;
  background: linear-gradient(#000 0% .5%, transparent .5% 95%, #000 95% 100%),
    url("/Ray_/images/bg.jpg");
}
