@use "../base/color" as *;
@use "../utils/breakpoint" as *;

$font_size_ss: 1rem;
$font_size_s: 1.2rem;
$font_size_m: 1.5rem;
$font_size_l: 2rem;

%introduce_title {
  font-size: $font_size_m;
  @include breakpoint($PC) {
    font-size: $font_size_l;
  }
}

%information_title {
  font-size: $font_size_s;
  @include breakpoint(1440px) {
    font-size: $font_size_m;
  }
}

%text_hover {
  font-weight: 500;
  text-decoration: underline;
}

%text_style_1 {
  color: $gray-600;
  text-align: center;
}

%card_title {
  @include breakpoint($tablet) {
    margin-bottom: 0;
    text-align: center;
    font-size: $font_size_ss;
    color: $gray-600;
    font-weight: 500;
  }
  @include breakpoint(1440px) {
    font-size: $font_size_s;
  }
}

%card_text {
  color: $gray-600;
  font-weight: 500;
}

%more {
  text-transform: capitalize;
  color: $black;
}
