@use "../abstracts/" as *;
.about_card {
  display: flex;
  gap: 1.5rem;
  .card_img {
    flex: 0 1 50%;
  }
  .card_content {
    flex: 1 1 0;
    .news_text {
      margin-top: auto;
    }
  }
}

.about_card {
  .card_img {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .card_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-bottom: 0.5rem;
    .news_date {
      background-color: $highlight;
      color: $white;

      width: fit-content;
      padding: 0 $padding_base;
    }
    .news_text {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
  }
}
