@use "../abstracts/" as *;

.product_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  @include device_md() {
    flex-direction: column;
  }
  @include device_lg() {
    flex-direction: column;
  }

  text-align: left;
  @include device_md() {
    text-align: left;
  }
  @include device_lg() {
    text-align: center;
  }

  height: auto;
  padding: $padding_base;
  @include device_md() {
    height: 100%;
    padding: $padding_base;
  }
  @include device_lg() {
    height: 100%;
    padding: $padding_base * 2.5;
  }

  background-color: $primary;
  &:hover {
    background-color: rgb(100, 100, 100, 0.9);
  }

  .card_title {
    font-size: $font_middle;
  }
  .card_title,
  .card_text {
    color: $dark;
  }
  &:hover {
    .card_title,
    .card_text {
      color: $white;
    }
  }

  .card_img {
    display: none;
    @include device_md() {
      display: block;
      @include element_sizing(40px);
      img {
        @include element_sizing(100%);
      }
    }
    @include device_lg() {
      display: block;
      @include element_sizing(60px);
      img {
        @include element_sizing(100%);
      }
    }
  }
  .card_text {
    display: none;
    @include device_md() {
      display: block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    @include device_lg() {
      display: block;
      width: initial;
      overflow: initial;
      text-overflow: initial;
      white-space: initial;
    }
  }
  .card_btn {
    @include btn_theme($deco, $dark, 0 $padding_base);
    @include device_md() {
      margin-top: auto;
    }
  }
}
