@use "../utilities/breakpoint" as *;
@use "../utilities/color";

$left-icon: url(../images/slider_prev.gif);
$right-icon: url(../images/slider_next.gif);

@mixin carousel-control($icon) {
    width: 40px;
    height: 119px;
    background-image: $icon;
    background-position: 0 0;
    &:hover {
        background-position: 0 -119px;
    }
}

.carousel {
    margin-top: -5px;
    box-shadow: 0 0 2px black;

    .carousel-item {
        height: calc(100vh - 68px - 10px);
        @include desktop {
            height: auto;
        }
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include desktop {
            width: 100%;
            height: auto;
        }
        &.dollar {
            object-position: 40% 0;
        }
        &.stair {
            object-position: 60% 0;
        }
        &.tug {
            object-position: 5% 0;
        }
    }
    button {
        width: fit-content;
        height: fit-content;
        opacity: 1;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    .carousel-control-left-icon {
        @include carousel-control($left-icon);
    }
    .carousel-control-right-icon {
        @include carousel-control($right-icon);
    }
}
