@use "../abstracts/breakpoint" as *;
@use "../abstracts/color" as *;
@use "../abstracts/url" as *;
@use "../abstracts/toolkit" as *;

main {
    .carousel {
        margin-top: -5px;
        box-shadow: 0 0 2px $black;

        height: 70vh;
        @include desktop {
            height: auto;
        }

        .carousel-inner {
            height: 100%;
            .carousel-item {
                height: 100%;
                img {
                    height: 100%;
                    object-fit: cover;
                    &.dollar {
                        object-position: 40%;
                    }
                    &.stair {
                        object-position: 60%;
                    }
                    &.tug {
                        object-position: 0;
                    }

                    @include desktop {
                    }
                }
            }
        }

        .carousel-control-prev,
        .carousel-control-next {
            background-repeat: no-repeat;
            opacity: 1;
            width: 40px;
            height: 119px;
            margin: auto;
            &:hover {
                background-position-y: 100%;
            }
        }

        .carousel-control-next {
            background-image: $carousel-button-next;
            @include absolute(0, 0, 0, auto);
        }

        .carousel-control-prev {
            background-image: $carousel-button-prev;
            @include absolute(0, auto, 0, 0);
        }
    }
}
