@use "../utilities/background" as *;
@use "../utilities/breakpoint" as *;
@use "../utilities/color" as *;
@use "../utilities/spacing" as *;

footer {
    form {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
    input {
        background-color: $light-gray;
        border: 1px solid $gray;
        padding: 7px;

        &:focus-visible {
            outline: 1px solid $green;
        }
    }
    textarea {
        background-color: $light-gray;
        border: 1px solid $gray;
        color: $dark-gray;
        resize: none;
        width: 100%;
        height: 110px;
        padding: 7px;

        &:focus-visible {
            outline: 1px solid $green;
        }
    }
    .clear-button {
        background-color: black;
        color: white;
        padding: 8px 14px;
        border: none;
    }

    .form-button {
        margin-top: 20px;
    }
    .send-button {
        background-color: $green;
        color: white;
        padding: 8px 14px;
        border: none;
    }
}
