@use "../utilities/breakpoint" as *;
@use "../utilities/color" as *;
@use "../utilities/spacing" as *;

article {
    margin-top: 60px;
    padding: 0 16px;

    @include desktop {
        padding: 0 $base-spacing;
    }

    h2 {
        margin-top: 50px;

        @include xl-device {
            margin-top: 0;
        }
        & + * {
            margin-top: $component-spacing;
        }
    }
    .welcome {
        p {
            margin-top: $component-spacing;
            &::after {
                content: "More";
                display: inline;
                font-weight: 500;
                cursor: pointer;
            }
        }
    }
    .reasons {
        display: flex;
        flex-wrap: wrap;

        h2 {
            flex-basis: 100%;
        }
        .reason-item {
            flex-basis: 100%;
            display: flex;
            align-items: baseline;
            gap: 10px;
            border-bottom: 1px solid $light-gray;
            padding: 20px 50px 20px 14px;

            &:first-of-type {
                padding-top: 0;
            }
        }
        i {
            flex: 0 0 auto;
            color: white;
            text-align: center;
            line-height: 50px;
            display: block;
            width: 50px;
            height: 50px;
            background-color: $gray;
            border-radius: 50%;
        }
        p {
            color: $dark-gray;
        }
    }

    .news {
        display: flex;
        flex-wrap: wrap;

        h2 {
            flex-basis: 100%;
        }
        .news-item {
            display: flex;
            gap: 16px;

            @include desktop {
                gap: $component-spacing;
            }

            .date {
                background-color: $green;
                color: white;
                padding: 8px;
                width: fit-content;
            }
            p {
                margin-top: 16px;
                line-height: 18px;
                color: $dark-gray;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 5;
                overflow: hidden;

                @include mobile {
                    margin-top: 24px;
                }
                &::after {
                    content: "More";
                    display: inline;
                    color: black;
                    font-weight: 500;
                    cursor: pointer;
                }
            }
            .news-img {
                flex: 1 0 auto;
            }
            .news-content {
                flex: 0 1 auto;
            }
        }
    }
    hr {
        margin: 0;
        margin-top: 80px;
    }
}
