@use "../utilities/color" as *;
@use "../utilities/spacing" as *;
@use "../utilities/breakpoint" as *;

// 利用checkbox處理點擊事件
#burger {
    display: none;
    &:checked + nav {
        display: flex;
    }
}

nav {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(transparent 55%, white 55%, white 100%);

    @include desktop {
        display: flex;
        flex-direction: row;
        gap: 8px;
    }
    .search {
        background-color: white;
        padding: 12px 15px;
        order: 0;
        position: relative;
        flex: 3 0 auto;
        box-shadow: -1px -1px 2px $dark-gray;

        @include desktop {
            order: 1;
        }

        img {
            cursor: pointer;
            position: absolute;
            right: 20px;
            top: 0;
            bottom: 0;
            margin: auto;
        }

        input {
            background-color: #f3f3f3;
            border: 1px solid $gray;
            width: 100%;
            padding: 10px;
            line-height: 1;

            &::-webkit-search-cancel-button {
                display: none;
            }

            &:focus-visible {
                outline: 1px auto $green;
            }
        }
    }
    & > ul {
        background-color: white;
        display: flex;
        flex-direction: column;
        padding: 0;
        flex: 7 1 auto;
        box-shadow: 1px -1px 2px $dark-gray;
        list-style: none;

        @include desktop {
            flex-direction: row;
        }
    }
    a {
        display: block;
        width: 100%;
        text-align: center;
        padding: 20px;
        background-color: white;
        color: $dark;
        border-right: 1px solid $gray;
        flex: 1 0 auto;
        &.active {
            background-color: $green;
            color: white;
        }
        &:hover {
            background-color: $light-gray;
        }

        @include xl-device {
            padding: 20px 30px;
            flex: 0 0 auto;
        }
    }

    .dropdown {
        position: relative;

        .dropdown-title {
            &::after {
                width: 5px;
                height: 5px;
                content: "";
                display: inline-block;
                border: black solid;
                border-width: 0 0 1px 1px;
                transform: rotate(-45deg) translate(10px, 4px);
            }

            & + ul {
                display: none;
                list-style: none;
                background-color: white;
                width: 100%;
                text-align: center;
            }
            &:focus + ul {
                display: block;
                position: static;

                @include desktop {
                    position: absolute;
                    z-index: 1;
                    top: calc(100% - 5px);
                }
            }
        }
        li {
            padding: $component-spacing;
            background-color: $light-gray;
            &:hover {
                background-color: $dark-gray;
            }
        }
    }
}
