@use "../utilities/breakpoint" as *;
@use "../utilities/color" as *;
@use "../utilities/spacing" as *;
@use "../utilities/background" as *;

.service {
    margin-top: 50px;
    padding: 0 $base-spacing;
    @include xl-device {
        margin-top: calc(0px - $component-spacing);
    }
    .service-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: relative;
        z-index: 2;
        background-color: $light-gray;
        padding: 40px 30px 24px;
        text-align: center;
        height: 100%;

        &:hover {
            background-color: $hover-dark;
            color: white;
        }
        h2 {
            font-size: 1rem;
        }
        p {
            line-height: 1.2rem;
        }
        .more-button {
            width: 65px;
            height: 30px;
            border: 0;
            background-color: $gray;
            margin-top: auto;
        }
    }
}
