@use "../utilities/spacing" as *;
@use "../utilities/color" as *;
@use "../utilities/breakpoint" as *;

@mixin swiper-button($right-distance, $left-distance) {
    top: 20px;
    right: $right-distance;
    bottom: auto;
    left: $left-distance;
    &::after {
        color: $gray;
        font-size: 18px;
    }
}

.swiper-section {
    margin-top: 50px;
    padding: 0 16px 75px;

    @include desktop {
        padding: 0 $base-spacing 75px;
    }

    .swiper {
        width: 100%;
        position: relative;

        .swiper-wrapper {
            margin-top: $component-spacing;
        }

        .swiper-slide {
            position: relative;
            overflow: hidden;

            .swiper-text {
                color: white;
                position: absolute;
                width: fit-content;
                height: fit-content;
                top: 100%;
                right: 0;
                left: 0;
                transform: rotate(-40deg) translate(-50px, -113px);
                margin: auto;
                z-index: 1;
                opacity: 0;
                transition: all 0.4s 0.3s;

                p {
                    position: relative;
                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        right: 0;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        width: 1px;
                        height: 700%;
                        background-color: white;
                        transform: rotate(90deg) translateX(16px);
                    }
                }
                .swiper-icon {
                    text-align: center;
                    margin-top: 12px;
                    img {
                        width: 37px;
                        height: 37px;
                        cursor: pointer;
                    }
                }
            }

            &:hover .swiper-text {
                opacity: 1;
                transform: rotate(-40deg) translate(107px, -113px);
            }

            img {
                width: 100%;
            }

            &::before {
                position: absolute;
                content: "";
                display: block;
                width: 0;
                height: 0;
                border-left: 260px solid $hover-dark;
                border-bottom: 90px solid $hover-dark;
                border-right: 95px solid transparent;
                opacity: 0;
                transform: rotate(-40deg) translate(-435px, -65px);
                transition: 0.4s 0.2s;
            }
            &:hover::before {
                opacity: 1;
                transform: rotate(-40deg) translate(-76px, -65px);
            }

            &::after {
                position: absolute;
                content: "";
                display: block;
                width: 0;
                height: 0;
                border-top: 3px solid $green;
                border-left: 700px solid $hover-dark;
                border-bottom: 140px solid $hover-dark;
                border-right: 150px solid transparent;
                transform: rotate(140deg) translate(-750px, 300px);
                transition: all 0.4s 0.2s;
            }
            &:hover::after {
                opacity: 1;
                transform: rotate(140deg) translate(-20px, 300px);
            }
        }

        .swiper-button-prev {
            @include swiper-button(18px, auto);
        }
        .swiper-button-next {
            @include swiper-button(0, auto);
        }
    }
}
