// iPhone 13 mini + iPhone SE 375px = body min-width: 375px;
$iphone: 393px; //iPhone 14 pro  393px
$sm: 576px;
$ipad: 768px; //平板，畫面比例同手機
$lg: 992px;
$xl: 1200px;
$web: 1440px; 

@mixin breakpoint($max_width) {
  @media (max-width: $max_width) {
    @content;
  }
}
// mixin引用：
// @use "../utility/breakpoints" as *; 要引as*
// @include breakpoint($web) {
//   display: block;
// }