@use "../abstracts" as *;

.header_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  @include device_lg() {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
  background: url(../images/subbg.gif);
  box-shadow: 0px 0px 5px 1px $secondary;
  h1 {
    width: 70%;
    height: 35px;
    font-size: 0;
    @include device_md() {
      width: 330px;
      height: 50px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
.header_info {
  text-align: center;
  @include device_lg() {
    text-align: right;
  }
}

@mixin social_position($sprites_x, $sprites_y) {
  background-position: $sprites_x $sprites_y;
}
.social_icons {
  display: none;
  font-size: 0;
  @include device_md() {
    display: block;
  }
  a {
    display: inline-block;
    width: 27px;
    height: 27px;
    background: url(../images/social.png);
    & + a {
      margin-left: 0.5rem;
    }
    &:first-child {
      @include social_position(0, 0);
      &:hover {
        @include social_position(0, 100%);
      }
    }
    &:nth-child(2) {
      @include social_position(24.667%, 0);
      &:hover {
        @include social_position(24.667%, 100%);
      }
    }
    &:nth-child(3) {
      @include social_position(49.333%, 0);
      &:hover {
        @include social_position(49.333%, 100%);
      }
    }
    &:nth-child(4) {
      @include social_position(74%, 0);
      &:hover {
        @include social_position(74%, 100%);
      }
    }
    &:nth-child(5) {
      @include social_position(100%, 0);
      &:hover {
        @include social_position(100%, 100%);
      }
    }
  }
}
.contact_call {
  font-size: 0;
  > * + * {
    margin-left: 0.5rem;
  }
  * {
    display: inline-block;
    font-size: 14px;
  }
  a:hover {
    color: $highlight;
  }
}
