@use "../abstracts/" as *;
main {
  background: url(../../images/subbg.gif);
  padding-top: $padding_base * 2;
  margin-top: -$padding_base * 2;
  @include section_shadow();
}

.product {
  // @extend %section_container;
  padding: $padding_base * 2;
  .row {
    @include desktop() {
      position: relative;
      z-index: 1;
      margin-top: -5rem;
    }
  }
}
.about {
  // @extend %section_container;
  padding: $padding_base * 2;
  p {
    color: $secondary;
  }
}
hr {
  display: none;
  @include pad() {
    margin-top: 3rem;
    margin-bottom: 0;
    display: block;
  }
}
.about_items {
  > * + * {
    margin-top: $margin_base * 2;
  }
  .img_wrap {
    @include ratio_container(65%);
    img {
      @extend %img_fullfilled;
    }
  }
  .welcome_text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  .more_link {
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
    &:hover {
      color: $highlight;
    }
  }
}
.strip_wrap {
  .strip {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding: 20px 0;
    border-bottom: 2px $primary solid;
    a {
      font-size: 0px;
      color: $primary;
      i {
        font-size: 40px;
      }
      &:hover {
        color: $highlight;
      }
    }
  }
}

.feature {
  h3 + div {
    margin-top: $margin_base * 2;
  }
  // @extend %section_container;
  padding: $padding_base * 2;
  .swiper-slide {
    .shadow_wrap {
      // height: 0;
      padding-top: 84.72222%;
      padding-left: 100%;
      overflow: hidden;
      position: absolute;
      top: 600px;
      transition: top 1s;
    }
    ._shadow {
      width: 150%;
      height: 150%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(
        rgb(0, 0, 0, 0.6) 20%,
        transparent 20% 30%,
        rgb(0, 0, 0, 0.6) 30% 80%,
        $highlight 80% 81%,
        transparent 81%
      );
      transform: rotate(-30deg) translate(0%, -25%);
      :first-child {
        width: 10%;
        height: 12%;
        position: absolute;
        top: 50%;
        left: 30%;
        background-image: url(../images/icon1.png);
        background-repeat: no-repeat;
        background-size: 100%;
        &:hover {
          transform: scale(1.05);
        }
      }
      :nth-child(2) {
        width: 10%;
        height: 12%;
        position: absolute;
        top: 50%;
        left: 45%;
        background-image: url(../images/icon2.png);
        background-repeat: no-repeat;
        background-size: 100%;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
    &:hover {
      .shadow_wrap {
        top: 0;
      }
    }
    img {
      width: 100%;
    }
  }
  .swiper_indicator {
    position: absolute;
    top: 2rem;
    right: 1.5rem;
    font-size: 0;
    @include desktop() {
      top: 3rem;
    }
  }
}
