@use "variables" as v;

@mixin respond-to($breakpoints) {
  @media screen and (min-width: $breakpoints) {
    @content;
  }
}

@mixin navhover {
  background-color: v.$primary-green;
  color: v.$primary-white;
  font-weight: v.$font-weight-medium;
}
