@use "../base/breakpoint" as *;
@use "../base/font" as *;
@use "../base/color" as *;
@use "../component/swiper" as *;

@mixin object-fit {
    width: 100%;
    height: 100%;
    object-fit: fill;
}


header {
    margin-top: 10px;

    h1 {
        padding: 33.7px;
        background: url(../images/subbg.gif) ;
        display: flex;
        justify-content: space-between;
        align-items: center;
        


        img {
            display: none;
            @include sm {
                display: inline-block;
            }
        }

        .header__left a {

            background:url(../images/logo.png) no-repeat;
            width: 56px;
            height: 52px;

            @include sm {
                width: auto;
                height: auto;
            }

        }

    }

  


    .hamburger {

        #burger:checked + .ham {
            display: block;
        }
    
        .ham {
            li a{
                justify-content: center;
                color: white;
                padding: 10px;
            }
            text-transform: $upper;
            background-color: rgba(0, 0, 0, 0.5);
            width: 150px;
            font-size: $font16;
            display: none;
            position: absolute;
            z-index: 3;
            // @include absolute(100px, 0, 0, 1px);
            // transform:translateX(1px);
            // transition: all 0.4s 0.3s;


        }
    }

    .phone {
        #phone:checked + .phone__icon {
            display: block;
        }
        &__icon {

            text-align: end;
            padding: 10px;
            position: absolute;
            display: none;
            font-size: $font16;
            z-index: 3;
            width: 250px;
            background-color: rgba(0, 0, 0, 0.3);
            transform: translateX(-220px);


        }
    }


    .hamburger ,
    .phone{
        input {
            display: none;
        }
        &:hover {
            color: $green;
        }
        @include lg {
            display: none;
        }
        display: inline-block;

    }


    nav {


        @include xl {
            flex-direction: row;
        }
        
        display: flex;

        flex-direction: column;
        // display: none;
        margin-top: 30px;
        text-transform: $upper;
        justify-content: space-between;




        ul {
            @include lg {
                display: flex;
            }
            display: none;
            background-color: white;
            width: 100%;

            .active, li:hover {
                color: white;
                background-color: $green;
                a:hover{
                    color: white;
                }

                
            }

            li {
                min-width: 0;
                flex: 1 1 auto;
                @include xl {
                    flex: 0 0 auto;
                }

            
            }

        }

        ul,a {
            align-items: center;
            // display: flex;
        }


        a{
            border-right: 1px solid $lightgray;
            justify-content: center;
            font-size: $font16;
            padding: 15px 25px;
            >i {
                margin-left: 10px;
            }


        }

        .dropdown {
            z-index: 2;
            position: relative;
            display: inline-block;
        }
        .item{
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;

            a:hover{
                background-color: $green;
            }
        }


        .dropdown:hover .item {
            display: block;
          }



    }

  


}

