@use "../abstracts/variables" as v;

body {
  position: relative;

  .body__background {
    background-image: url("../../images/bg.jpg");
    background-repeat: repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -2;
  }

  .background__top {
    background-color: v.$layout-black;
    height: 83px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}
