@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

header {
  padding-top: 6px;

  > :first-child {
    background: url("../../images/subbg.gif") 0 0 repeat;
    box-shadow: 0 0 5px -1px v.$layout-black;
    margin-bottom: 28px;
    padding: 34px 36px;
  }

  .logo {
    width: 200px;

    @include m.respond-to(768px) {
      width: 280px;
    }

    img {
      width: 100%;
    }
  }

  .contact {
    > :first-child {
      margin-bottom: 6px;
    }

    &__social {
      width: 139px;
    }

    %social {
      background-size: 650%;
      display: inline-block;
      height: 24px;
      width: 24px;
    }

    &__facebook {
      background: url("../../images/social.png") 0 0 no-repeat;
      @extend %social;

      &:hover {
        background-position: 0 -24px;
      }
    }

    &__twitter {
      background: url("../../images/social.png") -33px 0 no-repeat;
      @extend %social;

      &:hover {
        background-position: -33px -24px;
      }
    }

    &__flickr {
      background: url("../../images/social.png") -65.5px 0 no-repeat;
      @extend %social;

      &:hover {
        background-position: -65.5px -24px;
      }
    }

    &__dribbble {
      background: url("../../images/social.png") -98px 0 no-repeat;
      @extend %social;

      &:hover {
        background-position: -98px -24px;
      }
    }

    &__rss {
      background: url("../../images/social.png") -132px 0 no-repeat;
      @extend %social;

      &:hover {
        background-position: -132px -24px;
      }
    }

    &__phonenumber {
      font-size: 12px;
      text-align: center;
    }
  }

  .navbar__container {
    background-color: v.$layout-white;
    width: 100%;

    @include m.respond-to(768px) {
      box-shadow: 1px -2px 4px -3px v.$layout-black;
    }

    @include m.respond-to(992px) {
      margin-right: 7px;
    }
  }

  .search {
    background-color: v.$layout-white;
    border-radius: 50%;
    box-shadow: -1px -2px 4px -3px v.$layout-black;
    min-height: 54px;
    min-width: 54px;
    padding: 7px 10px 7px 16px;
    position: fixed;
    top: 100px;
    right: 0;

    @include m.respond-to(768px) {
      height: auto;
      width: auto;
      top: auto;
    }

    @include m.respond-to(992px) {
      border-radius: 0;
      position: relative;
    }

    &__icon {
      background-image: url("../../images/search.png");
      background-size: contain;
      cursor: pointer;
      height: 17px;
      position: absolute;
      top: 15px;
      right: 22px;
      width: 17px;
    }

    &__bar {
      display: none;
      width: 200px;

      @include m.respond-to(768px) {
        width: 100%;
      }
    }
  }

  #search:checked + .search .search__bar {
    display: block;
  }

  #search:checked + .search {
    border-radius: 0;
  }
}
