$smSize: 576px;
$mdSize: 768px;
$lgSize: 992px;


@mixin sm {
    @media (min-width:$smSize) {
        @content;
    }
}

@mixin md {
    @media (min-width:$mdSize) {
        @content;
    }
}

@mixin lg {
    @media (min-width:$lgSize) {
        @content;
    }
}