$smSize: 576px;
$mdSize: 768px;
$lgSize: 992px;

//Chris建議
@mixin deviceSize ($size){
    @media (min-width:$size){
        @content;
    }
}
//原先寫法
// @mixin sm {
//     @media (min-width:$smSize) {
//         @content;
//     }
// }

// @mixin md {
//     @media (min-width:$mdSize) {
//         @content;
//     }
// }

// @mixin lg {
//     @media (min-width:$lgSize) {
//         @content;
//     }
// }