$color-white:#FFFFFF;
$color-light-gray:#E7E7E7;
$color-gray:#CDCDCD;
$color-dark-gray:#646464;
$color-black:#1c1c1c;
$color-green:#80B600;

//VARIABLES
$accent-theme-color: #7A306C;
$accent-theme-color2: #8D909B;
$dark-theme-color: #101010;
$light-theme-color: #fff;

$portfolio-item-width: 300px;
$portfolio-item-height: 300px;

$portfolio-item-info-offset: 7px;

$portfolio-link-dimensions: 35px;
$portfolio-link-offset: 10px;