@use "../utilities/background";
@use "../utilities/breakpoint";
@use "../utilities/color";

body {
    min-width: 375px;
    padding: 0 1rem;
    background: linear-gradient(color.$dark 0 75px, transparent 75px 91%, color.$dark 91% 100%), background.$body-bg;

    @include breakpoint.md {
        background: linear-gradient(color.$dark 0 2%, transparent 2% 95%, color.$dark 95% 100%), background.$body-bg;
        padding: 1% 6%;
    }

    @include breakpoint.lg {
        background: linear-gradient(color.$dark 0 3%, transparent 3% 95%, color.$dark 95% 100%), background.$body-bg;
    }
}