@use "../utilities/background";
@use "../utilities/breakpoint";
@use "../utilities/color";

@mixin linearSet ($first-stop, $second-stop, $img) {
    background: linear-gradient(color.$dark 0%,
            color.$dark $first-stop,
            transparent $first-stop,
            transparent $second-stop,
            color.$dark $second-stop,
            color.$dark 100%), $img;
}

body {
    min-width: 375px;
    max-width: 1440px;
    margin: 0 auto;
    @include linearSet (75px, 91%, background.$body-bg);
    padding: 0 1rem;

    @include breakpoint.deviceSize (breakpoint.$mdSize) {
        @include linearSet (2%, 95%, background.$body-bg);
        padding: 1% 6%;
    }

    @include breakpoint.deviceSize (breakpoint.$lgSize) {
        @include linearSet (3%, 95%, background.$body-bg);
        padding: 1% 6%;
    }
}