@use "../utilities/background" as *;
@use "../utilities/breakpoint" as *;

body {
    min-width: 375px;
    background: $body-bg;
    padding: 0 1rem;
    background: linear-gradient(#1D1D1D 0 75px, transparent 75px 91%, #1D1D1D 91% 100%), $body-bg;

    @include tablet {
        background: linear-gradient(#1D1D1D 0 4%, transparent 4% 91%, #1D1D1D 91% 100%), $body-bg;
        padding: 0 80px;
    }
}