@use "../utilities/color";
@use "../utilities/background";
@use "../utilities/breakpoint";

main {
    background: background.$sub-bg;
    box-shadow: 0 0px 3px color.$darkGray;
    margin-bottom: 1rem;

    @include breakpoint.deviceSize(breakpoint.$mdSize) {
        margin-bottom: 3.5rem;
    }
}