@use "../utilities/color" as *;
@use "../utilities/background" as *;
@use "../utilities/breakpoint" as *;

main {
    background: $sub-bg;
    box-shadow: 0 0px 3px $darkGray;
    margin-bottom: 1rem;

    @include tablet {
        margin-bottom: 3.5rem;
    }
}