@use "../base/" as * ;

// why choose us?
.accordion_reason{
  display: flex;
  border-bottom: 1px solid $gray-3;
  gap:10px;
  
  padding: 20px 0 25px 0;
  .reason_icon{
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  width: 60px;
  height: 60px;
  background: $gray-2;
  border-radius: 50%;
  &:hover{
    background:$green ;
    transform: rotate(90deg);
  }
  .fa-solid{
    margin: 0 auto;
    color:$white;
  }
}}

