
@use"../base" as *;

// <!-- GET IN TOUCH! -->
.input_box input{
  margin-bottom: 10px;
}
textarea{
  margin-bottom: 20px;
}
.button_reset{
  background-color: $black;
  color: $white;
  padding: 10px;
  border: none;
  &:hover{
    color:$green;
  }
}
.button_send{
  background-color: $green;
  color: $white;
  padding: 10px;
  border: none;
  &:hover{
    color:$gray-3;
  }
}