  // social_media icon
  .contact_social_media{
    a{
    display: inline-block;
    width: 27px;
	  height: 27px;
  }
    a:nth-child(1){
    background: url(../images/social.png) no-repeat 0 0;
      &:hover{
      background: url(../images/social.png) no-repeat 0 -27px;
    }
  }
    a:nth-child(2){
    background: url(../images/social.png) no-repeat -37px 0;
    &:hover{
      background: url(../images/social.png) no-repeat -37px -27px;
    }
  }
    a:nth-child(3){
    background: url(../images/social.png) no-repeat -74px 0;
    &:hover{   
      background: url(../images/social.png) no-repeat -74px -27px;
    }
  }
    a:nth-child(4){
    background: url(../images/social.png) no-repeat -111px 0;
    &:hover{
      background: url(../images/social.png) no-repeat -111px -27px;
    }
  }
    a:nth-child(5){
    background: url(../images/social.png) no-repeat -150px 0;
    &:hover{
      background: url(../images/social.png) no-repeat -150px -27px;
    }
  }
}