@use"../base" as*;


.navbar_search{
  margin-top: 20px;
  @include breakpoint($md){
    display: flex;
  justify-content: space-between;
  }
  
}

.nav_box{
  @include breakpoint($md){
    flex-grow: 1;
    margin-right: 10px;
  }
 
}

.nav_box_list{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 200%;
}

.navbar{
  padding: 0;
  .navbar-collapse{
    .nav-item,.dropdown-item{
      padding: 8px 10px;
      outline: 1px solid $gray-1;
      &:hover{
        background-color: $green;
      }
      a{
        &:hover{
          color:$white;
        }
      }
    }
}
}

.dropdown {
.dropdown-menu{
  padding: 0;
}
}