@use "../base" as *;

// ---footer---
footer {
  margin-top: 50px;
}

.footer_box {
  background: $bg_paper;
  display: flex;
  flex-direction: column;
  margin: 0;
  @include breakpoint($md) {
    display: flex;
    flex-direction: row;
  }
}
