@use"../base" as*;

@use "../component/iconlist_social_media";
// social_media
@use "../component/logo";
// logo


// --- header ---
header{
  background: $bg_paper;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
  outline: 1px solid $gray-3;
  @include breakpoint($md) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
 
}



