* {
  outline: 1px solid lightcoral;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  min-width: 375px;
  padding: 0 1rem;
  background: linear-gradient(#1D1D1D 0 75px, transparent 75px 91%, #1D1D1D 91% 100%), url(../images/bg.jpg);
}
@media (min-width: 768px) {
  body {
    background: linear-gradient(#1D1D1D 0 4%, transparent 4% 95%, #1D1D1D 95% 100%), url(../images/bg.jpg);
    padding: 0 6%;
  }
}

header {
  background: url(../images/subbg.gif);
  padding: 1rem;
  box-shadow: 0 1px 2px #cdcdcd;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

main {
  background: url(../images/subbg.gif);
  box-shadow: 0 0px 3px #666666;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  main {
    margin-bottom: 3.5rem;
  }
}

footer .input-data form textarea, footer .input-data form input {
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  background-color: #e7e7e7;
  width: 100%;
  padding: 0.25rem 0.5rem;
}
footer .input-data form textarea:focus, footer .input-data form input:focus {
  outline: 2px solid #80B600;
}

footer .input-data form .form-button button {
  border: none;
  text-transform: uppercase;
  font-weight: 500;
  color: #FFFFFF;
  padding: 0.5rem 0.7rem;
}
footer .input-data form .form-button button:hover {
  opacity: 0.9;
}

footer {
  background-image: url(../images/subbg.gif);
}
footer .footer-container {
  box-shadow: 0 0 3px #666666;
}
footer h3 {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}
footer .testimonials .dialog {
  padding: 1.25rem 1rem 1.5rem 1.75rem;
  background-color: #e7e7e7;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  line-height: 1.2;
  color: #1D1D1D;
  position: relative;
}
footer .testimonials .dialog::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px 15px 10px 15px;
  border-style: solid;
  border-color: #e7e7e7 transparent transparent #e7e7e7;
  top: 99%;
  left: 0;
  filter: drop-shadow(-1px 2px 0px #cdcdcd);
}
footer .testimonials .men-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
  gap: 1rem;
}
footer .testimonials .men-info .men-text > p {
  text-transform: capitalize;
}
footer .testimonials .men-info .men-text > a {
  color: #80B600;
  font-weight: 500;
}
footer .testimonials .men-info .men-text > a:hover {
  font-weight: 600;
}
footer .input-data form input {
  margin-bottom: 10px;
}
footer .input-data form textarea {
  margin-bottom: 24px;
}
footer .input-data form .form-button button[type=reset] {
  background-color: #1D1D1D;
}
footer .input-data form .form-button button[type=submit] {
  background-color: #80B600;
}
footer .photo-album {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}
footer .photo-album a:hover {
  transform: scale(0.93);
}
footer .photo-album img {
  width: 100%;
}
footer .footer-copyright {
  background-color: #1D1D1D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 992px) {
  footer .footer-copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
footer .footer-copyright .footer-navbar {
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  footer .footer-copyright .footer-navbar {
    margin-bottom: 0;
    order: 2;
  }
}
@media (min-width: 768px) {
  footer .footer-copyright .footer-navbar ul {
    display: flex;
    flex-direction: row;
  }
}
footer .footer-copyright .footer-navbar li {
  position: relative;
}
@media (min-width: 768px) {
  footer .footer-copyright .footer-navbar li + li::after {
    content: "";
    display: block;
    width: 2px;
    height: 60%;
    background-color: #666666;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: auto;
    margin: auto;
  }
}
footer .footer-copyright .footer-navbar a {
  display: block;
  padding: 0.25rem 0.5rem;
  color: #666666;
  text-align: center;
  text-transform: uppercase;
}
footer .footer-copyright .footer-navbar a:hover {
  color: #80B600;
}
footer .footer-copyright .footer-navbar a:focus {
  color: #80B600;
}
footer .footer-copyright .copyright p {
  color: #666666;
  text-transform: uppercase;
}
footer .footer-copyright .copyright p a {
  text-transform: capitalize;
  color: #80B600;
}

h1 a {
  display: inline-block;
}
h1 img {
  width: 100%;
}

.contact {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .contact {
    margin-top: 0;
  }
}
.contact .social-media {
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .contact .social-media {
    justify-content: flex-end;
    align-items: center;
  }
}
.contact .social-media a {
  display: inline-block;
}
.contact .social-media a:first-child {
  width: 27px;
  height: 27px;
  background: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.contact .social-media a:first-child:hover {
  background-position: 0 100%;
}
.contact .social-media a:nth-child(2) {
  width: 27px;
  height: 27px;
  background: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -37px 0;
}
.contact .social-media a:nth-child(2):hover {
  background-position: -37px 100%;
}
.contact .social-media a:nth-child(3) {
  width: 27px;
  height: 27px;
  background: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -74px 0;
}
.contact .social-media a:nth-child(3):hover {
  background-position: -74px 100%;
}
.contact .social-media a:nth-child(4) {
  width: 27px;
  height: 27px;
  background: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -111px 0;
}
.contact .social-media a:nth-child(4):hover {
  background-position: -111px 100%;
}
.contact .social-media a:last-child {
  width: 27px;
  height: 27px;
  background: url("../images/social.png");
  background-repeat: no-repeat;
  background-position: -150px 0;
}
.contact .social-media a:last-child:hover {
  background-position: -150px 100%;
}
.contact .social-media a + a {
  margin-left: 10px;
}
.contact .telephone > a {
  color: #1D1D1D;
}
.contact .telephone > a:hover {
  color: #80B600;
}

.services h5, .programs h5, .support h5, .strategies h5 {
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  height: 38px;
}
@media (min-width: 992px) {
  .services h5, .programs h5, .support h5, .strategies h5 {
    font-size: 1rem;
  }
}

.strategies {
  background: #e7e7e7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
}
.strategies p {
  text-align: center;
}
.strategies a {
  text-transform: capitalize;
  padding: 0.25rem 1rem;
  color: #1D1D1D;
  background-color: #cdcdcd;
}
.strategies a:hover {
  background-color: #80B600;
  color: #FFFFFF;
}
.strategies .card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 auto;
  gap: 1rem;
}
.strategies:hover {
  background-color: #666666;
  opacity: 0.9;
  color: #FFFFFF;
  transition: all 0.7s;
}
@media (min-width: 992px) {
  .strategies:hover {
    transform: translateY(-3%);
  }
}

.support {
  background: #e7e7e7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
}
.support p {
  text-align: center;
}
.support a {
  text-transform: capitalize;
  padding: 0.25rem 1rem;
  color: #1D1D1D;
  background-color: #cdcdcd;
}
.support a:hover {
  background-color: #80B600;
  color: #FFFFFF;
}
.support .card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 auto;
  gap: 1rem;
}
.support:hover {
  background-color: #666666;
  opacity: 0.9;
  color: #FFFFFF;
  transition: all 0.7s;
}
@media (min-width: 992px) {
  .support:hover {
    transform: translateY(-3%);
  }
}

.programs {
  background: #e7e7e7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
}
.programs p {
  text-align: center;
}
.programs a {
  text-transform: capitalize;
  padding: 0.25rem 1rem;
  color: #1D1D1D;
  background-color: #cdcdcd;
}
.programs a:hover {
  background-color: #80B600;
  color: #FFFFFF;
}
.programs .card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 auto;
  gap: 1rem;
}
.programs:hover {
  background-color: #666666;
  opacity: 0.9;
  color: #FFFFFF;
  transition: all 0.7s;
}
@media (min-width: 992px) {
  .programs:hover {
    transform: translateY(-3%);
  }
}

.services {
  background: #e7e7e7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
}
.services p {
  text-align: center;
}
.services a {
  text-transform: capitalize;
  padding: 0.25rem 1rem;
  color: #1D1D1D;
  background-color: #cdcdcd;
}
.services a:hover {
  background-color: #80B600;
  color: #FFFFFF;
}
.services .card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 auto;
  gap: 1rem;
}
.services:hover {
  background-color: #666666;
  opacity: 0.9;
  color: #FFFFFF;
  transition: all 0.7s;
}
@media (min-width: 992px) {
  .services:hover {
    transform: translateY(-3%);
  }
}

@media (min-width: 992px) {
  .service_introduce {
    position: relative;
    top: -20px;
  }
}

.company_info h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.company_info .text-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.company_info a {
  text-transform: capitalize;
  color: #1D1D1D;
  font-weight: 500;
}
.company_info a:hover {
  color: #80B600;
}

.company_info i {
  background-color: #cdcdcd;
  color: #FFFFFF;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  text-align: center;
  line-height: 2.5rem;
  flex-shrink: 0;
}

.events .news-item time {
  display: inline-block;
  color: #FFFFFF;
  background-color: #80B600;
  padding: 0.25rem 0.5rem;
  font-weight: 500;
}

.company_info p {
  color: #666666;
  line-height: 1.3;
}
.about .about-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  border-radius: 0;
  border-bottom: 1px solid #cdcdcd;
}
.about .about-item:hover i {
  background-color: #80B600;
}
.about .about-item:hover p {
  color: #80B600;
}
.about .about-item p {
  margin-left: 1rem;
  text-align: start;
}

.welcome-image {
  margin-bottom: 1rem;
}

@media (min-width: 992px) {
  .events {
    padding: 0;
  }
}
.events .news-list > div:first-child {
  margin-bottom: 1rem;
}
@media (min-width: 576px) {
  .events .news-list > div:first-child {
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .events .news-list > div:first-child {
    margin-bottom: 1rem;
  }
}
.events .news-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
.events .news-item .news-image {
  flex-basis: 50%;
}
.events .news-item .news-text {
  flex-basis: 50%;
}
.events .news-item .news-text p {
  margin-top: 1rem;
}
.feature h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.feature .swiper-button-next::after, .feature .swiper-button-prev::after {
  color: #666666;
  font-size: 1.25rem;
  font-weight: 700;
}
.feature .swiper-button-next:hover::after, .feature .swiper-button-prev:hover::after {
  color: #80B600;
}

.feature {
  padding: 2rem 1.5rem 3rem;
}
.feature .swiper-button-prev {
  position: absolute;
  top: 5px;
  right: 30px;
  left: auto;
  bottom: auto;
  margin-top: 0;
  width: auto;
  height: auto;
}
.feature .swiper-button-next {
  position: absolute;
  top: 5px;
  right: 0px;
  left: auto;
  bottom: auto;
  margin-top: 0;
  width: auto;
  height: auto;
}
.feature .swiper-slide {
  position: relative;
  overflow: hidden;
}
.feature .swiper-slide:hover .swiper-content {
  opacity: 1;
  transform: rotate(-40deg) translate(-10%, -45%);
  transition: all 0.8s 0.3s;
  z-index: 2;
}
.feature .swiper-slide::before {
  content: "";
  display: block;
  width: 50%;
  height: 200%;
  opacity: 0;
  background: #1D1D1D;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(50deg) translate(-300%, -30%);
  z-index: 1;
}
.feature .swiper-slide::after {
  content: "";
  display: block;
  width: 60%;
  height: 200%;
  opacity: 0;
  background: #1D1D1D;
  position: absolute;
  top: 0;
  left: 0;
  border-right: 3px solid #80B600;
  transform: rotate(50deg) translate(120%, -30%);
  z-index: 1;
}
.feature .swiper-slide:hover::before {
  opacity: 0.7;
  transform: rotate(50deg) translate(-150%, -30%);
  transition: all 0.5s;
}
.feature .swiper-slide:hover::after {
  opacity: 0.7;
  transform: rotate(50deg) translate(-5%, -30%);
  transition: all 0.5s;
}
.feature .swiper-slide .swiper-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(0deg) translate(-50%, -50%);
  opacity: 0;
}
.feature .swiper-slide .swiper-content p {
  color: #FFFFFF;
  margin-bottom: 1rem;
  white-space: nowrap;
}
.feature .swiper-slide .swiper-content p::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 200%;
  background-color: #FFFFFF;
  top: -15px;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: auto;
  transform: rotate(-90deg);
}
.feature .swiper-slide .swiper-content .swiper-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.feature .swiper-slide .swiper-content .swiper-icon a:hover {
  transform: scale(1.05);
}

.navbar {
  background-color: transparent;
  padding: 0;
  margin-top: 30px;
  justify-content: flex-start;
  align-items: stretch;
}
@media (min-width: 992px) {
  .navbar {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.8rem;
    background: linear-gradient(transparent 60%, #f3f3f3 60%);
  }
}
.navbar .navbar-toggler {
  border: none;
  border-radius: 0;
  background-color: #FFFFFF;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-collapse {
  background-color: #FFFFFF;
}
@media (min-width: 992px) {
  .navbar .navbar-collapse {
    flex-grow: 2;
    box-shadow: 1px -1px 3px #cdcdcd;
  }
}
@media (min-width: 992px) {
  .navbar .navbar-collapse .nav-item {
    border-right: 2px solid #f3f3f3;
  }
}
.navbar .navbar-collapse .nav-link {
  color: #1D1D1D;
  padding: 16px 12px;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .navbar .navbar-collapse .nav-link {
    padding: 21px 22px;
  }
}
.navbar .navbar-collapse .nav-link:hover, .navbar .navbar-collapse .nav-link:focus {
  background-color: #80B600;
  color: #FFFFFF;
}
.navbar .navbar-collapse .dropdown-menu {
  border: none;
  border-radius: 0;
  padding: 0;
  margin-top: 0;
}
.navbar .navbar-collapse .dropdown-menu .dropdown-item {
  padding: 16px 12px;
}
.navbar .navbar-collapse .dropdown-menu .dropdown-item:hover {
  background-color: #f3f3f3;
  color: #1D1D1D;
}

.search {
  position: relative;
  padding: 0.5rem 1.1rem;
  background-color: #FFFFFF;
  flex-grow: 1;
}
@media (min-width: 992px) {
  .search {
    box-shadow: -1px -1px 3px #cdcdcd;
  }
}
.search .form-control {
  background-color: #f3f3f3;
  border-radius: 0;
  padding: 0.75rem;
}
.search .form-control:focus {
  box-shadow: none;
  border: 1px solid #f3f3f3;
  outline: 3px solid #80B600;
}
.search .search-icon {
  width: 35px;
  height: 35px;
  border: none;
  background-image: url("../images/search.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #f3f3f3;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  margin: auto;
}

.carousel {
  height: 60vh;
}
@media (min-width: 992px) {
  .carousel {
    height: auto;
  }
}
.carousel .carousel-inner {
  height: 100%;
}
.carousel .carousel-inner .carousel-item:nth-child(1) {
  height: 100%;
}
.carousel .carousel-inner .carousel-item:nth-child(1) img.contest {
  height: 100%;
  object-fit: cover;
  object-position: top 50% right 10%;
}
.carousel .carousel-inner .carousel-item:nth-child(1) img.far-away {
  height: 100%;
  object-fit: cover;
  object-position: top 50% right 30%;
}
.carousel .carousel-inner .carousel-item:nth-child(1) img.money {
  height: 100%;
  object-fit: cover;
  object-position: top 50% right 70%;
}
.carousel .carousel-inner .carousel-item:nth-child(2) {
  height: 100%;
}
.carousel .carousel-inner .carousel-item:nth-child(2) img.contest {
  height: 100%;
  object-fit: cover;
  object-position: top 50% right 10%;
}
.carousel .carousel-inner .carousel-item:nth-child(2) img.far-away {
  height: 100%;
  object-fit: cover;
  object-position: top 50% right 30%;
}
.carousel .carousel-inner .carousel-item:nth-child(2) img.money {
  height: 100%;
  object-fit: cover;
  object-position: top 50% right 70%;
}
.carousel .carousel-inner .carousel-item:nth-child(3) {
  height: 100%;
}
.carousel .carousel-inner .carousel-item:nth-child(3) img.contest {
  height: 100%;
  object-fit: cover;
  object-position: top 50% right 10%;
}
.carousel .carousel-inner .carousel-item:nth-child(3) img.far-away {
  height: 100%;
  object-fit: cover;
  object-position: top 50% right 30%;
}
.carousel .carousel-inner .carousel-item:nth-child(3) img.money {
  height: 100%;
  object-fit: cover;
  object-position: top 50% right 70%;
}

.carousel-control-prev {
  background-image: url("../images/slider_prev.gif");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
  width: 40px;
  height: 119px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.carousel-control-prev:hover {
  background-position: 0 100%;
  opacity: 1;
}

.carousel-control-next {
  background-image: url("../images/slider_next.gif");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
  width: 40px;
  height: 119px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.carousel-control-next:hover {
  background-position: 0 100%;
  opacity: 1;
}

/*# sourceMappingURL=all.css.map */
