@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  background: no-repeat linear-gradient(black 0 90px, transparent 90px 90%, black 90% 100%), url("../../images/bg.jpg");
}

@media (max-width: 992px) {
  .container.my_container {
    max-width: none;
  }
}

* {
  font-family: "Open Sans", sans-serif;
}

/* 文字標籤下面有預設margin、需要手動歸零  */
html,
body,
h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header_info .header_info_media {
  text-align: end;
}
.header_info .header_info_media a:first-child {
  width: 28px;
  height: 28px;
  display: inline-block;
  background-image: url("../../images/social.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.header_info .header_info_media a:first-child:hover {
  background-position: 0 104%;
}
.header_info .header_info_media a:nth-child(2) {
  width: 28px;
  height: 28px;
  display: inline-block;
  background-image: url("../../images/social.png");
  background-position: 25% 0;
  background-repeat: no-repeat;
}
.header_info .header_info_media a:nth-child(2):hover {
  background-position: 25% 104%;
}
.header_info .header_info_media a:nth-child(3) {
  width: 28px;
  height: 28px;
  display: inline-block;
  background-image: url("../../images/social.png");
  background-position: 50% 0;
  background-repeat: no-repeat;
}
.header_info .header_info_media a:nth-child(3):hover {
  background-position: 50% 104%;
}
.header_info .header_info_media a:nth-child(4) {
  width: 28px;
  height: 28px;
  display: inline-block;
  background-image: url("../../images/social.png");
  background-position: 75% 0;
  background-repeat: no-repeat;
}
.header_info .header_info_media a:nth-child(4):hover {
  background-position: 75% 104%;
}
.header_info .header_info_media a:nth-child(5) {
  width: 28px;
  height: 28px;
  display: inline-block;
  background-image: url("../../images/social.png");
  background-position: 100% 0;
  background-repeat: no-repeat;
}
.header_info .header_info_media a:nth-child(5):hover {
  background-position: 100% 104%;
}
.header_info .header_info_media a + a {
  margin-left: 5px;
}
.header_info .tel_info {
  color: #1c1c1c;
}
.header_info .tel_info:hover {
  color: #80B600;
}
@media (max-width: 768px) {
  .header_info {
    display: none;
  }
}

header {
  background-image: url("/images/subbg.gif");
}

.header {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px #646464;
}
@media (max-width: 768px) {
  .header {
    justify-content: center;
    padding: 25px;
  }
}
@media (max-width: 576px) {
  .header h1 img {
    max-width: 60%;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
}

.my_navbar {
  flex-grow: 1;
}
.my_navbar .nav-link {
  color: #1c1c1c;
  border-right: 1px #E7E7E7 solid;
}
.my_navbar .nav-link:hover {
  color: #FFFFFF;
  background-color: #80B600;
}
.my_navbar .nav-link.active {
  color: #FFFFFF;
  background-color: #80B600;
}
@media (max-width: 992px) {
  .my_navbar .container-fluid {
    background-color: #FFFFFF;
  }
}
@media (max-width: 992px) {
  .my_navbar .navbar-nav {
    padding: 10px 0;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 15px 15px;
}

.navbar-collapse {
  background-image: url("/images/subbg.gif");
  box-shadow: 0 0 5px #646464;
}
@media (max-width: 992px) {
  .navbar-collapse {
    order: 3;
    box-shadow: none;
  }
}

.block {
  background-color: #f5f5f5;
  display: block;
  width: 10px;
  height: 30px;
  align-self: end;
  z-index: -1;
}
@media (max-width: 992px) {
  .block {
    display: none;
  }
}

.search_wrapper {
  background-image: url("/images/subbg.gif");
  display: block;
  box-shadow: 0 0 5px #646464;
  max-width: 31.25rem;
  padding: 10px 18px;
}
@media (max-width: 992px) {
  .search_wrapper {
    padding: 0;
    box-shadow: none;
    order: 2;
  }
}

.searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input:focus,
textarea:focus {
  outline: 1px solid #80B600;
}

.search_Input {
  padding: 5px 10px;
  background-color: #E7E7E7;
  border: 1px solid #CDCDCD;
  font-size: 14px;
  min-width: 280px;
}
@media (max-width: 1200px) {
  .search_Input {
    min-width: 200px;
  }
}

.search_Submit {
  width: 50px;
  margin-left: -50px;
  background: none;
  border: none;
  outline: none;
}
.search_Submit:hover {
  cursor: pointer;
}

.carousel .carousel-inner {
  z-index: 1;
}
.carousel .carousel-inner img {
  min-height: 300px;
  object-fit: cover;
  object-position: right center;
}
@media (max-width: lg) {
  .carousel .carousel-inner {
    height: 100%;
  }
}

.carousel-control-next,
.carousel-control-prev {
  background: #1c1c1c;
  max-width: 50px;
  max-height: 150px;
  padding: 10px 10px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.carousel-control-next:hover,
.carousel-control-prev:hover {
  background-color: #80B600;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.card {
  border-radius: 0;
}
.card-title {
  margin-bottom: 0;
  font-size: 16px;
  text-transform: uppercase;
}
.card-body {
  background-color: #E7E7E7;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 2rem;
  text-align: center;
  z-index: 2;
}
.card-body:hover {
  background-color: rgba(58, 58, 58, 0.7);
  color: #FFFFFF;
}
.card-text {
  line-height: 1.2;
}
@media (max-width: 576px) {
  .card-text {
    display: none;
  }
}
.card-img {
  margin: 0 auto;
  width: auto;
}
.card-button {
  color: #1c1c1c;
  background-color: #CDCDCD;
  display: block;
  margin: 0 auto;
  padding: 3px 20px;
}
.card-button:hover {
  color: #FFFFFF;
  background-color: #1c1c1c;
}

.swiper-container {
  position: relative;
  overflow: hidden;
}
.swiper-container .feature_title {
  position: relative;
}
@media (max-width: 576px) {
  .swiper-container .feature_title {
    text-align: center;
  }
}
.swiper-container .swiper-button-next {
  color: #CDCDCD;
  position: absolute;
  top: auto;
  bottom: -10px;
  left: auto;
  right: 0;
  width: fit-content;
  height: fit-content;
}
.swiper-container .swiper-button-next::after {
  content: "";
}
@media (max-width: 576px) {
  .swiper-container .swiper-button-next {
    bottom: 20%;
  }
}
.swiper-container .swiper-button-prev {
  color: #CDCDCD;
  position: absolute;
  top: auto;
  bottom: -10px;
  left: auto;
  right: 20px;
  width: fit-content;
  height: fit-content;
}
.swiper-container .swiper-button-prev::after {
  content: "";
}
@media (max-width: 576px) {
  .swiper-container .swiper-button-prev {
    bottom: 20%;
    left: 0;
  }
}

.swiper-wrapper {
  width: 100%;
}

.swiper-slide {
  height: 225px;
  display: flex;
  background: #eee;
  align-items: center;
  justify-content: center;
}
.swiper-slide .image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.swiper-slide .overlay {
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: -100%;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease-in-out;
}
.swiper-slide .image-container:hover .overlay {
  transform: translateY(-100%);
}
.swiper-slide .overlay i {
  color: #FFFFFF;
  font-size: 20px;
}
.swiper-slide .overlay i:hover {
  color: #80B600;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.main {
  background-image: url("/images/subbg.gif");
  box-shadow: 0 0 5px #646464;
}
.main_content {
  padding: 0 38px;
}
.main_content .product {
  margin-top: -30px;
}
@media (max-width: 1200px) {
  .main_content .product {
    margin-top: 0;
  }
}

.welcome {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.welcome a {
  color: #1c1c1c;
}
.welcome a:hover {
  color: #80B600;
}

.reason {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.reason_symbol {
  background-color: #E7E7E7;
  position: relative;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}
.reason_symbol:hover {
  background-color: #80B600;
}
.reason_symbol:hover i {
  transition: translate 0.5s ease-out;
  translate: 5px;
}
.reason_symbol i {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.reason_list_item {
  color: #646464;
  display: flex;
  gap: 15px;
  padding: 0 20px 20px;
  border-bottom: 1px solid #CDCDCD;
}
.reason_list_item p {
  margin: auto 0;
}

.news {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.news_list_item {
  display: flex;
  gap: 20px;
}
.news_list_item_image {
  flex-shrink: 0;
}
.news_list_item_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.news_list_item_content_date {
  padding: 3px 10px;
  width: fit-content;
  background-color: #80B600;
  color: #FFFFFF;
}
.news_list_item_content p {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #646464;
  font-size: 13px;
  line-height: 1.4;
}
.news_list_item_content a {
  display: inline;
  color: #1c1c1c;
  margin-top: -20px;
  font-size: 14px;
}
.news_list_item_content a:hover {
  color: #80B600;
}
@media (max-width: 393px) {
  .news_list_item_content a {
    display: none;
  }
}
.news_list_item_content .more_button {
  display: none;
}
@media (max-width: 393px) {
  .news_list_item_content .more_button {
    display: block;
  }
}

.flickr_album {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6px;
}
.flickr_album img {
  transition: 0.5s ease all;
}
.flickr_album img:hover {
  opacity: 0.6;
}

.form_list_item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form_list_item input,
.form_list_item textarea {
  padding-left: 5px;
  background-color: #E7E7E7;
  border: 1px solid #CDCDCD;
}
.form_list_item .no-resize {
  resize: none; /* 禁用垂直和水平拉伸 */
}
.form_list_item .buttons {
  margin-top: 15px;
  display: flex;
  gap: 5px;
  font-size: 14px;
}
.form_list_item .buttons_form {
  display: block;
  padding: 3px 8px;
  background-color: #1c1c1c;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
}
.form_list_item .buttons_send {
  display: block;
  padding: 3px 8px;
  background-color: #80B600;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
}

.testimonials_block {
  position: relative;
  background-color: #E7E7E7;
  border: 1px solid #CDCDCD;
}
.testimonials_block .arrow {
  width: 0;
  height: 0;
  border-top: 22px solid #CDCDCD;
  border-bottom: 22px solid transparent;
  border-right: 23px solid transparent;
  position: absolute;
  left: -1px;
}
.testimonials_block .arrow:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 21px solid #E7E7E7;
  border-bottom: 21px solid transparent;
  border-right: 21px solid transparent;
  position: absolute;
  top: -24px;
  left: 1px;
}

.man {
  padding-top: 40px;
  display: flex;
  gap: 15px;
}
.man_content a {
  font-style: italic;
  color: #80B600;
}
.man_content a:hover {
  color: #1c1c1c;
}

.footer_block {
  background-image: url("/images/subbg.gif");
  padding: 38px;
  box-shadow: 0 0 10px #646464;
}
.footer_block h3 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 25px;
}

.footer_link {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
@media (max-width: 768px) {
  .footer_link {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
}

.footer_copyright {
  display: flex;
  justify-content: center;
  order: 1;
}
.footer_copyright p {
  color: #646464;
}
.footer_copyright a {
  color: #80B600;
}

.footer_nav {
  display: flex;
  justify-content: center;
}
@media (max-width: 576px) {
  .footer_nav {
    display: none;
  }
}
.footer_nav_item {
  padding: 0 8px;
  text-transform: uppercase;
  color: #646464;
}
.footer_nav_item:hover {
  color: #80B600;
}
.footer_nav_item:not(:last-child) {
  border-right: 1px solid #646464;
}

hr {
  margin: 0;
}

.navbar-toggler:focus {
  box-shadow: none;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1250px;
  }
}

/*# sourceMappingURL=main.css.map */
