@use '../utils/' as utils;

:root {
  --white: white;
  --green: #80b600;
  --text-color: black;
  --gray0: #eeeeee;
  --gray1: #e6e6e6;
  --gray2: #cdcdcd;
  --gray3: #d9d9d9;
  --gray4: #818181;
  --gray5: #636363;
}

// mobile 576px, tablet 768px, PC 1200px
$breakpoints-up: (
  'mobile':utils.px2rem(576),
  'tablet':utils.px2rem(768),
  'PC':utils.px2rem(1200),
);

@mixin breakpoint ($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}


body {
  margin: 0 auto;
  padding: 0;
  min-width: utils.px2rem(375);
  background: linear-gradient(#000 0% .5%, transparent .5% 90%, #000 90% 100%),
    url('../image/bg.jpg');
}

.container-fluid {
  max-width: utils.px2rem(1256);
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: utils.px2rem(30);
}

h2 {
  font-size: utils.px2rem(28);
}

h3 {
  font-size: utils.px2rem(20);
}


a,
a:visited,
a:checked {
  text-decoration: none;
}

img {
  width: 100%;
}