@use '../utils/' as u;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
  min-width: u.rem(375);
  // 加上max-width才能用margin0auto置中
  max-width: u.rem(1400);
  background: linear-gradient(#000 0% .5%, transparent .5% 90%, #000 90% 100%),
    url('../image/bg.jpg');  
}

.container-fluid {
  max-width: u.rem(1256);
}