@use "../abstracts/mixin" as *;
@use "../abstracts/variables" as *;

header {
    background-image: $white-wood;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    box-shadow: 0 1px 2px $dark-gray;

    @include desktop {
        padding: $basic-spacing;
        justify-content: space-between;
    }

    h1 {
        flex: 1 1 0;
        @include desktop {
            flex: 0 0 auto;
        }
    }

    .hamburger,
    .social-button {
        font-size: 30px;
        padding: $component-spacing;

        @include desktop {
            display: none;
        }
    }

    .social-media {
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;

        // 避免collapse動畫有頓點
        &::before,
        &::after {
            content: "";
            display: block;
            flex-basis: 100%;
            margin-top: 10px;
            @include desktop {
                display: none;
            }
        }

        @include desktop {
            // display: flex用bootstrap class避免被collapse蓋過
            justify-content: end;
            flex-basis: auto;
        }

        & > a {
            width: 28px;
            height: 27px;
            // bg sprite
            @for $i from 1 through 5 {
                &:nth-child(#{$i}) {
                    @include social-bg($i);
                }
            }
        }

        .telephone {
            a {
                color: black;
                &:hover {
                    color: $green;
                }
            }
            @include desktop {
                flex-basis: 100%;
                text-align: end;
            }
        }
    }
}
