@use "../components/carousel";
@use "../components/swiper";

@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as *;
@use "../components/button" as *;

main {
    background-image: $white-wood;
    box-shadow: 0 1px 3px $dark-gray;
}

.service {
    margin-top: $component-spacing;
    @include desktop {
        margin-top: -$component-spacing;
        // 為了讓他在carousel上層
        position: relative;
    }

    .service-item {
        padding: 40px 30px 30px;
        height: 100%;
        background-color: $light-gray;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: $component-spacing;

        &:hover {
            background-color: $hover-dark;
            color: $white;
        }
    }

    h6 {
        text-wrap: nowrap;
    }

    .more-button {
        background-color: $gray;
        color: black;
        width: 64px;
        height: 30px;
        line-height: 30px;
        margin-top: auto;

        &:hover {
            @extend %green-button;
        }
    }
}

.introduction {
    color: $dark-gray;
    padding: 60px $component-spacing 70px;

    h2 {
        color: black;
    }

    .welcome {
        .welcome-img {
            margin-top: $component-spacing;
        }

        .welcome-content {
            margin-top: $component-spacing;
            span {
                @include line-clamp(3);
            }
        }

        .more-button {
            color: black;

            &:hover {
                font-weight: 500;
                color: $green;
            }
        }
    }

    .reasons {
        display: flex;
        flex-direction: column;
        margin-top: $component-spacing;

        .reason {
            display: flex;
            gap: 14px;
            padding: 18px;
            align-items: baseline;
            border-bottom: 1px solid $gray;

            &:first-child {
                padding-top: 0;
            }

            i {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                background-color: $gray;
                color: $white;
                text-align: center;
                line-height: 48px;
                flex: 0 0 auto;
            }
            p {
                font-size: 18px;
            }
        }
    }

    .news {
        margin-top: $component-spacing;
        .news-item {
            display: flex;
            gap: 24px;

            .news-img {
                flex: 0 0 auto;
            }

            .news-content {
                time {
                    @extend %green-button;
                    display: block;
                    padding: 5px 12px;
                    width: fit-content;
                }
                .news-text {
                    margin-top: 24px;
                    line-height: 1.3;
                    @include line-clamp(3);
                }
                .more-button {
                    color: black;

                    &:hover {
                        font-weight: 500;
                        color: $green;
                    }
                }
            }
        }
    }

    hr {
        margin: 80px 0 50px;
    }
}
