@use "../abstracts/breakpoint" as *;
@use "../abstracts/color" as *;
@use "../abstracts/spacing" as *;
@use "../abstracts/toolkit" as *;

@use "../components/button";

.top-nav {
    background: linear-gradient(
        transparent 0%,
        transparent 55%,
        $white 55%,
        $white 100%
    );

    margin-top: 10px;
    @include desktop {
        margin-top: $component-spacing;
    }

    .container-fluid {
        @include desktop {
            gap: 8px;
        }
    }

    .left-nav {
        background-color: $white;
        box-shadow: 1px -1px 2px $dark-gray;

        flex: 0 0 100%;
        @include desktop {
            flex: 7 0 auto;
        }
    }

    .search {
        padding: 13px 15px 13px 18px;
        background-color: $white;
        position: relative;
        box-shadow: -1px -1px 2px $dark-gray;

        order: 0;
        flex: 1 0 auto;
        @include desktop {
            order: 1;
            flex: 3 0 auto;
        }

        input[type="search"] {
            width: 100%;
            padding: 6px 10px;
            background-color: $light-gray;
            border: 1px solid $gray;

            // 打字時會有X與放大鏡icon重疊
            &::-webkit-search-cancel-button {
                display: none;
            }
            &:focus-visible {
                outline-color: $green;
            }
        }
    }

    .dropdown-menu {
        // 修正被carousel的負margin分開
        margin-top: -5px;
        padding: 0;
        border: none;
        border-radius: 0;
        background-color: $light-gray;
    }
}
