@use "../base/breakpoint" as *;
@use "../base/color";

footer {
  box-shadow: -2px -2px 5px rgba(0,0,0,0.2);
}
.footer_container {
  padding: 40px;
  background-image: url(../images/subbg.gif);
  h5 {
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
}
.footer_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include breakpoint($lg) {
    flex-direction: row;
    justify-content: space-between;
  }
  .copyright {
    align-self: center;
    p {
      margin-bottom: 0;
      text-transform: uppercase;
      color: #606060;
      a {
        text-decoration: none;
        text-transform: capitalize;
        color: color.$green;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}