@use "../base/breakpoint" as *;
@use "../base/color";

header {
  display: flex;
  margin-top: 12px;
  margin-bottom: 40px;
  gap: 10px;
  flex-direction: column;
  text-align: center;
  font-size: 0;
  background-image: url(../images/subbg.gif);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  @include breakpoint($lg) {
    flex-direction: row;
    justify-content: space-between;
  }
  h1 {
    margin: 0;
    height: 54px;
    a {
      display: inline-block;
      height: 100%;
    }
    img {
      height: 100%;
    }
  }
  .connection_number {
    margin: 0;
    font-size: 16px;
    text-transform: capitalize;
    a {
      text-decoration: none;
      color: black;
      &:hover {
        color: color.$green;
      }
    }
  }
}