@use "../abstracts/variables" as v;

a {
  color: v.$primary-black;
  display: inline-block;
  text-decoration: none;
}

span {
  color: v.$primary-black;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}
