@use "../utils/color" as *;
@use "../utils/layout" as *;

%phone_block_gutter {
  display: flex;
  flex-direction: column;
  gap: $gap_m;
}

%phone_article_gutter {
  display: flex;
  flex-direction: column;
  gap: $gap_s;
}

