@use "../utilities/color";
@use "../utilities/breakpoint";


@mixin productSet {
    background: color.$silver;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
    transition: all 0.7s;

    h4 {
        font: {
            size: 1.25rem;
            weight: 500;
        }

        @include breakpoint.lg {
            font-size: 1rem;
        }

        text: {
            transform: uppercase;
            align: center;
        }

        //h4文字內容長度不同會換行
        height: 38px;
    }

    p {
        text-align: center;
    }

    a {
        text-transform: capitalize;
        padding: 0.25rem 1rem;
        color: color.$dark ;
        background-color: color.$gray;

        &:hover {
            background-color: color.$green;
            color: color.$white;
        }

    }

    .product-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    &:hover {
        background-color: color.$darkGray;
        opacity: .9;
        color: color.$white;
        transition: all 0.7s;

        //在desktop上移
        @include breakpoint.lg {
            transform: translateY(-3%);
        }
    }
}

.product-item {
    @include productSet();
}

//lg斷點要移動product位置
.product {
    @include breakpoint.lg {
        position: relative;
        top: -20px;
    }
}