@use "../utilities/breakpoint";
@use "../utilities/color";

%title {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

%ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

%moreButton {
    text-transform: capitalize;
    color: color.$dark;
    font-weight: 500;

    &:hover {
        color: color.$green;
    }
}

%arrowIcon {
    background-color: color.$gray;
    color: color.$white;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    text-align: center;
    line-height: 2.5rem;
    flex-shrink: 0;
}

%dateTime {
    display: inline-block;
    color: color.$white;
    background-color: color.$green;

    padding: 0.25rem 0.5rem;
    font-weight: 500;
}

.company-info {
    h2 {
        @extend %title;
    }

    .text-ellipsis {
        @extend %ellipsis;
    }

    p {
        color: color.$darkGray ;
        line-height: 1.3;
    }

    a {
        @extend %moreButton;
    }

    i {
        @extend %arrowIcon;
    }

}

.about-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 0;
    border-bottom: 1px solid color.$gray;

    p {
        margin-left: 1rem;
        text-align: start;
    }

    &:hover {
        i {
            background-color: color.$green;
        }

        p {
            color: color.$green;
        }
    }
}


.welcome-image {
    margin-bottom: 1rem;
}

.news-list {
    >div:first-child {
        margin-bottom: 1rem;

        @include breakpoint.deviceSize (breakpoint.$smSize) {
            margin-bottom: 0;
        }

        @include breakpoint.deviceSize (breakpoint.$lgSize) {
            margin-bottom: 1rem;
        }

    }
}

.news-item {
    display: flex;
    align-items: flex-start;
    gap: 1rem;

    .news-image {
        flex-basis: 50%;
    }

    .news-text {
        flex-basis: 50%;

        p {
            margin-top: 1rem;
        }
    }

    time {
        @extend %dateTime;
    }
}
