@use "../utilities/color";
@use "../utilities/breakpoint";


.product-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    background: color.$silver;
    padding: 1.5rem;

    transition: all 0.7s;

    h4 {
        font: {
            size: 1.25rem;
            weight: 500;
        }

        @include breakpoint.deviceSize (breakpoint.$lgSize) {
            font-size: 1rem;
        }

        text: {
            transform: uppercase;
            align: center;
        }

        //h4文字內容長度不同會換行
        height: 38px;
    }

    p {
        text-align: center;
    }

    a {
        text-transform: capitalize;
        padding: 0.25rem 1rem;
        color: color.$dark ;
        background-color: color.$gray;

        &:hover {
            background-color: color.$green;
            color: color.$white;
        }

    }

    .product-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    &:hover {
        background-color: color.$darkGray;
        opacity: .9;
        color: color.$white;
        transition: all 0.7s;

        transform: translateY(0%);

        //在desktop上移
        @include breakpoint.deviceSize (breakpoint.$lgSize) {
            transform: translateY(-3%);
        }

    }
}

//lg斷點要移動product位置
.product {
    @include breakpoint.deviceSize (breakpoint.$lgSize) {
        position: relative;
        top: -20px;
    }
}