@use "../utilities/breakpoint";
@use "../utilities/color";

//header navbar
@mixin sprite ($x, $y) {
    width: 27px;
    height: 27px;
    background: url("../images/social.png");
    background-repeat: no-repeat;
    background-position: $x $y;

    &:hover {
        background-position: $x 100%;
    }
}

//footer navbar
@mixin spriteFooter ($x) {
    width: 27px;
    height: 27px;
    background: url("../images/social.png");
    background-repeat: no-repeat;
    background-position: $x 100%;
    background-color: color.$white;
    border-radius: 50%;

    &:hover {
        background-position: $x 0%;
    }
}

//header social-media
.header-contact {
    display: none;

    @include breakpoint.deviceSize(breakpoint.$mdSize) {
        display: block;
    }

    .social-media {
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include breakpoint.deviceSize (breakpoint.$mdSize) {
            justify-content: flex-end;
        }

        a {
            display: inline-block;

            &:first-child {
                @include sprite(0, 0);
            }

            &:nth-child(2) {
                @include sprite(-37px, 0);
            }

            &:nth-child(3) {
                @include sprite(-74px, 0);
            }

            &:nth-child(4) {
                @include sprite(-111px, 0);
            }

            &:last-child {
                @include sprite(-150px, 0);
            }

            &+a {
                margin-left: 10px;
            }
        }
    }

    .telephone {
        >a {
            color: color.$dark;

            &:hover {
                color: color.$green;
            }
        }
    }
}

//footer social-media
.footer-contact {
    margin-bottom: 1rem;
    display: block;

    @include breakpoint.deviceSize(breakpoint.$mdSize) {
        display: none;
    }

    .social-media {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;

        a {
            display: inline-block;

            &:first-child {
                @include spriteFooter(0);
            }

            &:nth-child(2) {
                @include spriteFooter(-37.2px);
            }

            &:nth-child(3) {
                @include spriteFooter(-74px);
            }

            &:nth-child(4) {
                @include spriteFooter(-111px);

            }

            &:last-child {
                @include spriteFooter(-150px);
            }

            &+a {
                margin-left: 10px;
            }
        }
    }

    .telephone {
        color: color.$gray;

        >a {
            color: color.$green;

            &:hover {
                color: lighten(color.$green, 5%)
            }
        }
    }
}