@use "../utilities/color";


%swiperArrow {
    color: color.$darkGray;

    font: {
        size: 1.25rem;
        weight: 700;
    }

    &:hover {
        color: color.$green;
    }
}

//swiper prev&next按鈕
@mixin swiper_button ($top, $right) {
    position: absolute;
    top: $top;
    right: $right;
    left: auto;
    bottom: auto;
    margin-top: 0;
    width: auto;
    height: auto;
}

.feature {
    padding: 2rem 1.5rem 3rem;

    h2 {
        text-transform: uppercase;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .swiper-button-prev {
        @include swiper_button(5px, 30px);

        //修改套件按鈕after樣式
        &::after {
            @extend %swiperArrow;
        }
    }

    .swiper-button-next {
        @include swiper_button(5px, 0px);

        &::after {
            @extend %swiperArrow;
        }
    }
}

.swiper-slide {
    position: relative;
    overflow: hidden;

    &:hover {
        .swiper-content {
            opacity: 1;
            transform: rotate(-40deg) translate(-10%, -45%);
            transition: opacity 0.8s 0.3s, transform 0.8s 0.3s;
            z-index: 2;
        }
    }

    //左邊黑色塊
    &::before {
        content: "";
        display: block;
        width: 50%;
        height: 200%;
        opacity: 0;
        background: color.$dark;
        position: absolute;
        top: 0;
        left: 0;
        transform: rotate(50deg) translate(-300%, -30%);
        z-index: 1;
        transition: all 0.5s;
    }

    //右邊黑色塊
    &::after {
        content: "";
        display: block;
        width: 60%;
        height: 200%;
        opacity: 0;
        background: color.$dark;
        position: absolute;
        top: 0;
        left: 0;
        border-right: 3px solid color.$green;
        transform: rotate(50deg) translate(120%, -30%);
        z-index: 1;
        transition: all 0.5s;
    }

    &:hover::before {
        opacity: .7;
        transform: rotate(50deg) translate(-150%, -30%);
        transition: all 0.5s;
    }

    &:hover::after {
        opacity: .7;
        transform: rotate(50deg) translate(-5%, -30%);
        transition: all 0.5s;
    }
}

.swiper-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(0deg) translate(-50%, -50%);
    opacity: 0;

    p {
        color: color.$white;
        margin-bottom: 1rem;
        white-space: nowrap;

        //裝飾線
        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 1px;
            height: 200%;//用高度設定
            background-color: color.$white;
            top: -15px;
            bottom: 0px;
            left: 0;
            right: 0;
            margin: auto;
            transform: rotate(-90deg);
        }
    }
}

.swiper-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        &:hover {
            transform: scale(1.05);
        }
    }
}