.carousel {
  .carousel-control-prev, .carousel-control-next {
    width: fit-content;
    height: fit-content;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    
  }
  .carousel-control-next-icon, .carousel-control-prev-icon {
    width: 50px;
    height: 150px;
    background-position: top;
    background-size: 101%;
    &:hover {
      background-position: bottom;
    }
  }
  .carousel-control-next-icon {
    background-image: url(../images/slider_next.gif);
  }
  .carousel-control-prev-icon {
    background-image: url(../images/slider_prev.gif);
  }
  img {
    min-height: 250px;
    object-fit: cover;
  }
}