@use "../base/color";

.dialogue {
  &_speech {
    position: relative;
    margin-bottom: 30px;
    padding: 20px 20px;
    font-size: 14px;
    background-color: color.$light-gray;
    filter: drop-shadow(1px 1px 0px #cccccc) drop-shadow(-1px -1px 0px #cccccc);
    &::after {
      content: "";
      position: absolute;
      bottom: -20px;
      left: 0;
      border-style: solid;
      border-width: 20px 20px 0 0;
      border-color: color.$light-gray transparent transparent transparent;
    }
  }
  .speaker_img {
    display: inline-block;
    margin-right: 20px;
    width: 60px;
    vertical-align: middle;
    img {
      width: 100%;
    }
  }
  &_speaker {
    display: inline-block;
    vertical-align: middle;
    p {
      margin: 0;
    }
    a {
      font-style: italic;
      text-decoration: none;
      color: color.$green;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}