@use "../base/color";

.news {
  display: flex;
  gap: 30px;
  .news_img {
    width: 145px;
    flex-shrink: 0;
    img {
      width: 100%;
    }
  }
  span {
    display: inline-block;
    margin-bottom: 20px;
    padding: 5px 15px;
    background-color: color.$green;
    color: color.$white;
  }
  p {
    margin: 0;
    font-size: 14px;
    color: color.$gray;
    a {
      text-transform: capitalize;
      text-decoration: none;
      color: black;
      &:hover {
        color: color.$green;
      }
    }
  }
}