@use "../base/breakpoint" as *;
@mixin background-position($normal-position, $hover-position) {
  background-position: $normal-position;
  &:hover {
    background-position: $hover-position;
  }
}

.social_media {
  text-align: center;
  @include breakpoint($lg) {
    text-align: right;
  }
  a {
    display: inline-block;
    width: 32px;
    height: 27px;
    background-image: url(../images/social.png);
    background-repeat: no-repeat;
    &:first-child{
      @include background-position(top left 3px, bottom left 3px);
    }
    &:nth-child(2) {
      @include background-position(top left -35px, bottom left -35px);
    }
    &:nth-child(3) {
      @include background-position(top center, bottom center);
    }
    &:nth-child(4) {
      @include background-position(top right -36px, bottom right -36px);
    }
    &:nth-child(5) {
      @include background-position(top right 3px, bottom right 3px);
    }
  }
}